---

- name: Fail if not Redhat
  fail:
    msg: "This role supports only the Redhat family. This computer is installed on the following OS ({{ ansible_os_family }})"
  when: ansible_os_family != "RedHat" # Centos

- name: Network
  become: true
  import_tasks: 'root_network.yml'
  tags: network

- name: Package
  become: true
  import_tasks: 'root_package.yml'
  tags: package

- name: Sshd
  become: true
  import_tasks: 'root_sshd.yml'
  tags: ssh

- name: Fail2ban
  become: true
  import_tasks: 'root_fail2ban.yml'
  tags: fail2ban

- name: Cgroups # Resource consumption
  become: true
  import_tasks: 'root_cgroups.yml'
  tags: cgroups
