---

- name: 'Upgrade all packages'
  yum:
    name=*
    state=latest

- name: Add the EPEL repository
  yum_repository:
    name: epel
    description: EPEL YUM repo
    baseurl: https://dl.fedoraproject.org/pub/epel/$releasever/$basearch/
    gpgcheck: yes

- name: "Adds the gpg key from the EPEL repo"
  rpm_key:
    state: present
    key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-7

- name: "Install Jq"
  become: yes
  yum:
    name: jq
    enablerepo: epel
    state: present

# Added nmap to tbe able to scan the open port at the command line
- name: "Install nmap"
  become: yes
  yum:
    name: nmap
    enablerepo: epel
    state: present

- name: 'Firewalld - Add port {{ssh_target_port}}'
  firewalld:
    port: '{{ssh_target_port}}/tcp'
    permanent: yes
    state: enabled
  notify: firewalld reload

- name: Update the /etc/ssh/sshd_config file
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "^Port"
    line: "Port {{ ssh_target_port }}"
    insertafter: EOF
    state: present
  register: ssh_config
  notify: ssh reload
