
# Cgroups is a resource management system
# to be able to manage the restrained the resources of each process

- name: "Cgroups - Install Cgroups"
  yum:
    name:
      - libcgroup
      - libcgroup-tools # the service cgconfig is in there
    state: present

- name: 'Cgroups - Enabled and start the service'
  systemd:
    name: 'cgconfig'
    enabled: 'yes'
    state: started

- name: Create the CPU 50 group {{ cgroup_cpu_50 }}
  when:
  shell:
    cmd: |
      cgcreate -g cpu:/{{ cgroup_cpu_50 }};
      cgset -r cpu.shares=512 {{ cgroup_cpu_50 }}



