
- name: Copy the sudoer file
  template:
    src: 'wheel.sudoer'
    dest: '/etc/sudoers.d/wheel'
    mode: 0750


- name: "User - Create the login user"
  user:
    name: '{{ ssh_user_name }}'
    comment: The SSH user
    state: present
    group: 'users'
    groups:
      - wheel # The sudo admin group
    password: "{{ ssh_user_password | password_hash('sha512') }}"


# May be we could have add that in the wheel.sudoer file
- name: Sshd - No root login
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "^PermitRootLogin"
    line: "PermitRootLogin no"
    insertafter: EOF
    state: present
  notify: ssh reload

