---
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/package_module.html
- name: Check if chrome is installed
  become: true
  package:
    name: google-chrome-stable
    state: present
  check_mode: true
  ignore_errors: yes
  register: chrome_package_check

#- debug: msg="{{ chrome_package_check }}"
# When not installed
#ok: [beau] => {
#      "msg": {
#        "changed": false,
#        "failed": true,
#        "msg": "No package matching 'chrome' found available, installed or updated",
#        "rc": 126,
#        "results": [
#          "No package matching 'chrome' found available, installed or updated"
#        ]
#      }
#}

- name: Install if failed is true
  become: true
  when: chrome_package_check.rc != 0
  block:
    - name: The google key
      rpm_key:
        state: present
        key: https://dl.google.com/linux/linux_signing_key.pub
    - name: download the rpm
      get_url:
        url: "https://dl.google.com/linux/direct/google-chrome-stable_current_x86_64.rpm"
        dest: "/tmp/google-chrome-stable_current_x86_64.rpm"
        force: no # download only if not already downloaded
    - name: install
      yum:
        name: "/tmp/google-chrome-stable_current_x86_64.rpm"
        state: present

- name: Chrome should be present
  yum:
    name: google-chrome-stable
    state: present
