

- name: Install
  become: yes
  block:
    - name: "Create the group {{ gnico_user_group }}"
      group:
        name: '{{ gnico_user_group }}'
        state: present
    - name: "Create the user {{ gnico_user_name }}"
      user:
        name: '{{ gnico_user_name }}'
        comment: User for the gerarnico app
        shell: /bin/bash
        state: present
        group: '{{ gnico_user_group }}'
    - name: Create the install path {{ gnico_install_path }}
      file:
        state: directory
        path: '{{ gnico_install_path }}'
        group: '{{ gnico_user_name }}'
        owner: '{{ gnico_user_group }}'
        mode: 'u=rwx,g=rx,o=rx'
    - name: Stop gnico
      systemd:
        state: stopped
        name: gnico
    - name: Delete the jar (Hack because we are for now deploying a snapshot jar that has always the same name)
      file:
        state: absent
        path: '{{ gnico_install_path }}/bytle-api-0.0.1-SNAPSHOT-all.jar'
    - name: Download the fat jar
      maven_artifact:
        group_id: net.bytle
        artifact_id: bytle-api
        version: 'latest'
        classifier: all
        repository_url: '{{ gnico_repository_url }}'
        username: '{{ gnico_repository_user }}'
        password: '{{ gnico_repository_pwd }}'
        dest: '{{ gnico_install_path }}/'
        group: '{{ gnico_user_name }}'
        owner: '{{ gnico_user_group }}'
        state: present
        keep_name: yes
        mode: 'u=rwx,g=rx,o=rx'
      register: maven_download
    - name: 'Get and set the downloaded latest jar path'
      set_fact:
        gnico_fat_jar_path: '{{ maven_download.dest }}'
    - name: Copy the systemd nexus.service file
      template:
        src: gnico.service
        dest: /etc/systemd/system/gnico.service
        mode: 0644
      notify:
        - 'gnico reload'
    - name: Restart gnico
      systemd:
        state: restarted
        name: gnico
    - name: Test that the service is up
      uri:
        url: http://localhost:8083/ip/143.176.206.80
        method: GET
        status_code: 200
      register: ipcall
    - name: Fail if the body is not the expected one
      when: ipcall.msg != '{"success":true,"ip":"143.176.206.80","country2":"NL","country3":"NLD","country":"Netherlands"}'
      fail:
        msg: 'The expected body is not the good one {{ ipcall.msg }}'
