---
# doc: https://docs.netdata.cloud/packaging/installer/#install-netdata

# from
# https://github.com/netdata/netdata/blob/master/netdata-installer.sh#L121
#  We suggest to install it as root, or certain data collectors will
#  not be able to work. Netdata drops root privileges when running.
#  So, if you plan to keep it, install it as root to get the full
#  functionality

# Info: Install as non root should gives the following permissions after installation
# https://github.com/netdata/netdata/blob/master/netdata-installer.sh#L1009


- set_fact:
    auto_update_cli_option: "{{ netdata_auto_updates['enabled']|ternary('--auto-update', '') }}"

- name: install | Cloning {{ netdata_git_repo }} to {{ netdata_source_dir }}
  git:
    repo: "{{ netdata_git_repo }}"
    dest: "{{ netdata_source_dir }}"
    depth: 1


# See install option at https://github.com/netdata/netdata/blob/master/netdata-installer.sh#L152
- name: Install | Installing Netdata from {{ netdata_source_dir }} to {{ netdata_prefix }}
  command: "{{ command_args|join(' ') }}"
  vars:
    command_args:
      - "./netdata-installer.sh"
      - "--install {{ netdata_install_path }}"
      - "{{ auto_update_cli_option }}" # Install netdata-updater in cron to update netdata automatically once per day
      - "--stable-channel" # fetch and install only the official releases from GitHub
      - "--dont-wait" # Run installation in non-interactive mode
  args:
    chdir: "{{ netdata_source_dir }}"
    creates: "{{ netdata_config_file }}" # after installation, the conf file is created
  notify: restart netdata
