---


- name: 'Installation script is only for Redhat/Centos'
  fail:
    msg: "This host is not a redhat os but a ({{ ansible_os_family }}). The installation is not supported"
  when: ansible_os_family != "RedHat"

- name: 'Prerequisites (package)'
  become: true
  include: netdata_install.yml


- name: netdata should be started
  become: true
  systemd:
    name: "netdata"
    state: "started"
    enabled: true
