
- name: Stat the Nginx conf
  stat:
    path: '/etc/nginx/nginx.conf'
  register: nginx_conf

- name: Installing the site
  when: nginx_conf.stat.exists
  block:
    - name: Nginx | Configuring Nginx
      template:
        src: netdata-nginx-site.conf.j2
        dest: "/etc/nginx/conf.d/netdata.conf"
        backup: yes
      notify: reload nginx
