---

# Add EPEL
- name: 'Package - Add the EPEL repository'
  yum_repository:
    name: epel
    description: EPEL YUM repo
    baseurl: https://dl.fedoraproject.org/pub/epel/$releasever/$basearch/
    gpgcheck: yes
- name: "Package - Adds the gpg key from the EPEL repo"
  rpm_key:
    state: present
    key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-7

# Install
- name: Install
  yum:
    name: netdata
    state: present
    enablerepo: epel




