# Weblog connector
# Python: https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin/web_log
# Go was not still available https://learn.netdata.cloud/docs/agent/collectors/go.d.plugin/modules/weblog#custom-log-format
# cd /usr/libexec/netdata
# ./edit-config python.d/web_log.conf
# vi /etc/netdata/python.d/web_log.conf

# The configuration is automatic, netdata should have access to  `/var/log/nginx/access.log`
- name: Netdata - Web Log - Add the Netdata user to Nginx
  tags: netdata-weblog
  ansible.builtin.user:
    name: netdata
    groups: "nginx, {{www_group}}"
    append: yes

# Add web log for nginx and datacadamia
# looking for 'web_log.conf' in ['/etc/netdata/python.d', '/usr/lib/netdata/conf.d/python.d']
- name: Netdata - Web Log - Conf file
  tags: netdata-weblog
  template:
    src: web_log.conf
    dest: /etc/netdata/python.d/web_log.conf
  notify: netdata reload
