---
- name: config | Configuring Netdata Service (systemd)
  template:
    src: netdata.service
    dest: /etc/systemd/system/netdata.service
    owner: root
    group: root
    mode: u=rw,g=rw,o=r
  notify:
    - reload systemd netdata
    - restart netdata
  when: ansible_service_mgr == "systemd"


