#file: noinspection YAMLSchemaValidation
---

###################################
# Repo
###################################


###################################
# Web server
###################################
# A www root directory where the php website will be placed
# this directory should be readable by php and the web server (ie nginx)
www_root_dir: '/opt/www'

###################################
# fpm
###################################
# the service process that will get the request from nginx and send them to php
fpm_spool_www_name: 'www'
www_user: 'www-user' # the default is www-data but as it will be a ssh open account we make it more difficult to find
www_group: 'www-user'
www_user_pwd: '{{ www_user_pwd_vault }}' # not the vault directly otherwise argument 1 must be string,
www_user_pwd_vault: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  37653862623031666463363162613335356336636231366665393962306234643064323030396339
  3066363762363638633462646361333134393134376232660a323830646161366537613261656530
  37346630323965646661396161376361323431323832366666363366613538383736646463316137
  6264666164616438350a653161396235333561386439376632303561303563386233346630626531
  6263
fpm_spool_www_port: 9000 # port of the php-fpm process

# The log should have the www-group
# when installing apache got the ownership
fpm_base_log: /var/log/php-fpm
# Without this configuration
# the error are going nowhere
# The error_log config has no effect
fpm_error_log: '{{ fpm_base_log }}/{{ fpm_spool_www_name }}-error.log'

# The name where php-fpm will send the status page
fpm_status_path: '/php-status'

###################################
### php.ini
###################################
# ALways
# from https://www.php.net/manual/en/install.unix.nginx.php
# to prevent Nginx from passing requests to the PHP-FPM backend
# if the file does not exist, in order to prevent arbitrarily script injection.
php_cgi.fix_pathinfo: 1

# Prod reporting
php_error_reporting: 'E_ALL & ~E_DEPRECATED & ~E_STRICT'
# php_error_reporting: 'E_ALL' #dev

php_display_errors: 'Off'
#php_display_errors: 'On' # dev

# the error_log has no effect, see php-fpm error log config
