#!/usr/bin/env bash
# Shebang to just allow refactoring by the ide

# Yq is used to query pom.xml
# `Yq --exit-status` will return a bad exit status and stop the script if no match is found
if ! yq --version >/dev/null 2>&1; then
  echo "yq should be installed"
  return 1
fi

# For aider
case "${LLM:-}" in
  "openai")
    export OPENAI_API_KEY
    OPENAI_API_KEY=$(pass openai/tabulify-project)
    ;;
  *)
    export ANTHROPIC_API_KEY
    ANTHROPIC_API_KEY=$(pass anthropic/tabulify)
esac


# Git Hooks (modify the .git/config file)
git config core.hooksPath ./.git-hooks
export GIT_REPO=EraldyHq/tabulify

# Used by git-cliff
# https://git-cliff.org/docs/integration/github
export GITHUB_TOKEN
GITHUB_TOKEN=$(pass github/docker-registry)
export GITHUB_REPO=${GIT_REPO}

# SDKMAN
# loading, as it's as the sdk command is a bash function
export SDKMAN_DIR=${SDKMAN_DIR:-"$HOME/.sdkman"}
SDKMAN_INIT_FILE="${SDKMAN_DIR}/bin/sdkman-init.sh"
if [[ ! -s "$SDKMAN_INIT_FILE" ]]; then
  echo "sdkman init file was not found and is mandatory (Path: $SDKMAN_INIT_FILE)"
  echo "You can"
  echo "  * install sdkman"
  echo "  * or overwrite the <.sdkman> dir by setting the SDKMAN_DIR env"
  return 1
fi
# We disable `set -o nounset` to avoid unbound variable errors
set +u
# shellcheck disable=SC1090
source "${SDKMAN_INIT_FILE}"

# Note sdkman vs nix (May be devbox?)
# We don't use nix because the jdk11 package distro is difficult to know and the version to pinpoint
# FYI:
# Nix: OpenJDK Runtime Environment (build 11.0.25+0-adhoc..source)
# Temurin: OpenJDK Runtime Environment Temurin-11.0.26+4 (build 11.0.26+4)



# Java Temurin
# Compilation based on https://github.com/openjdk/jdk11u
export JDK_VERSION
JDK_VERSION=$(yq --exit-status '.project.properties."maven.compiler.target"' pom.xml)
export JRELEASER_PROJECT_LANGUAGES_JAVA_VERSION=${JDK_VERSION}
export JDK_DISTRIBUTION
JDK_DISTRIBUTION=$(yq --exit-status '.project.properties."jdk.distribution"' pom.xml | cut -c 1-3)
SDKMAN_JDK_VERSION="${JDK_VERSION}-${JDK_DISTRIBUTION}"
if ! sdk home java "${SDKMAN_JDK_VERSION}" >/dev/null; then
  sdk install java "${SDKMAN_JDK_VERSION}"
fi
sdk use java "${SDKMAN_JDK_VERSION}"

###################
# Mavens
###################
SDKMAN_MAVEN_VERSION=3.9.9
if ! sdk home maven "${SDKMAN_MAVEN_VERSION}" >/dev/null; then
  sdk install maven "${SDKMAN_MAVEN_VERSION}"
fi
sdk use maven "${SDKMAN_MAVEN_VERSION}"

###################
# JReleaser
###################
JRELEASER_VERSION=$(yq --exit-status '.project.properties."jreleaser.version"' pom.xml)
if ! sdk home jreleaser "${JRELEASER_VERSION}" >/dev/null; then
  sdk install jreleaser "${JRELEASER_VERSION}"
fi
sdk use jreleaser "${JRELEASER_VERSION}"
# Project Version is mandatory for all commands
export JRELEASER_PROJECT_VERSION
# git-cliff commented out because it makes a call to github
# $(git cliff --bumped-version | tr -d 'v');
JRELEASER_PROJECT_VERSION=$(yq --exit-status '.project.parent.version' pom.xml)
export JRELEASER_GITHUB_TOKEN
JRELEASER_GITHUB_TOKEN="$GITHUB_TOKEN"
# for the docker upload
export JRELEASER_DOCKER_GHCR_IO_PASSWORD="$GITHUB_TOKEN"
# Same as maven (Default to out)
export JRELEASER_OUTPUT_DIRECTORY=target
# search the .git directory recursively
export JRELEASER_GIT_ROOT_SEARCH=true
# execution directory so that we can execute it from anywhere
# PWD is direnv directory
export JRELEASER_BASEDIR=$PWD/tabulify-cli
if [ ! -f "$JRELEASER_BASEDIR/jreleaser.yml" ]; then
  echo "Bad base dir for Jreleaser"
  return 1
fi

# Release install
export TABULIFY_HOME=$HOME/opt/tabulify
export PATH=$TABULIFY_HOME/bin:$PATH

# Tabli Envs
# Date from java util takes into account the default timezone
# https://learn.microsoft.com/en-us/java/openjdk/timezones#setting-the-tz-environment-variable
export TZ=UTC
export TABLI_ENV="dev";
export TABLI_HOME="$PWD"
