
# For aider
export ANTHROPIC_API_KEY=$(pass anthropic/tabulify)

# Git Hooks (modify the .git/config file)
git config core.hooksPath ./.git-hooks
export GIT_REPO=EraldyHq/tabulify

# Used by git-cliff
# https://git-cliff.org/docs/integration/github
export GITHUB_TOKEN
GITHUB_TOKEN=$(pass github/docker-registry)
export GITHUB_REPO=${GIT_REPO}

# Used by JReleaser
# Project Version is mandatory for all commands
export JRELEASER_PROJECT_VERSION
JRELEASER_PROJECT_VERSION=$(git cliff --bumped-version | tr -d 'v');
export JRELEASER_GITHUB_TOKEN
JRELEASER_GITHUB_TOKEN="$GITHUB_TOKEN"
# for the docker upload
export JRELEASER_DOCKER_GHCR_IO_PASSWORD="$GITHUB_TOKEN"

# Java Temurin
# Compilation based on https://github.com/openjdk/jdk11u
export JAVA_VERSION=11.0.26
export JAVA_JDK=tem
SDKMAN_VERSION="${JAVA_VERSION}-${JAVA_JDK}"
# disable set -o nounset to avoid unbound variable in the sdk man shell script
set +u
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "${SDKMAN_DIR}/bin/sdkman-init.sh" ]] && source "${SDKMAN_DIR}/bin/sdkman-init.sh"
sdk use java "${SDKMAN_VERSION}"
# We don't use nix because the jdk11 package distro is difficult to know and the version to pinpoint
# FYI:
# Nix: OpenJDK Runtime Environment (build 11.0.25+0-adhoc..source)
# Temurin: OpenJDK Runtime Environment Temurin-11.0.26+4 (build 11.0.26+4)
