
# For aider
export ANTHROPIC_API_KEY=$(pass anthropic/tabulify)


# Git Hooks (modify the .git/config file)
git config core.hooksPath ./.git-hooks
export GIT_REPO=EraldyHq/tabulify

# Used by git-cliff
# https://git-cliff.org/docs/integration/github
export GITHUB_TOKEN
GITHUB_TOKEN=$(pass github/docker-registry)
export GITHUB_REPO=${GIT_REPO}

# Used by JReleaser
# Project Version is mandatory for all commands
export JRELEASER_PROJECT_VERSION
JRELEASER_PROJECT_VERSION=$(git cliff --bumped-version | tr -d 'v');
export JRELEASER_GITHUB_TOKEN
JRELEASER_GITHUB_TOKEN="$GITHUB_TOKEN"
# for the docker upload
export JRELEASER_DOCKER_GHCR_IO_PASSWORD="$GITHUB_TOKEN"

