# https://www.testcontainers.org/supported_docker_environment/continuous_integration/gitlab_ci/

# DinD service (Docker In Docker Image) is required for Testcontainers
services:
  - docker:dind

variables:
  # Instruct Testcontainers to use the daemon of DinD.
  DOCKER_HOST: "tcp://docker:2375"
  # Improve performance with overlayfs.
  DOCKER_DRIVER: overlay2

# Test Job
test:
  image: gradle:5.6.4-jdk8
  stage: test
  script: ./gradlew test -PnexusUserPwd=$NEXUS_PWD --stacktrace --info
  artifacts:
    reports:
      # Error can be seen in the pipeline test tab
      # https://docs.gitlab.com/ee/ci/pipelines/job_artifacts.html#artifactsreportsjunit
      junit: '*/build/test-results/test/TEST-*.xml'
  # Only on master or scheduled
  # https://docs.gitlab.com/ee/ci/yaml/#onlyrefsexceptrefs
  only:
    refs:
      - master
      - schedules



