target/
build/
.gradle
**/.gradle/
**/build/
**/out/
.idea
.idea/*
*.iml
.env
.yarn
logs
**/*secret
**/*secret.*

# .aider* is chcked by default
.aider*
!.aider.conf.yml
!.aiderignore

# https://stackoverflow.com/questions/22904573/what-is-the-purpose-of-dependency-reduced-pom-xml-generated-by-the-shade-plugin
dependency-reduced-pom.xml
