# https://www.testcontainers.org/supported_docker_environment/continuous_integration/gitlab_ci/

# DinD service is required for Testcontainers
services:
  - docker:dind

variables:
  # Instruct Testcontainers to use the daemon of DinD.
  DOCKER_HOST: "tcp://docker:2375"
  # Improve performance with overlayfs.
  DOCKER_DRIVER: overlay2

test:
  image: gradle:5.6.4-jdk8
  stage: test
  script: ./gradlew test -PnexusUserPwd=$NEXUS_PWD
  artifacts:
    reports:
      junit: build/test-results/test/**/TEST-*.xml


