<?xml version="1.0" encoding="UTF-8"?>
<!--
Doc:
See log4j.md
and the official doc: https://logging.apache.org/log4j/2.x/manual/configuration.html

The loggers are not here. They are created in the Log4JConfiguration Class
-->
<!--
Configuration Node: attribute definitions are here:
https://logging.apache.org/log4j/log4j-2.1/manual/configuration.html#Configuration_with_XML
where `status="trace"` will show internal log4j2 debug statements
-->
<Configuration status="warn">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n"/>
    </Console>
    <!-- HTTP request log -->
    <RollingFile name="Web"
                 fileName="logs/web.log"
                 filePattern="logs/web/$${date:yyyy-MM}/web-%d{MM-dd-yyyy}-%i.log">
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>
    <!-- Csp logs -->
    <RollingFile name="Csp"
                 fileName="logs/csp/csp.jsonl"
                 filePattern="logs/csp/$${date:yyyy-MM}/csp-${ctx:event_slug}-%d{yyyy-dd-MM}-%i.jsonl">
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>
    <!-- Failure log -->
    <RollingFile name="Failure"
                 fileName="logs/failure.log"
                 filePattern="logs/failure/$${date:yyyy-MM}/failure-%d{MM-dd-yyyy}-%i.log">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="50 MB"/>
      </Policies>
    </RollingFile>
  </Appenders>
  <!-- To avoid this warning message, we add the root logger
    WARN StatusConsoleListener No Loggers were configured, using default. Is the Loggers element missing?
  -->
  <Loggers>
    <Root level="warn"/>
  </Loggers>

</Configuration>
