# tasks file
- name: Fail if not Redhat
  fail:
    msg: "This role supports only the Redhat family. This computer is installed on the following OS ({{ ansible_os_family }})"
  when: ansible_os_family != "RedHat" # Centos


- name: Download and unarchive Presto
  unarchive:
    src: https://repo1.maven.org/maven2/com/facebook/presto/presto-server/{{presto_version}}/presto-server-{{presto_version}}.tar.gz
    dest: /opt
    remote_src: yes
    owner: root
    group: root
    mode: 0755

- name: Symbolic link for presto server
  file:
    src: /opt/presto-server-0.185
    dest: /opt/presto
    state: link


# To continue
