---

- name: Fail if not Redhat
  fail:
    msg: "This role supports only the Redhat family. This computer is installed on the following OS ({{ ansible_os_family }})"
  when: ansible_os_family != "RedHat" # Centos


- name: Root postfix task
  import_tasks: 'post.yml'
  become: true
