---

- name: Fail if not Redhat
  fail:
    msg: "This role supports only the Redhat family. This computer is installed on the following OS ({{ ansible_os_family }})"
  when: ansible_os_family != "RedHat" # Centos


- name: Root postfix task
  import_tasks: 'post.yml'
  become: true

- name: Root postfix tls configuration
  import_tasks: 'post_tls.yml'
  become: true
  tags: postfix_tls

- name: Root opendkim task
  import_tasks: 'root_opendkim.yml'
  become: true
  tags: dkim

- name: Virtual alias domain
  import_tasks: 'post_virtual.yml'
  become: true
  tags: postfix_virtual

- name: Sender Rewriting Scheme (SRS)
  import_tasks: 'post_srs.yml'
  become: true
  tags: postfix_srs

