---

- name: Fail if not Redhat
  fail:
    msg: "This role supports only the Redhat family. This computer is installed on the following OS ({{ ansible_os_family }})"
  when: ansible_os_family != "RedHat" # Centos


- name: Root postfix task
  import_tasks: 'post.yml'
  become: true

- name: Create the user mail accounts
  become: true
  tags: postfix-mail-account
  import_tasks: 'post_mail_accounts.yml'

- name: Root postfix tls configuration
  import_tasks: 'post_tls.yml'
  become: true
  tags: postfix-tls

- name: Root opendkim task
  tags: dkim
  import_tasks: 'root_opendkim.yml'
  become: true

- name: Virtual alias domain
  import_tasks: 'post_virtual.yml'
  become: true
  tags: postfix-virtual

- name: Sender Rewriting Scheme (SRS)
  import_tasks: 'post_srs.yml'
  become: true
  tags: postfix-srs

- name: SMTP port 587 (submission)
  tags: postfix-submission
  become: true
  import_tasks: 'post_submission.yml'

