---
- name: Ensure postfix is installed.
  package:
    name: postfix
    state: present

- name: Ensure sendmail is not
  package:
    name: sendmail
    state: absent

# mailutils package what's that

- name: Update Postfix configuration.
  lineinfile:
    dest: /etc/postfix/main.cf
    line: "{{ item.name }} = {{ item.value }}"
    regexp: "^#{1,0}{{ item.name }} ="
  with_items:
    - name: myhostname
      value: "mail.bytle.net"
    - name: mydomain
      value: "bytle.net"
    # origin to send email as user@$mydomain"
    - name: myorigin
      value: "$mydomain"
    - name: inet_interfaces
      value: "{{ postfix_inet_interfaces }}"
    - name: inet_protocols
      value: "{{ postfix_inet_protocols }}"
  notify: restart postfix

- name: Ensure postfix is started and enabled at boot.
  service:
    name: postfix
    state: started
    enabled: true
