---


# Submission port with default variable as advertised in the master file
- name: Enable the submission port 587
  notify: restart postfix
  blockinfile:
    marker: "# {mark} ANSIBLE MANAGED BLOCK Hostname"
    path: /etc/postfix/master.cf
    block: |
      submission inet n       -       n       -       -       smtpd
        -o syslog_name=postfix/submission
        -o smtpd_tls_security_level=encrypt
        -o smtpd_sasl_auth_enable=yes
        -o smtpd_reject_unlisted_recipient=no
        -o smtpd_client_restrictions=$mua_client_restrictions
        -o smtpd_helo_restrictions=$mua_helo_restrictions
        -o smtpd_sender_restrictions=$mua_sender_restrictions
        -o smtpd_recipient_restrictions=permit_sasl_authenticated,reject
        -o milter_macro_daemon_name=ORIGINATING


- name: Ensure sasl is started and enabled at boot.
  service:
    name: saslauthd
    state: started
    enabled: true


