---

- name: Ensure postfix is installed.
  package:
    name: postfix
    state: present

- name: Ensure sendmail is not
  package:
    name: sendmail
    state: absent

- name: Install a local client mail
  package:
    name: mailx
    state: present
