
- name: Ensure opendkim is installed.
  package:
    name: opendkim
    state: present
    enablerepo: epel

- name: Set opendkim configuration.
  notify: restart opendkim
  lineinfile:
    dest: '{{ dkim_conf_path }}'
    line: "{{ item.name }} {{ item.value }}"
    regexp: "^(#\\s)?{{ item.name }}"
  with_items:
    - name: Socket # the socket communication
      value: "inet:{{ dkim_socket_port }}@localhost"
    - name: KeyTable # Mapping between DNS selector and private key
      value: "refile:{{ dkim_key_table_path }}"
    - name: SigningTable # Mapping between address and DNS selector
      value: "refile:{{ dkim_signing_table_path }}"
    - name: Mode # Selects operating modes. Valid modes are s (sign) and v (verify). Default is v.
      value: "sv"

- name: Unset opendkim configuration.
  notify: restart opendkim
  lineinfile:
    dest: '{{ dkim_conf_path }}'
    line: "# {{ item.name }} {{ item.value }}"
    regexp: "^(#\\s)?{{ item.name }}"
  with_items:
    - name: InternalHosts
      value: "refile:/etc/opendkim/TrustedHosts"
    - name: ExternalIgnoreList
      value: "refile:/etc/opendkim/TrustedHosts"

- name: Ownership of the key directory
  file:
    path: '{{ dkim_keys_path }}'
    owner: '{{ dkim_owner }}'
    group: '{{ dkim_group }}'
    mode: '0700'


- name: Private Key
  copy:
    content: "{{ dkim_private_key }}"
    dest: "{{ dkim_key_path }}"
    owner: '{{ dkim_owner }}'
    group: '{{ dkim_owner }}'
    mode: "0600"

- name: Ownership of the key
  file:
    path: '{{ dkim_key_path }}'
    owner: '{{ dkim_owner }}'
    group: '{{ dkim_group }}'
    mode: '0600'

- name: Update opendkim keymap file
  notify: restart opendkim
  lineinfile:
    dest: '{{ dkim_key_table_path }}'
    line: "{{ dkim_selector }}._domainkey.{{ item.name }} {{ item.name }}:{{ dkim_selector }}:{{ dkim_key_path }}"
    regexp: "{{ dkim_selector }}._domainkey.{{ item.name }}"
  with_items: "{{ dkim_domains }}"

- name: Update opendkim SigningTable file
  notify: restart opendkim
  lineinfile:
    dest: '{{ dkim_signing_table_path }}'
    line: "*@{{ item.name }} {{ dkim_selector }}._domainkey.{{ item.name }}"
    regexp: "\\*@{{ item.name }}"
  with_items: "{{ dkim_domains }}"


- name: Update Postfix configuration.
  notify: restart postfix
  lineinfile:
    dest: '{{postfix_conf_path}}'
    line: "{{ item.name }} = {{ item.value }}"
    regexp: "^[#]{0,1}{{ item.name }}"
  with_items:
    - name: smtpd_milters # smtp-only
      value: "inet:localhost:{{ dkim_socket_port }}"
    - name: non_smtpd_milters  # command line
      value: "inet:localhost:{{ dkim_socket_port }}"

- name: Ensure dkim is started and enabled at boot.
  service:
    name: opendkim
    state: started
    enabled: true

- name: Verification of the DNS Zone against the private key
  register: dns_test_result
  changed_when: "dns_test_result.rc != 0"
  failed_when: "dns_test_result.rc != 0"
  shell:
    cmd: "opendkim-testkey -d {{ item.name }} -s {{ dkim_selector }} -k {{ dkim_key_path }}"
  with_items: "{{ dkim_domains }}"
  tags: dkim-test-key


