[Unit]
Description=Prometheus
After=syslog.target
After=network.target


[Service]
Type=simple
User={{ prometheus_user_name }}
Group={{ prometheus_user_group }}
WorkingDirectory={{ prometheus_home }}
ExecStart={{ prometheus_home }}/prometheus \
  --config.file={{ prometheus_home }}/prometheus.yml \
  --web.listen-address=:{{ prometheus_port }}
Restart=always
Environment=USER={{ prometheus_user_name }} HOME={{ prometheus_home }}


[Install]
WantedBy=multi-user.target
