[Unit]
Description=Prometheus Node Explorer
After=syslog.target
After=network.target


[Service]
Type=simple
User={{ prometheus_user_name }}
Group={{ prometheus_user_group }}
WorkingDirectory={{ prometheus_home }}
ExecStart={{ prometheus_home }}/node_exporter
Restart=always
Environment=USER={{ prometheus_user_name }} HOME={{ prometheus_home }}


[Install]
WantedBy=multi-user.target
