openapi: 3.0.3
info:
  title: IP
  description: An API for IP geo-localisation data
  # Quote are deleted https://github.com/OpenAPITools/openapi-generator/issues/3196
  # We can't therefore use a date string as the generated openapi.yaml file has no quote
  # and the data is seen as date, not as string
  version: "v2023-06-18"
servers:
  - url: 'https://api.eraldy.com'
  - url: 'http://localhost:8084'
# check the openApi.md file to know more about tags.
tags:
  - name: ip
    description: Ip operation
# Secure by default, if you want to make an operation public, you need to set the security for an operation to the empty array
# security: []
security:
  - apiKeyAuth: [ ]
components:
  securitySchemes:
    apiKeyAuth:
      $ref: '../../../../tower/src/main/openapi/eraldy-common-openapi.yaml#/components/securitySchemes/apiKeyAuth'
  schemas:
    IpInfo:
      $ref: '../../../../vertx/src/main/openapi/ip-geolocation.yaml#/components/schemas/IpInfo'
paths:
  /ip/ping:
    get:
      operationId: "pingGet"
      summary: A health check endpoint
      security: []
      tags:
        - ip
      responses:
        '200':
          description: API health status
  /ip:
    get:
      operationId: "ipGet"
      summary: "Return client information based on the HTTP request ip"
      tags:
        - ip
      responses:
        '200':
          description: "Geolocation data based on the IP"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpInfo'
        '404':
          description: "Not Found"
  /ip/{ip}:
    get:
      operationId: "ipIpGet"
      summary: "Return client information based on the ip"
      tags:
        - ip
      parameters:
        - name: ip
          description: "The IP (default to the IP of the HTTP request)"
          # Path parameters are mandatory
          # https://github.com/OAI/OpenAPI-Specification/issues/622
          required: true
          in: path
          schema:
            type: string
            format: ipv4
            example: "143.176.206.80"
      responses:
        '200':
          description: "Geolocation data based on the IP"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpInfo'
        '404':
          description: "Not Found"
