---


- name: 'Fail if not RedHat family: Family is: ({{ ansible_os_family }})'
  fail:
    msg: "This role supports only the Redhat family. This computer is installed on the following OS ({{ ansible_os_family }})"
  when: ansible_os_family != "RedHat" # Centos, Fedora

- name: Os Facts
  become: true
  import_tasks: 'os_facts.yml'
  tags: os-facts

- name: Os Update all package
  become: true
  import_tasks: 'os_update.yml'
  tags: os-update

- name: User
  become: true
  import_tasks: 'root_user.yml'
  tags: user

- name: Network
  become: true
  import_tasks: 'root_network.yml'
  tags: network

- name: Populate service facts to check firewalld
  tags: os-firewall
  service_facts:

- name: Firewall
  when: "'firewalld.service' in services"
  become: true
  import_tasks: 'root_firewall.yml'
  tags: os-firewall

- name: Package
  become: true
  import_tasks: 'root_package.yml'
  tags: os-package

- name: Sshd
  become: true
  import_tasks: 'root_sshd.yml'
  tags: os-ssh

- name: Fail2ban
  become: true
  import_tasks: 'root_fail2ban.yml'
  tags: os-fail2ban

- name: Cgroups # Resource consumption
  become: true
  import_tasks: 'root_cgroups.yml'
  tags: os-cgroups

- name: Selinux
  become: true
  import_tasks: 'root_selinux.yml'
  tags: os-selinux
