
- name: Copy the sudoer file
  template:
    src: 'wheel.sudoer'
    dest: '/etc/sudoers.d/wheel'
    mode: 0750



# May be we could have add that in the wheel.sudoer file
- name: Sshd - No root login
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "^PermitRootLogin"
    line: "PermitRootLogin no"
    insertafter: EOF
    state: present
  notify: ssh reload

- name: Sshd - No access to the user provided by the VPS provider
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "^DenyUsers"
    line: "DenyUsers {{ root_access_user }}"
    insertafter: EOF
    state: present
  when: root_access_user is defined and root_access_user != 'root'
  notify: ssh reload

# Only on ipv4
# https://linux.die.net/man/5/sshd_config
- name: Sshd - No ipv6 connection
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "^AddressFamily"
    line: "AddressFamily inet"
    insertafter: EOF
    state: present
  notify: ssh reload

# May be we could have add that in the wheel.sudoer file
- name: Sshd - No root login
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "^PermitRootLogin"
    line: "PermitRootLogin no"
    insertafter: EOF
    state: present
  notify: ssh reload

# User was done manually
# AllowUsers nickeau www-user@oeg.gerardnico.com backend@oeg.gerardnico.com

# Country was done manually
#  * [Allow only Netherlands SSH](https://datacadamia.com/firewalld_country)
