
- name: Restart {{ inbox_app_name }}
  become: yes
  block:
    - name: 'Restarting the service'
      systemd:
        name: '{{ inbox_app_name }}'
        state: restarted
        daemon_reload: yes
#    - name: Test that the service is up
#      uri:
#        url: 'http://localhost:{{ tower_port }}/metrics'
#        method: GET
#      register: httpcall
#      until: httpcall.status == 200
#      delay: 5 # Every 5 seconds
#      retries: 5 # 5 * 5 seconds = 25
