openapi: 3.0.3
info:
  description: |
    This is a non-stable API for the [combostrap application](https://combostrap.com)

    If you need a stable API to manage combostrap,
    check the [official API](https://api.combostrap.com)
  title: ComboStrap Private API
  version: v2023-06-18
servers:
- url: https://api.eraldy.com/combo/_private
security:
- apiKeyAuth: []
tags:
- description: Env data
  name: env
- description: Operations on realm
  name: realm
- description: Operations about users
  name: user
- description: "Operations about list management (creation, registration)"
  name: list
- description: Operations on app
  name: app
- description: Operations on list registration
  name: registration
- description: Analytics operation
  name: analytics
- description: Public API Token creation
  name: token
paths:
  /env:
    get:
      operationId: envGet
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: The env data
      summary: Return environment data
      tags:
      - env
      x-accepts: application/json
  /ping:
    get:
      operationId: pingGet
      responses:
        "200":
          description: API health status
      security: []
      summary: A health check endpoint
      tags:
      - health
      x-accepts: application/json
  /realm:
    get:
      operationId: realmGet
      parameters:
      - description: The guid of the realm
        explode: true
        in: query
        name: realmGuid
        required: false
        schema:
          example: xjkkLmi
          type: string
        style: form
      - description: The handle of the realm
        explode: true
        in: query
        name: realmHandle
        required: false
        schema:
          example: xjkkLmi
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealmAnalytics'
          description: Ok
      summary: Return the realm for the request
      tags:
      - realm
      x-accepts: application/json
    post:
      operationId: realmPost
      requestBody:
        $ref: '#/components/requestBodies/RealmPostBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Realm'
          description: Ok
        "405":
          content:
            application/json: {}
            application/xml: {}
          description: Method Not Allowed
      security:
      - apiKeyAuth:
        - write:realm
      summary: Create a realm
      tags:
      - realm
      x-content-type: application/json
      x-accepts: application/json
  /realms:
    get:
      operationId: realmsGet
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RealmAnalytics'
                type: array
          description: Return the list of realms for the connected user
        "403":
          description: Not authenticated
      security:
      - apiKeyAuth:
        - read:realm
      summary: Return the list of realms for the connected user
      tags:
      - realm
      x-accepts: application/json
  /realms/owned-by/{userGuid}:
    get:
      operationId: realmsOwnedByGet
      parameters:
      - description: The user guid
        explode: false
        in: path
        name: userGuid
        required: true
        schema:
          example: usr-xjkkLmi
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Realm'
                type: array
          description: Return the list of realms owned by the user
        "403":
          description: Not authenticated
      security:
      - apiKeyAuth:
        - read:realm
      summary: Return the list of realms owned by the user
      tags:
      - realm
      x-accepts: application/json
  /realm/{realmGuid}/users/new:
    get:
      operationId: realmUsersNewGet
      parameters:
      - description: The guid of the realm
        explode: false
        in: path
        name: realmGuid
        required: true
        schema:
          example: rea-xjkkLmi
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: The users
        "403":
          description: Not authenticated
      security:
      - apiKeyAuth:
        - read:realm
      summary: Return the list of recent new users for the realm
      tags:
      - realm
      x-accepts: application/json
  /services:
    get:
      operationId: servicesGet
      parameters:
      - description: The realm guid of the service
        explode: true
        in: query
        name: realmGuid
        required: false
        schema:
          example: xjkkLmi
          type: string
        style: form
      - description: The realm handle of the service
        explode: true
        in: query
        name: realmHandle
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Service'
                type: array
          description: Ok
      security:
      - apiKeyAuth:
        - read:service
      summary: Get all services
      tags:
      - service
      x-accepts: application/json
  /campaign/email:
    post:
      operationId: campaignEmailPost
      requestBody:
        $ref: '#/components/requestBodies/CampaignEmailPostBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
          description: Ok
      security:
      - apiKeyAuth:
        - write:campaign
      summary: Create an email campaign
      tags:
      - campaign
      x-content-type: application/json
      x-accepts: application/json
  /service:
    get:
      operationId: serviceGet
      parameters:
      - description: The guid of the service
        explode: true
        in: query
        name: serviceGuid
        required: false
        schema:
          example: xjkkLmi
          type: string
        style: form
      - description: The unique uri of the service
        explode: true
        in: query
        name: serviceUri
        required: false
        schema:
          type: string
        style: form
      - description: The realm handle of the service (the realm is needed when only
          the uri is given)
        explode: true
        in: query
        name: realmHandle
        required: false
        schema:
          type: string
        style: form
      - description: The realm guid of the service (the realm is needed when only
          the uri is given)
        explode: true
        in: query
        name: realmGuid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Ok
      security:
      - apiKeyAuth:
        - read:service
      summary: Retrieve a service by guid or uri
      tags:
      - service
      x-accepts: application/json
  /service/smtp:
    post:
      operationId: serviceSmtpPost
      requestBody:
        $ref: '#/components/requestBodies/ServiceSmtpPostBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Ok
      security:
      - apiKeyAuth:
        - write:service
      summary: Create a SMTP mail service for a app or a user
      tags:
      - service
      x-content-type: application/json
      x-accepts: application/json
  /app:
    get:
      operationId: appGet
      parameters:
      - description: The app guid
        explode: true
        in: query
        name: appGuid
        required: false
        schema:
          example: lis-xjkkLmi
          type: string
        style: form
      - description: The appUri
        explode: true
        in: query
        name: appUri
        required: false
        schema:
          type: string
        style: form
      - description: The realm handle
        explode: true
        in: query
        name: realmHandle
        required: false
        schema:
          type: string
        style: form
      - description: The realm guid
        explode: true
        in: query
        name: realmGuid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: Ok
      security:
      - apiKeyAuth:
        - read:app
      summary: |
        Retrieve an app by:
        * id with the appGuid
        * or by name with the appUri and realm (Handle or Guid)
      tags:
      - app
      x-accepts: application/json
    post:
      operationId: appPost
      requestBody:
        $ref: '#/components/requestBodies/AppPostBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: Ok
      security:
      - apiKeyAuth:
        - write:app
      summary: "Create or modify an app (ie design, ...)"
      tags:
      - app
      x-content-type: application/json
      x-accepts: application/json
  /apps:
    get:
      operationId: appsGet
      parameters:
      - description: The realm guid
        explode: true
        in: query
        name: realmGuid
        required: false
        schema:
          example: rea-xjkkLmi
          type: string
        style: form
      - description: The realm Handle
        explode: true
        in: query
        name: realmHandle
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/App'
                type: array
          description: Ok
      security:
      - apiKeyAuth:
        - read:app
      summary: List apps for a realm
      tags:
      - app
      x-accepts: application/json
  /user/auth:
    get:
      operationId: userAuthGet
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUser'
          description: Ok
        "404":
          description: "Not found, not logged in"
      summary: Return the authenticated user
      tags:
      - user
      x-accepts: application/json
  /user:
    get:
      operationId: userGet
      parameters:
      - description: The guid of the user
        explode: true
        in: query
        name: userGuid
        required: false
        schema:
          example: xjkkLmi
          type: string
        style: form
      - description: The email of the user
        explode: true
        in: query
        name: userEmail
        required: false
        schema:
          example: john@doe.com
          format: email
          type: string
        style: form
      - explode: true
        in: query
        name: realmHandle
        required: false
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: realmGuid
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Ok
      security:
      - apiKeyAuth:
        - read:user
      summary: |
        Get a user by guid or email
      tags:
      - user
      x-accepts: application/json
    post:
      operationId: userPost
      requestBody:
        $ref: '#/components/requestBodies/UserPostBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Ok
      security:
      - apiKeyAuth:
        - write:user
      summary: Create or modify a user (a guid or a email should be given)
      tags:
      - user
      x-content-type: application/json
      x-accepts: application/json
  /user/{guid}:
    get:
      operationId: userGuidGet
      parameters:
      - description: The guid of the user
        explode: false
        in: path
        name: guid
        required: true
        schema:
          example: xjkkLmi
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Ok
      security:
      - apiKeyAuth:
        - read:user
      summary: |
        Get a user by guid

        If you want to use the email has identifier,
        you should use the `userGet` operation passing the email as query parameter
      tags:
      - user
      x-accepts: application/json
  /users:
    get:
      operationId: usersGet
      parameters:
      - explode: true
        in: query
        name: realmGuid
        required: false
        schema:
          example: xjkkLmi
          type: string
        style: form
      - explode: true
        in: query
        name: realmHandle
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: Ok
      security:
      - apiKeyAuth:
        - read:user
      summary: List users
      tags:
      - user
      x-accepts: application/json
  /list:
    get:
      operationId: listGet
      parameters:
      - description: The list guid
        explode: true
        in: query
        name: listGuid
        required: false
        schema:
          example: lis-xjkkLmi
          type: string
        style: form
      - description: The list handle
        explode: true
        in: query
        name: listHandle
        required: false
        schema:
          type: string
        style: form
      - description: The realm handle
        explode: true
        in: query
        name: realmHandle
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationList'
          description: Ok
      security:
      - apiKeyAuth:
        - write:read
      summary: |
        Get list information

        Access by:
        * id with the listGuid
        * name with the listHandle and realmHandle
      tags:
      - list
      x-accepts: application/json
    post:
      operationId: listPost
      requestBody:
        $ref: '#/components/requestBodies/ListPostBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistrationList'
          description: Ok
      security:
      - apiKeyAuth:
        - write:list
      summary: Create a list where users can register
      tags:
      - list
      x-content-type: application/json
      x-accepts: application/json
  /lists:
    get:
      operationId: listsGet
      parameters:
      - description: The app guid
        explode: true
        in: query
        name: appGuid
        required: false
        schema:
          example: xjkkLmi
          type: string
        style: form
      - description: The uri of the app
        explode: true
        in: query
        name: appUri
        required: false
        schema:
          type: string
        style: form
      - description: The realm Guid
        explode: true
        in: query
        name: realmGuid
        required: false
        schema:
          type: string
        style: form
      - description: The realm Handle
        explode: true
        in: query
        name: realmHandle
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RegistrationList'
                type: array
          description: Return a list of lists for the app
        "403":
          description: Not authenticated
      security:
      - apiKeyAuth:
        - read:list
      summary: |
        Get a list of lists

        The app should be given via:
          - the appGuid
          - or the appUri along with the realmGuid or realmHandle
      tags:
      - list
      x-accepts: application/json
  /lists/summary:
    get:
      operationId: listsSummaryGet
      parameters:
      - description: The realm guid
        explode: true
        in: query
        name: realmGuid
        required: false
        schema:
          example: xjkkLmi
          type: string
        style: form
      - description: The realm handle
        explode: true
        in: query
        name: realmHandle
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListSummary'
                type: array
          description: Return a list
        "403":
          description: Not authenticated
      security:
      - apiKeyAuth:
        - read:list
      summary: Get a list of list in a summary format
      tags:
      - list
      x-accepts: application/json
  /list/registration:
    get:
      description: |
        Get a registration
          * by id with the registrationGuid
          * by name with the subscriberEmail and listGuid
      operationId: listRegistrationGet
      parameters:
      - description: The guid of the registration
        explode: true
        in: query
        name: guid
        required: false
        schema:
          example: xjkkLmi
          type: string
        style: form
      - description: The list guid of the registration
        explode: true
        in: query
        name: listGuid
        required: false
        schema:
          example: xjkkLmi
          type: string
        style: form
      - description: The email of the subscriber
        explode: true
        in: query
        name: subscriberEmail
        required: false
        schema:
          example: joe@doe.com
          format: email
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Registration'
          description: The registration
      security:
      - apiKeyAuth:
        - read:list
      summary: Get a registration object
      tags:
      - registration
      x-accepts: application/json
  /list/registration/validation:
    get:
      operationId: listRegistrationValidationGet
      parameters:
      - description: The payload
        explode: true
        in: query
        name: data
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The validation letter
      security: []
      summary: |
        The URI of the validation link in the validation
        letter that the user receive.
        The user needs to click this link to confirm her/his registration.
      tags:
      - registration
      x-accepts: text/html
  /list/registration/letter/confirmation:
    get:
      operationId: listRegistrationLetterConfirmationGet
      parameters:
      - description: The name of the subscriber
        explode: true
        in: query
        name: subscriberName
        required: false
        schema:
          example: Tony
          type: string
        style: form
      - description: The list guid
        explode: true
        in: query
        name: listGuid
        required: false
        schema:
          example: xklm
          type: string
        style: form
      - description: The name of the list
        explode: true
        in: query
        name: listName
        required: false
        schema:
          example: Weekly Newsletters
          type: string
        style: form
      - description: The name of the owner
        explode: true
        in: query
        name: ownerName
        required: false
        schema:
          example: Harold
          type: string
        style: form
      - description: The email of the owner
        explode: true
        in: query
        name: ownerEmail
        required: false
        schema:
          example: john@doe.com
          format: email
          type: string
        style: form
      - description: The logo of the owner
        explode: true
        in: query
        name: ownerLogo
        required: false
        schema:
          example: https://combostrap.com/_media/android-chrome-192x192.png
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The confirmation letter
      security:
      - apiKeyAuth:
        - read:list
      summary: |
        Return the confirmation letter after the user has clicked on the validation link.

        To get a confirmation as it's show to a user, you just need to set
        the subscriber name and the list guid

        The other parameters will overwrite other list information.
      tags:
      - registration
      x-accepts: text/html
  /list/registration/letter/validation:
    get:
      operationId: listRegistrationLetterValidationGet
      parameters:
      - description: The list guid
        explode: true
        in: query
        name: listGuid
        required: true
        schema:
          example: xklm
          type: string
        style: form
      - description: The name of the subscriber
        explode: true
        in: query
        name: subscriberName
        required: false
        schema:
          example: Tony
          type: string
        style: form
      - description: The email of the subscriber
        explode: true
        in: query
        name: subscriberEmail
        required: false
        schema:
          example: john@doe.com
          type: string
        style: form
      - description: Debug will print variable names if set to true
        explode: true
        in: query
        name: debug
        required: false
        schema:
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The confirmation letter
      security:
      - apiKeyAuth:
        - read:list
      summary: |
        Return the validation letter with a validation link as send by email.
      tags:
      - registration
      x-accepts: text/html
  /list/registrations:
    get:
      operationId: listRegistrationsGet
      parameters:
      - description: The guid of the list
        explode: true
        in: query
        name: listGuid
        required: true
        schema:
          example: xjkkLmi
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RegistrationShort'
                type: array
          description: List of registrations
      security:
      - apiKeyAuth:
        - read:list
      summary: List the registrations for a list
      tags:
      - registration
      x-accepts: application/json
components:
  requestBodies:
    RealmPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RealmPostBody'
      description: The data needed to create a realm
      required: true
    CampaignEmailPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CampaignEmailPostBody'
      description: The data needed to create an email campaign
      required: true
    ServiceSmtpPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServiceSmtpPostBody'
      description: The data needed to create a smtp mail service
      required: true
    AppPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppPostBody'
      description: The data needed to create / modify a app
      required: true
    UserPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserPostBody'
      description: The data needed to create / modify a user
      required: true
    ListPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListPostBody'
      description: The data needed to create a list
      required: true
  schemas:
    RealmAnalytics:
      allOf:
      - $ref: '#/components/schemas/Realm'
      - properties:
          userCount:
            description: The number of users for the realm
            type: integer
          appCount:
            description: The number of apps for the realm
            type: integer
          listCount:
            description: The number of lists for the realm
            type: integer
          subscriberCount:
            description: The number of subscribers for the realm
            type: integer
        type: object
      description: "Realm Analytics (count, ...)"
    Realm:
      description: |
        A realm.

        It identifies a protection space where the user and their credentials
        are stored

        * In a marketing level, it represent a brand. When people log in, they see the realm logo.
        * In a web/dns level, it would be the apex domain (and apps would be the DNS entry)
        * In a security level, this is the authentication realm
      example:
        organization:
          name: name
          guid: org-xmmmN
          id: 1
        name: name
        guid: guid
        handle: handle
        id: 0
        contactUser:
          disabledReason: disabledReason
          website: https://mywebsite
          creationTime: 2000-01-23T04:56:07.000+00:00
          bio: bio
          handle: foo
          avatar: https://en.gravatar.com/userimage/john.doe.png
          title: Chief Executive Officer
          localId: 1
          modificationTime: 2000-01-23T04:56:07.000+00:00
          name: John
          guid: xmmmN
          disabled: true
          location: The world
          realm: null
          fullname: John Doe
          email: john@doe.com
      properties:
        id:
          description: The realm id
          format: int64
          type: integer
        guid:
          description: |
            The public id
            (derived from the database id)
          format: int64
          type: string
        name:
          description: The name of the realm
          type: string
        organization:
          $ref: '#/components/schemas/Organization'
        contactUser:
          $ref: '#/components/schemas/User'
        handle:
          description: |
            A handle, the name used as:
              - basic authentication: "WWW-Authenticate: Basic realm="WallyWorld"
              - database schema
          type: string
      type: object
      x-parent: true
    Organization:
      description: |
        Organization for the users using the Combostrap product
        (Not from the user of other Realm)
      example:
        name: name
        guid: org-xmmmN
        id: 1
      properties:
        id:
          description: The organization id in the database
          example: 1
          format: int64
          type: integer
        guid:
          description: The string representation of the organization id
          example: org-xmmmN
          type: string
        name:
          description: Organization name
          type: string
      type: object
    User:
      description: A user
      example:
        disabledReason: disabledReason
        website: https://mywebsite
        creationTime: 2000-01-23T04:56:07.000+00:00
        bio: bio
        handle: foo
        avatar: https://en.gravatar.com/userimage/john.doe.png
        title: Chief Executive Officer
        localId: 1
        modificationTime: 2000-01-23T04:56:07.000+00:00
        name: John
        guid: xmmmN
        disabled: true
        location: The world
        realm: null
        fullname: John Doe
        email: john@doe.com
      properties:
        guid:
          description: |
            It is the global identifier
            * a string representation of realm id + user local id
            * never changes.
            It's the public id that:
            * you can see in the url
            * send to external application such as Analytics SAAS provider.

            The database id (ie realm id + user local id) is not public.
          example: xmmmN
          type: string
        localId:
          description: |
            The user id in the realm in the database (ie local to the realm)

            We have called it local to avoid to really indicate
            that is not the true id.

            You can't check with this id if this is the same user
            as this is the id inside the realm, there is other id
            with the same value in another realm.
          example: 1
          format: int64
          type: integer
        handle:
          description: The handle of the user
          example: foo
          type: string
        email:
          description: The email of the user
          example: john@doe.com
          format: email
          type: string
        name:
          description: "The short and informal name of the user (used in signature,\
            \ known also as the given, calling or first name)"
          example: John
          type: string
        fullname:
          description: The long and formal name of the user (used in address)
          example: John Doe
          type: string
        title:
          description: The title of the user (a short user description such as a role
            used in signature)
          example: Chief Executive Officer
          type: string
        disabled:
          description: Soft deleted
          type: boolean
        disabledReason:
          description: The reason of the soft delete
          type: string
        avatar:
          description: The avatar image of the user
          example: https://en.gravatar.com/userimage/john.doe.png
          format: uri
          type: string
        bio:
          description: A description for the user
          type: string
        website:
          description: A link to a user website
          example: https://mywebsite
          format: uri
          type: string
        location:
          description: The location of the user
          example: The world
          type: string
        creationTime:
          description: The creation time of the user
          format: date-time
          type: string
        modificationTime:
          description: The last modification time of the user
          format: date-time
          type: string
        realm:
          $ref: '#/components/schemas/Realm'
      title: A user
      type: object
      x-parent: true
    RealmPostBody:
      description: Realm creation
      example:
        name: name
        handle: example
      properties:
        name:
          description: A name
          type: string
        handle:
          description: A handle (only alphabetical characters)
          example: example
          maxLength: 10
          type: string
      required:
      - name
      type: object
    Service:
      description: |
        Service
      example:
        data: "{}"
        guid: xmllKD23
        realm:
          organization:
            name: name
            guid: org-xmmmN
            id: 1
          name: name
          guid: guid
          handle: handle
          id: 0
          contactUser:
            disabledReason: disabledReason
            website: https://mywebsite
            creationTime: 2000-01-23T04:56:07.000+00:00
            bio: bio
            handle: foo
            avatar: https://en.gravatar.com/userimage/john.doe.png
            title: Chief Executive Officer
            localId: 1
            modificationTime: 2000-01-23T04:56:07.000+00:00
            name: John
            guid: xmmmN
            disabled: true
            location: The world
            realm: null
            fullname: John Doe
            email: john@doe.com
        id: 1
        type: smtp
        uri: smtp://user@host:port or user@twitter
        impersonatedUser:
          disabledReason: disabledReason
          website: https://mywebsite
          creationTime: 2000-01-23T04:56:07.000+00:00
          bio: bio
          handle: foo
          avatar: https://en.gravatar.com/userimage/john.doe.png
          title: Chief Executive Officer
          localId: 1
          modificationTime: 2000-01-23T04:56:07.000+00:00
          name: John
          guid: xmmmN
          disabled: true
          location: The world
          realm: null
          fullname: John Doe
          email: john@doe.com
      properties:
        id:
          description: The service id in the realm
          example: 1
          format: int64
          type: integer
        guid:
          description: "The service global id, if you want to update the uri identifier"
          example: xmllKD23
          type: string
        uri:
          description: An unique identifier (uri like) for the service
          example: smtp://user@host:port or user@twitter
          type: string
        type:
          description: |
            The type of the service (smtp, ...) that define the data type
          example: smtp
          type: string
        data:
          description: The configuration for the service
          type: object
        impersonatedUser:
          $ref: '#/components/schemas/User'
        realm:
          $ref: '#/components/schemas/Realm'
      type: object
    CampaignEmailPostBody:
      description: |
        Email Campaign creation and/or modification
      example:
        campaignHandle: 202201-fresh-start
        listGuid: listGuid
        campaignGuid: xmllKD23
        emailSubject: emailSubject
      properties:
        campaignGuid:
          description: "The service global id, if you want to update the identifier"
          example: xmllKD23
          type: string
        campaignHandle:
          description: The campaign handle (unique code)
          example: 202201-fresh-start
          type: string
        emailSubject:
          description: The email subject
          type: string
        listGuid:
          description: The list audience (the valid subscribers to the list)
          type: string
      type: object
    Campaign:
      description: |
        Service
      example:
        data: "{}"
        name: name
        guid: xmllKD23
        id: 1
        type: email
      properties:
        id:
          description: The campaign id
          example: 1
          format: int64
          type: integer
        guid:
          description: The campaign id
          example: xmllKD23
          type: string
        name:
          description: The name of the campaign
          type: string
        type:
          description: "The type of the campaign (smtp, ...) that define the data\
            \ type"
          example: email
          type: string
        data:
          description: The configuration for the campaign
          type: object
      type: object
    ServiceSmtpPostBody:
      description: |
        Smtp Mail Service creation and/or modification

        * For the service, for an upsert, you may give the service Guid or the service Uri
        * For the impersonated user, you may give an email or its guid
      example:
        realmGuid: realmGuid
        impersonatedUserEmail: john@doe.com
        smtpHost: mail.example.com
        smtpStartTls: required
        serviceUri: smtp://localhost
        smtpUserName: john
        serviceGuid: xmllKD23
        impersonatedUserGuid: xmllYYYY
        smtpPort: 587
        smtpPassword: secret
        realmHandle: realmHandle
      properties:
        serviceGuid:
          description: "The service global id, if you want to update the identifier"
          example: xmllKD23
          type: string
        serviceUri:
          description: The service uri
          example: smtp://localhost
          type: string
        realmGuid:
          description: The realm guid
          type: string
        realmHandle:
          description: The realm handle
          type: string
        impersonatedUserEmail:
          description: |
            The user email for cold email, Null for system/app service
          example: john@doe.com
          type: string
        impersonatedUserGuid:
          description: |
            The user guid for cold email, Null for system/app service
          example: xmllYYYY
          type: string
        smtpHost:
          description: The smtp server hostname
          example: mail.example.com
          format: hostname
          type: string
        smtpPort:
          description: The smtp server port
          example: 587
          type: integer
        smtpStartTls:
          description: "SSL Secure connection (one of required, optional, disable)"
          example: required
          type: string
        smtpUserName:
          description: Login Username
          example: john
          type: string
        smtpPassword:
          description: Login Password
          example: secret
          type: string
      type: object
    App:
      description: "An app is the container for branding elements (such as logo, color)"
      example:
        terms: https://openapi-generator.tech
        name: Doe
        primaryColor: '#3498db'
        guid: xmmmN
        logo: https://doe.com/_media/android-chrome-192x192.png
        realm:
          organization:
            name: name
            guid: org-xmmmN
            id: 1
          name: name
          guid: guid
          handle: handle
          id: 0
          contactUser:
            disabledReason: disabledReason
            website: https://mywebsite
            creationTime: 2000-01-23T04:56:07.000+00:00
            bio: bio
            handle: foo
            avatar: https://en.gravatar.com/userimage/john.doe.png
            title: Chief Executive Officer
            localId: 1
            modificationTime: 2000-01-23T04:56:07.000+00:00
            name: John
            guid: xmmmN
            disabled: true
            location: The world
            realm: null
            fullname: John Doe
            email: john@doe.com
        id: 1
        uri: https://doe.com
        slogan: "Doe, Be You"
        user:
          disabledReason: disabledReason
          website: https://mywebsite
          creationTime: 2000-01-23T04:56:07.000+00:00
          bio: bio
          handle: foo
          avatar: https://en.gravatar.com/userimage/john.doe.png
          title: Chief Executive Officer
          localId: 1
          modificationTime: 2000-01-23T04:56:07.000+00:00
          name: John
          guid: xmmmN
          disabled: true
          location: The world
          realm: null
          fullname: John Doe
          email: john@doe.com
        home: https://doe.com
      properties:
        id:
          description: The app id in the realm
          example: 1
          format: int64
          type: integer
        guid:
          description: The global publisher id (realm id + publisher id)
          example: xmmmN
          type: string
        uri:
          description: "The uri of the app (unique for all apps on the realm, this\
            \ is equivalent to the authentication scope)"
          example: https://doe.com
          format: uri
          type: string
        name:
          description: The name of the app
          example: Doe
          type: string
        home:
          description: The home url
          example: https://doe.com
          format: uri
          type: string
        slogan:
          description: The slogan of the app
          example: "Doe, Be You"
          type: string
        logo:
          description: The uri of the app logo
          example: https://doe.com/_media/android-chrome-192x192.png
          format: uri
          type: string
        primaryColor:
          description: The css primary color of the theme (rgb in hexadecimal)
          example: '#3498db'
          type: string
        user:
          $ref: '#/components/schemas/User'
        realm:
          $ref: '#/components/schemas/Realm'
        terms:
          description: The location of the terms and conditions document
          format: uri
          type: string
      title: An app
      type: object
    AppPostBody:
      description: |
        App creation, modification
        If:
          * the guid is defined, it will be used to update the existing app.
          * not, the uri is used instead.
        The user (guid or email) is mandatory (the public face of the app)
        The realm (guid or handle) is also mandatory
      example:
        appPrimaryColor: '#3498db'
        realmGuid: realmGuid
        appLogo: https://doe.com/_media/android-chrome-192x192.png
        appName: Doe
        appHome: https://doe.com
        userEmail: john@doe.com
        realmHandle: realmHandle
        userGuid: xLOKKMmm
        appSlogan: "Doe, be you"
        appTerms: https://doe.com/terms
        appGuid: appGuid
        appUri: https://doe.com
      properties:
        appGuid:
          description: The guid of an existing app (to update the uri if necessary)
          type: string
        appUri:
          description: The unique uri of the app
          example: https://doe.com
          format: uri
          type: string
        realmGuid:
          description: the realm Guid
          type: string
        realmHandle:
          description: the realm handle
          type: string
        userGuid:
          description: The guid of the public app user
          example: xLOKKMmm
          type: string
        userEmail:
          description: The email of the public app user
          example: john@doe.com
          format: email
          type: string
        appName:
          description: A shortname
          example: Doe
          type: string
        appSlogan:
          description: The app slogan
          example: "Doe, be you"
          type: string
        appHome:
          description: The url of the app
          example: https://doe.com
          format: uri
          type: string
        appLogo:
          description: The uri of a logo
          example: https://doe.com/_media/android-chrome-192x192.png
          format: uri
          type: string
        appPrimaryColor:
          description: The css primary color of the theme (rgb in hexadecimal)
          example: '#3498db'
          type: string
        appTerms:
          description: The url of the terms and conditions document
          example: https://doe.com/terms
          format: uri
          type: string
      type: object
    OrganizationUser:
      allOf:
      - $ref: '#/components/schemas/User'
      - properties:
          organization:
            $ref: '#/components/schemas/Organization'
        type: object
      description: |
        A user in the organization
      type: object
    UserPostBody:
      description: |
        A user.
        If the guid is given, it's used to identify the user
        otherwise, it's the email
      example:
        userTitle: Chief Officer
        realmGuid: realmGuid
        userAvatar: https://en.gravatar.com/userimage/john.doe.png
        userFullname: John Doe
        userEmail: john@doe.com
        realmHandle: realmHandle
        userGuid: xmmmN
        userName: John
      properties:
        userGuid:
          description: The global/string user id
          example: xmmmN
          type: string
        realmGuid:
          description: The realm Guid
          type: string
        realmHandle:
          description: The realm Handle
          type: string
        userEmail:
          description: The email of the user
          example: john@doe.com
          format: email
          type: string
        userName:
          description: The short and informal name of the user (used in signature)
          example: John
          type: string
        userFullname:
          description: The long and formal name of the user (used in address)
          example: John Doe
          type: string
        userTitle:
          description: The title of the user (A short description)
          example: Chief Officer
          type: string
        userAvatar:
          description: An image avatar of a user
          example: https://en.gravatar.com/userimage/john.doe.png
          format: uri
          type: string
      title: A post to modify a user
      type: object
    RegistrationList:
      description: |
        A list where user can register

        RegistrationList and not List because list is a language reserved word (for openapi generator and will create a ModelList class)
      example:
        ownerUser:
          disabledReason: disabledReason
          website: https://mywebsite
          creationTime: 2000-01-23T04:56:07.000+00:00
          bio: bio
          handle: foo
          avatar: https://en.gravatar.com/userimage/john.doe.png
          title: Chief Executive Officer
          localId: 1
          modificationTime: 2000-01-23T04:56:07.000+00:00
          name: John
          guid: xmmmN
          disabled: true
          location: The world
          realm: null
          fullname: John Doe
          email: john@doe.com
        name: Mailing list
        guid: xmmmN
        description: The last news ....
        handle: newsletter
        realm:
          organization:
            name: name
            guid: org-xmmmN
            id: 1
          name: name
          guid: guid
          handle: handle
          id: 0
          contactUser:
            disabledReason: disabledReason
            website: https://mywebsite
            creationTime: 2000-01-23T04:56:07.000+00:00
            bio: bio
            handle: foo
            avatar: https://en.gravatar.com/userimage/john.doe.png
            title: Chief Executive Officer
            localId: 1
            modificationTime: 2000-01-23T04:56:07.000+00:00
            name: John
            guid: xmmmN
            disabled: true
            location: The world
            realm: null
            fullname: John Doe
            email: john@doe.com
        id: 1
        title: The top Newsletters
        registrationUrl: https://openapi-generator.tech
        ownerApp:
          terms: https://openapi-generator.tech
          name: Doe
          primaryColor: '#3498db'
          guid: xmmmN
          logo: https://doe.com/_media/android-chrome-192x192.png
          realm:
            organization:
              name: name
              guid: org-xmmmN
              id: 1
            name: name
            guid: guid
            handle: handle
            id: 0
            contactUser:
              disabledReason: disabledReason
              website: https://mywebsite
              creationTime: 2000-01-23T04:56:07.000+00:00
              bio: bio
              handle: foo
              avatar: https://en.gravatar.com/userimage/john.doe.png
              title: Chief Executive Officer
              localId: 1
              modificationTime: 2000-01-23T04:56:07.000+00:00
              name: John
              guid: xmmmN
              disabled: true
              location: The world
              realm: null
              fullname: John Doe
              email: john@doe.com
          id: 1
          uri: https://doe.com
          slogan: "Doe, Be You"
          user:
            disabledReason: disabledReason
            website: https://mywebsite
            creationTime: 2000-01-23T04:56:07.000+00:00
            bio: bio
            handle: foo
            avatar: https://en.gravatar.com/userimage/john.doe.png
            title: Chief Executive Officer
            localId: 1
            modificationTime: 2000-01-23T04:56:07.000+00:00
            name: John
            guid: xmmmN
            disabled: true
            location: The world
            realm: null
            fullname: John Doe
            email: john@doe.com
          home: https://doe.com
      properties:
        id:
          description: The list id
          example: 1
          format: int64
          type: integer
        guid:
          description: The global list id where the user can register
          example: xmmmN
          type: string
        handle:
          description: A handle (unique code) for the list
          example: newsletter
          type: string
        name:
          description: The name of the list
          example: Mailing list
          type: string
        title:
          description: The title of the list used in heading
          example: The top Newsletters
          type: string
        description:
          description: The description of the list
          example: The last news ....
          type: string
        ownerUser:
          $ref: '#/components/schemas/User'
        ownerApp:
          $ref: '#/components/schemas/App'
        realm:
          $ref: '#/components/schemas/Realm'
        registrationUrl:
          description: The public page where to register for this list
          format: uri
          type: string
      title: A list where user can register
      type: object
    ListPostBody:
      description: |
        List creation and/or modification

        For creation, the mandatory data are:
          * the name
          * the publisher app (guid or uri and realm)

        If the communication channel should be personal, the publisher (guid / email) can be given.

        For modification, you need to give the list guid or the unique handle.
      example:
        listTitle: The top Newsletters
        realmGuid: realmGuid
        ownerAppUri: https://doe.com
        listGuid: xmllKD23
        listHandle: Newsletter
        ownerUserGuid: xklls
        listName: Newsletters
        realmHandle: realmHandle
        listDescription: The last news ....
        ownerAppGuid: doe.com
        ownerUserEmail: john@doe.com
      properties:
        listGuid:
          description: "The public list id, if you want to update the list handle"
          example: xmllKD23
          type: string
        listHandle:
          description: A unique name / code for the list
          example: Newsletter
          type: string
        listName:
          description: The name of the list used in listing
          example: Newsletters
          type: string
        listTitle:
          description: The title of the list used in heading/title
          example: The top Newsletters
          type: string
        listDescription:
          description: The description of the list
          example: The last news ....
          type: string
        ownerAppGuid:
          description: the owner app guid
          example: doe.com
          format: hostname
          type: string
        ownerAppUri:
          description: the owner app uri
          example: https://doe.com
          format: uri
          type: string
        realmGuid:
          description: "the realm guid (needed if the handle are used, ie user email\
            \ or app uri)"
          type: string
        realmHandle:
          description: the realm handle (needed if the app uri)
          type: string
        ownerUserEmail:
          description: "if the communication channel is personal and not transactional,\
            \ the email of the publisher"
          example: john@doe.com
          format: email
          type: string
        ownerUserGuid:
          description: "if the communication channel is personal and not transactional,\
            \ the guid of the publisher"
          example: xklls
          type: string
      type: object
    ListSummary:
      description: A list summary
      example:
        subscriberCount: 0
        guid: xmmmN
        handle: handle
        appUri: appUri
      properties:
        guid:
          description: The public list id
          example: xmmmN
          type: string
        handle:
          description: The handle of the list
          type: string
        appUri:
          description: The app uri
          type: string
        subscriberCount:
          description: The number of subscribers
          type: integer
      title: A list summary
      type: object
    Registration:
      description: A registration
      example:
        confirmationIp: confirmationIp
        optInUri: https://openapi-generator.tech
        subscriber:
          disabledReason: disabledReason
          website: https://mywebsite
          creationTime: 2000-01-23T04:56:07.000+00:00
          bio: bio
          handle: foo
          avatar: https://en.gravatar.com/userimage/john.doe.png
          title: Chief Executive Officer
          localId: 1
          modificationTime: 2000-01-23T04:56:07.000+00:00
          name: John
          guid: xmmmN
          disabled: true
          location: The world
          realm: null
          fullname: John Doe
          email: john@doe.com
        optInIp: optInIp
        guid: xmmmN
        confirmationTime: confirmationTime
        list:
          ownerUser:
            disabledReason: disabledReason
            website: https://mywebsite
            creationTime: 2000-01-23T04:56:07.000+00:00
            bio: bio
            handle: foo
            avatar: https://en.gravatar.com/userimage/john.doe.png
            title: Chief Executive Officer
            localId: 1
            modificationTime: 2000-01-23T04:56:07.000+00:00
            name: John
            guid: xmmmN
            disabled: true
            location: The world
            realm: null
            fullname: John Doe
            email: john@doe.com
          name: Mailing list
          guid: xmmmN
          description: The last news ....
          handle: newsletter
          realm:
            organization:
              name: name
              guid: org-xmmmN
              id: 1
            name: name
            guid: guid
            handle: handle
            id: 0
            contactUser:
              disabledReason: disabledReason
              website: https://mywebsite
              creationTime: 2000-01-23T04:56:07.000+00:00
              bio: bio
              handle: foo
              avatar: https://en.gravatar.com/userimage/john.doe.png
              title: Chief Executive Officer
              localId: 1
              modificationTime: 2000-01-23T04:56:07.000+00:00
              name: John
              guid: xmmmN
              disabled: true
              location: The world
              realm: null
              fullname: John Doe
              email: john@doe.com
          id: 1
          title: The top Newsletters
          registrationUrl: https://openapi-generator.tech
          ownerApp:
            terms: https://openapi-generator.tech
            name: Doe
            primaryColor: '#3498db'
            guid: xmmmN
            logo: https://doe.com/_media/android-chrome-192x192.png
            realm:
              organization:
                name: name
                guid: org-xmmmN
                id: 1
              name: name
              guid: guid
              handle: handle
              id: 0
              contactUser:
                disabledReason: disabledReason
                website: https://mywebsite
                creationTime: 2000-01-23T04:56:07.000+00:00
                bio: bio
                handle: foo
                avatar: https://en.gravatar.com/userimage/john.doe.png
                title: Chief Executive Officer
                localId: 1
                modificationTime: 2000-01-23T04:56:07.000+00:00
                name: John
                guid: xmmmN
                disabled: true
                location: The world
                realm: null
                fullname: John Doe
                email: john@doe.com
            id: 1
            uri: https://doe.com
            slogan: "Doe, Be You"
            user:
              disabledReason: disabledReason
              website: https://mywebsite
              creationTime: 2000-01-23T04:56:07.000+00:00
              bio: bio
              handle: foo
              avatar: https://en.gravatar.com/userimage/john.doe.png
              title: Chief Executive Officer
              localId: 1
              modificationTime: 2000-01-23T04:56:07.000+00:00
              name: John
              guid: xmmmN
              disabled: true
              location: The world
              realm: null
              fullname: John Doe
              email: john@doe.com
            home: https://doe.com
        flow: null
        status: status
        optInTime: optInTime
      properties:
        guid:
          description: The public registration id
          example: xmmmN
          type: string
        status:
          description: The status of the registration
          type: string
        list:
          $ref: '#/components/schemas/RegistrationList'
        subscriber:
          $ref: '#/components/schemas/User'
        confirmationTime:
          description: The confirmation time
          type: string
        confirmationIp:
          description: The confirmation ip
          type: string
        optInTime:
          description: The opt-in time
          type: string
        optInIp:
          description: The opt-in ip
          type: string
        optInUri:
          description: The opt-in uri
          format: uri
          type: string
        flow:
          $ref: '#/components/schemas/RegistrationFlow'
      title: A registration to a list
      type: object
    RegistrationFlow:
      description: How the user has been registered
      enum:
      - oauth
      - email
      type: string
    RegistrationShort:
      example:
        guid: xmmmN
        subscriberEmail: subscriberEmail
      properties:
        guid:
          description: The public registration id
          example: xmmmN
          type: string
        subscriberEmail:
          description: The subscriber email
          type: string
      title: A registration to a list
      type: object
  securitySchemes:
    cookieAuth:
      in: cookie
      name: cs-session-id
      type: apiKey
    apiKeyAuth:
      in: header
      name: x-api-key
      type: apiKey
