---



# ansible_distribution_major_version is the linux major distribution version (ie 6,7..)
remi_repo_url: "http://rpms.remirepo.net/enterprise/remi-release-{{ ansible_distribution_major_version }}.rpm"
remi_repo_gpg_key_url: "http://rpms.remirepo.net/RPM-GPG-KEY-remi"

# A www root directory where the php website will be placed
www_root_dir: '/opt/www'

# fpm
# the service process that will get the request from nginx and send them to php
fpm_spool_www_name: 'www'
fpm_spool_www_user: 'www-user' # the default is www-data but as it will be a ssh open account we make it more difficult to find
fpm_spool_www_group: 'www-user'
fpm_spool_www_user_pwd: '{{ vault_fpm_spool_www_user_pwd }}'
fpm_spool_www_port: 9000 # port of the php-fpm process
