---

- name: verify config
  become: true
  command: '/sbin/nginx -t'
  register: handler_nginx_conf
  listen:
    - reload nginx
    - restart nginx
    - stop nginx
  failed_when: "handler_nginx_conf.rc != 0"

- name: reload nginx
  systemd:
    name: "nginx"
    state: reloaded
    daemon_reload: true
  become: true

- name: start nginx
  service:
    name: "nginx"
    state: "started"
    enabled: true
  become: true

- name: stop nginx
  service:
    name: "nginx"
    state: "stopped"
    enabled: true
  become: true

- name: restart nginx
  service:
    name: "nginx"
    state: "restarted"
    enabled: true
  become: true

- name: reload nginx-amplify
  systemd:
    name: "amplify-agent"
    state: reloaded
    daemon_reload: true
  become: true

