---
# tasks file for nexus


- name: Nexus user ceration
  become: true
  import_tasks: 'root_nexus_user.yml'

- name: Check if the data directory exists
  become: true
  stat:
    path: '{{ nexus_application_directory }}'
  register: data_directory_exists

- name: Install
  become: true
  when: not data_directory_exists.stat.exists
  block:
    - name: Download and unzip the installation file
      include_tasks: 'root_install.yml'

- name: Sysvinit Install service
  become: true
  when: ansible_service_mgr == "sysvinit"
  block:
    - name: Install service in sysvinit
      include_tasks: 'root_service_sysvinit.yml'

- name: System Install service
  become: true
  when: ansible_service_mgr == "systemd"
  block:
    - name: Install service systemd
      include_tasks: 'root_service_systemd.yml'

- name: Firewall
  become: true
  import_tasks: 'root_firewall.yml'

- name: Nexus Configuration
  become: true
  become_user: '{{ nexus_user }}'
  import_tasks: 'user_conf.yml'

- name: Ssl
  become: true
  become_user: '{{ nexus_user }}'
  include_tasks: user_ssl.yml
  when: nexus_ssl