---
# tasks file for nexus


- name: Nexus user ceration
  become: true
  import_tasks: 'root_nexus_user.yml'

- name: Check if the data directory exists
  become: true
  stat:
    path: '{{ nexus_home }}/{{ nexus_application_directory }}'
  register: data_directory_exists

- name: Install
  become: true
  when: not data_directory_exists.stat.exists
  block:
    - name: Download and unzip the installation file
      include_tasks: 'root_install.yml'

#- name: Install service in sysvinit
#  become: true
#  import_tasks: 'root_service_sysvinit.yml'
#  when: ansible_service_mgr == "sysvinit"
#
#- name: Install service in systemd
#  become: true
#  import_tasks: 'root_service_systemd.yml'
#  when: ansible_service_mgr == "systemd"
