---

# The steps explained here
# https://help.sonatype.com/repomanager3/installation/installation-methods


- name: "Ensure Nexus directories exist"
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ nexus_user }}"
    group: "{{ nexus_group }}"
    mode: 0755
  with_items:
    - "{{ nexus_root }}"
    - "{{ nexus_install_temp }}"
    - "{{ nexus_pid_dir }}"


- name: "Download Nexus at ({{ nexus_install_temp }}/{{ nexus_distribution_name }})"
  get_url:
    url: "{{ nexus_download_base_url }}/{{ nexus_distribution_name }}"
    dest: "{{ nexus_install_temp }}/{{ nexus_distribution_name }}"
    force: "{{ nexus_download_force }}"
    validate_certs: no
  register: nexus_download

- name: "Unarchive Nexus into the nexus home ({{ nexus_root }})"
  unarchive:
    src: "{{ nexus_install_temp }}/{{ nexus_distribution_name }}"
    dest: "{{ nexus_root }}"
    remote_src: yes # indicate the archived file is already on the remote system and not local to the Ansible controller

# The extraction process creates two sibling directories:
#     * an application directory
#     * and a data directory, sometimes called the "Sonatype Work" directory
# setting ownership in unarchive task does not work properly
- name: "Update Nexus ownership"
  file:
    path: "{{ item }}"
    recurse: yes
    owner: "{{ nexus_user }}"
    group: "{{ nexus_group }}"
  with_items:
    - "{{ nexus_application_directory }}"
    - "{{ nexus_data_directory }}"
