
- name: Stage Nexus service script
  command: "cp {{ nexus_home }}/{{ nexus_application_directory }}/bin/nexus /etc/init.d/nexus"


- name: Configure Nexus service script
  lineinfile:
    dest: "/etc/init.d/nexus"
    state: present
    regexp: "{{ item.pattern }}"
    line: "{{ item.replacement }}"
    insertafter: "{{ item.after | default(omit) }}"
  with_items:
    - pattern: "^NEXUS_HOME="
      replacement: "NEXUS_HOME=\"{{ nexus_dest }}/{{ nexus_link }}\""
    - pattern: "^RUN_AS_USER="
      replacement: "RUN_AS_USER=\"{{ nexus_user }}\""
      after: "^#RUN_AS_USER="
    - pattern: "^PIDDIR="
      replacement: "PIDDIR=\"{{ nexus_pid_dir }}\""
      after: "^#PIDDIR="
  notify:
    - reload systemctl
    - restart nexus

