
- name: "Create nexus group ({{ nexus_group }})"
  group: name="{{ nexus_group }}"

- name: "Create nexus user"
  user:
    name: "{{ nexus_user }}"
    group: "{{ nexus_group }}"
    home: "/home/{{ nexus_user }}"