# Configuring the Runtime Environment
# https://help.sonatype.com/repomanager3/installation/configuring-the-runtime-environment


- name: 'Configure Nexus properties file ({{ nexus_data_directory}}/etc/nexus.properties)'
  lineinfile:
    path: "{{ nexus_data_directory}}/etc/nexus.properties"
    state: present
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - regexp: "^application-port="
      line: "application-port={{ nexus_port }}"
    - regexp: "^application-host="
      line: "application-host=localhost" # bind only to localhost (nginx)
    - regexp: "^nexus-context-path="
      line: "nexus-context-path={{ nexus_context_path }}"
  notify:
    - nexus reload

- name: 'Configure the Java memory requirement'
  lineinfile:
    path: "{{nexus_application_directory}}/bin/nexus.vmoptions"
    state: present
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - regexp: '^-Xms'
      line: '-Xms{{nexus_java_memory}}m'
    - regexp: '^-Xmx'
      line: '-Xmx{{nexus_java_memory}}m'
    - regexp: '^-XX:MaxDirectMemorySize='
      line: '-XX:MaxDirectMemorySize={{nexus_java_memory}}m'
  notify:
    - nexus reload

