# Configuring the Runtime Environment
# https://help.sonatype.com/repomanager3/installation/configuring-the-runtime-environment


- name: Configure Nexus properties
  lineinfile:
    dest: "{{ nexus_root }}/{{ nexus_link }}/conf/nexus.properties"
    state: present
    regexp: "{{ item.pattern }}"
    line: "{{ item.replacement }}"
  with_items:
    - pattern: "^application-port="
      replacement: "application-port={{ nexus_port }}"
    - pattern: "^application-host="
      replacement: "application-host={{ nexus_host }}"
    - pattern: "^nexus-webapp-context-path="
      replacement: "nexus-webapp-context-path={{ nexus_webapp_context_path }}"
  notify:
    - restart nexus

- include_tasks: user_ssl.yml
  when:
    - nexus_ssl
