<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
    <Routing name="AnalyticsInfo" ignoreExceptions="false">
      <!-- http://logging.apache.org/log4j/2.x/faq.html#separate_log_files -->
      <Routes pattern="${ctx:event_slug}">
        <Route>
          <RollingFile
            name="analytics-${ctx:event_slug}"
            fileName="logs/analytics/${ctx:event_slug}.jsonl"
            filePattern="logs/analytics/$${date:yyyy-MM}/analytics-${ctx:event_slug}-%d{yyyy-dd-MM}-%i.jsonl"
            ignoreExceptions="false" >
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout>
              <pattern>%m%n</pattern>
            </PatternLayout>
            <Policies>
              <TimeBasedTriggeringPolicy/>
              <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
          </RollingFile>
        </Route>
      </Routes>
      <!-- Created appender TTL -->
      <IdlePurgePolicy timeToLive="15" timeUnit="minutes"/>
    </Routing>
    <RollingFile name="Web"
                 fileName="logs/web.log"
                 filePattern="logs/web/$${date:yyyy-MM}/web-%d{MM-dd-yyyy}-%i.log">
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>
    <RollingFile name="Csp"
                 fileName="logs/csp.jsonl"
                 filePattern="logs/csp/$${date:yyyy-MM}/csp-%d{MM-dd-yyyy}-%i.jsonl">
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>
    <RollingFile name="AnalyticsError"
                 fileName="logs/analytics-error.log"
                 filePattern="logs/error/analytics-%d{MM-dd-yyyy}-%i.log">
      <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="net.bytle.api.http.AnalyticsLogger" level="info" additivity="false">
      <AppenderRef ref="AnalyticsInfo"/>
      <AppenderRef ref="AnalyticsError"/>
    </Logger>
    <Logger name="net.bytle.api.http.WebLogger" level="debug" additivity="false">
      <AppenderRef ref="Web"/>
    </Logger>
    <Logger name="net.bytle.api.http.CspLogger" level="info" additivity="false">
      <AppenderRef ref="Csp"/>
    </Logger>
  </Loggers>
</Configuration>
