# Adapted from https://vertx.io/blog/vert-x-3-init-d-script/
[Unit]
Description=Gerardnico Backend
After=network.target

[Service]
Type=simple
User={{ gnico_user_name }}
Group={{ gnico_user_group }}
ExecStart=cd {{ gnico_install_path }} && java -jar {{ gnico_fat_jar }}
Restart=on-failure

TimeoutStopSec=5

[Install]
WantedBy=multi-user.target

