- name: Install
  become: yes
  block:
    - name: "Create the group {{ apps_user_group }}"
      group:
        name: '{{ apps_user_group }}'
        state: present
    - name: "Create the user {{ apps_user_name }}"
      user:
        name: '{{ apps_user_name }}'
        comment: User for the backend app
        shell: /bin/bash
        state: present
        group: '{{ apps_user_group }}'
        password: "{{ apps_user_pwd | password_hash('sha512') }}"
    - name: Create the install path {{ apps_install_path }}
      tags: backend-admin
      file:
        state: directory
        path: '{{ apps_install_path }}'
        group: '{{ apps_user_name }}'
        owner: '{{ apps_user_group }}'
        mode: 'u=rwx,g=rwx,o='
        recurse: true
    - name: Copy Appctl script
      copy:
        src: 'script/{{ app_ctl_name }}'
        dest: '{{ app_ctl_path }}'
        owner: root
        group: root
        mode: 'u=rwx,g=rwx,o='
    - name: Copy the sudoer file
      template:
        src: '{{ app_ctl_name }}.sudoer'
        dest: '/etc/sudoers.d/{{ app_ctl_name }}'
        mode: 0750
