- name: Inbox | Create the cache dir
  file:
    state: directory
    path: '{{ inbox_cache_dir }}'
    group: '{{ apps_user_group }}'
    owner: '{{ apps_user_name }}'
    mode: 'u=rwx,g=rwx,o='
- name: Inbox | Copy the systemd service file
  notify: inbox restart
  template:
    src: '{{inbox_app_name}}.service'
    dest: '/etc/systemd/system/{{inbox_app_name}}.service'
    mode: 0644
- name: Inbox | Enable {{ inbox_app_name }} service
  notify: inbox restart
  systemd:
    name: '{{ inbox_app_name }}'
    enabled: true
- name: Inbox | Copy the executable
  notify: inbox restart
  template:
    src: 'inbox'
    dest: '{{ inbox_home }}/inbox'
    mode: u=rwx,g=rwx,o=
    group: '{{ apps_user_group }}'
    owner: '{{ apps_user_name }}'
- name: Inbox | Give the permission
  shell:
    cmd: |
      /sbin/setcap 'cap_net_bind_service=+ep' {{ inbox_home}}/inbox
