
- name: Create the tabli dir
  file:
    state: directory
    path: '{{ tabli_root_path }}'
    group: '{{ apps_user_name }}'
    owner: '{{ apps_user_group }}'
    mode: 'u=rwx,g=rwx,o='
    recurse: false

- name: Create the tabli shadow dir
  file:
    state: directory
    path: '{{ tabli_shadow_path }}'
    group: '{{ apps_user_name }}'
    owner: '{{ apps_user_group }}'
    mode: 'u=rwx,g=rwx,o='
    recurse: false

- name: Create the tabli bash script file
  template:
    src: 'tabli.sh'
    group: '{{ apps_user_name }}'
    owner: '{{ apps_user_group }}'
    dest: "{{tabli_bin_path}}/tabli"
    mode: 'u=rwx,g=rwx,o=x'

- name: Add cronjob for tabli touch
  cron:
    name: 'tabli daily'
    # 7 is 8 hour in europa in summer-time
    # 13 because contacting people is a low processing brain power
    # we keep the morning to work directly on dev
    # birthday can be scheduled via mail
    hour: '13'
    minute: '01'
    # discard stdout, not error for tabli, receive the output for git pull
    # We run tabli even if the pull did not succeed
    job: "cd /opt/apps/tabli/apps/touch && git pull; tabli flow execute app/model/flow/*.yml app/report/next_touches/*.yml > /dev/null"
    user: '{{ apps_user_name }}'

- name: Add mailto to crontab to get the output
  cron:
    name: MAILTO
    env: yes
    job: nico@bytle.net
    state: present
    user: '{{ apps_user_name }}'

- name: Tabli - Git (Don't take into account file modification)
  become: yes
  become_user: "{{ apps_user_name }}"
  shell: "git config --global core.fileMode false"
  args:
    executable: /bin/bash
