- name: Create the cache dir
  file:
    state: directory
    path: '{{ tower_cache_dir }}'
    group: '{{ apps_user_group }}'
    owner: '{{ apps_user_name }}'
    mode: 'u=rwx,g=rwx,o='
- name: Populate service data
  service_facts:
- name: Copy the systemd backend.service file
  notify: tower restart
  template:
    src: '{{tower_app_name}}.service'
    dest: '/etc/systemd/system/{{tower_app_name}}.service'
    mode: 0644
- name: Enable {{ tower_app_name }} service
  notify: tower restart
  systemd:
    name: '{{ tower_app_name }}'
    enabled: true
- name: Copy the configuration file
  template:
    src: '.tower.yml'
    dest: '{{tower_install_path}}/.tower.yml'
    owner: '{{apps_user_name}}'
    group: '{{apps_user_group}}'
    mode: 'u=rwx,g=rwx,o='
- name: Copy the secret configuration file
  template:
    src: '.tower.secret.yml'
    dest: '/root/.tower.secret.yml'
    mode: 'u=rwx,g=rwx,o='
- name: Copy the sudoer file
  template:
    src: '{{tower_app_name}}.sudoer'
    dest: '/etc/sudoers.d/{{tower_app_name}}'
    mode: 0750
#    - name: Delete the jar (Hack because we are for now deploying a snapshot jar that has always the same name)
#    file:
#      state: absent
#      path: '{{ backend_install_path }}/bytle-api-0.0.1-SNAPSHOT-all.jar'
#    - name: Download the fat jar
#      maven_artifact:
#        group_id: net.bytle
#        artifact_id: bytle-api
#        version: 'latest'
#        classifier: all
#        repository_url: '{{ backend_repository_url }}'
#        username: '{{ backend_repository_user }}'
#        password: '{{ backend_repository_pwd }}'
#        dest: '{{ backend_install_path }}/'
#        group: '{{ backend_user_name }}'
#        owner: '{{ backend_user_group }}'
#        state: present
#        keep_name: yes
#        mode: 'u=rwx,g=rx,o=rx'
#      register: maven_download
#    - name: 'Set the downloaded jar path (used in the service template)'
#      set_fact:
#        backend_fat_jar_path: '{{ maven_download.dest }}'
# Not in the handlers because handler happens at the end
#    - name: 'backend reload when the service file has changed'
#      when: service_file is changed
#      systemd:
#        name: '{{ backend_app_name }}.service'
#        enabled: 'yes'
#        daemon_reload: yes
#        state: restarted
#    - name: Verify that the service {{ backend_app_name }} is up
#      systemd:
#        state: started
#        name: '{{ backend_app_name }}'
#    - name: Test that the service is up
#      uri:
#        url: http://localhost:8083/ip/143.176.206.80
#        method: GET
#      register: ipcall
#      until: ipcall.status == 200
#      delay: 5 # Every 5 seconds
#      retries: 5 # 5 * 5 seconds = 25
