# https://docs.docker.com/compose/multiple-compose-files/include/
include:
  - ../core/compose.yml
services:
  whoami:
    image: traefik/whoami
    # build from a URL
    # ref: https://docs.docker.com/compose/compose-file/build/#attributes
    # build: https://github.com/mycompany/example.git#branch_or_tag:subdirectory
    networks:
      - caddy
    labels:
      caddy: whoami.eraldy.com
      caddy.reverse_proxy: "{{upstreams 80}}"
