# https://www.wireguard.com/install/
# https://upcloud.com/resources/tutorials/get-started-wireguard-vpn
# https://www.reddit.com/r/linux/comments/11hfj57/fedora_wireguard_server_client_tutorial/
# https://docs.fedoraproject.org/en-US/fedora-coreos/sysconfig-configure-wireguard/
# https://wiki.alpinelinux.org/wiki/Configure_a_Wireguard_interface_(wg)
# https://www.scaleway.com/en/docs/tutorials/install-wireguard/

#- name: Wireguard - Fedora Install Package
#  ansible.builtin.dnf:
#    name: wireguard-tools
#    state: present

- name: Wireguard - Server Conf
  template:
    src: wg0.conf
    dest: /etc/wireguard/wg0.conf
    mode: 'u=rw,g=,o='
  notify: restart wg

- name: Wireguard - Systemctl Service
  systemd:
    name: "{{ wg_service }}"
    enabled: 'yes'
    state: started

- name: Wireguard - Modprobe - Check service
  shell:
    # If you get an error saying the module is missing, restart your WireGuard server and try again.
    cmd: |
      modprobe wireguard

# File to use on the client
- name: Wireguard - Client 1 Conf
  template:
    src: wg-client-1.conf
    dest: /etc/wireguard/wg-client-1.conf
    mode: 'u=rw,g=,o='
