# Route all traffic over WireGuard
# Enable IP Forwarding and you need to set and set some PostUp and PostDown directives:


# Enable IPv4 Forwarding / packet forwarding in kernel
# needed to:
# * tunnel traffic/communicate with peers
# * be able to connect through the WireGuard server
# To override only specific settings, add a file with a lexically later name in /etc/sysctl.d/ and put new settings there.
#
# IP forwarding is the ability for an operating system to
# accept incoming network packets on one interface,
# recognize that it is not meant for the system itself,
# but that it should be passed on to another network,
# and then forwards it accordingly.
- name: Wireguard - Port Forwarding
  copy:
    src: wg-port-forwarding.conf
    dest: /etc/sysctl.d/90-ipv4-ip-forward.conf

- name: Wireguard - Port Forwarding Conf Test
  shell:
    cmd: |
      sysctl --load=/etc/sysctl.d/90-ipv4-ip-forward.conf
