

#
# Wireguard is a known service
#cat /usr/lib/firewalld/services/wireguard.xml
#<?xml version="1.0" encoding="utf-8"?>
#<service>
#  <short>WireGuard</short>
#  <description>WireGuard is the simple, fast and modern VPN. The port needs to be open if a peer has this host explicitly configured as endpoint.</description>
#  <port protocol="udp" port="51820"/>
#</service>

- name: Wireguard Firewall - Modify Fireguard service
  notify: firewalld reload
  template:
    src: wireguard.xml
    dest: /etc/firewalld/services/wireguard.xml


# Should be done for all packets, otherwise there is no DNS resolution ???
- name: Wireguard Firewall - Add Masquerade
  notify: firewalld reload
  ansible.posix.firewalld:
    masquerade: true
    state: enabled
    permanent: true
    zone: public
    immediate: true
# Masquerade for only a source does not work even with mac address
# firewall-cmd  --permanent   --zone=public   --add-rich-rule='rule family="ipv4" source ipset="home-mac" masquerade'
# firewall-cmd  --permanent   --zone=public   --remove-rich-rule='rule family="ipv4" source ipset="home-mac" masquerade'
#
# firewall-cmd  --permanent   --zone=public   --add-rich-rule='rule family="ipv4" source ipset="home-ipv4" masquerade'
# firewall-cmd  --permanent   --zone=public   --remove-rich-rule='rule family="ipv4" source ipset="home-ipv4" masquerade'

# Option does not exist in Ansible
# We do the shell then
# https://docs.ansible.com/ansible/latest/collections/ansible/posix/firewalld_module.html
- name: Wireguard Firewall - Add Port Forwarding
  notify: firewalld reload
  shell:
    cmd: |
      firewall-cmd --add-forward --zone=public --permanent


- name: Wireguard Firewall - Add home ipset mac
  notify: firewalld reload
  ansible.posix.firewalld:
    rich_rule: 'rule family="ipv4" source ipset="{{ ipset_home_mac }}" service name="wireguard" accept'
    zone: public
    permanent: true
    immediate: true
    state: enabled

# Same as
# firewall-cmd  --permanent   --zone=public   --add-rich-rule='rule family="ipv4" source ipset="home-ipv4" service name="wireguard" accept'
# firewall-cmd  --permanent   --zone=public   --remove-rich-rule='rule family="ipv4" source ipset="home-ipv4" masquerade service name="wireguard" accept'
- name: Wireguard Firewall - Add home ipset Ipv4
  notify: firewalld reload
  ansible.posix.firewalld:
    rich_rule: 'rule family="ipv4" source ipset="{{ ipset_home_ipv4 }}" service name="wireguard" accept'
    zone: public
    permanent: true
    immediate: true
    state: enabled




#- name: Wireguard Firewall - Enable IPv4 Masquerade in the firewall
#  notify: firewalld reload
#  ansible.posix.firewalld:
#    masquerade: true
#    forward: true
#    state: enabled
#    permanent: true
#    zone: public


## firewall-cmd --add-interface=wg0
#- name: Wireguard - Firewall Add Interface to Zone
#  # Add WireGuard interface to FedoraServer (default) firewall zone
#  notify: firewalld reload
#  firewalld:
#      zone: public
#      interface: eth0
#      permanent: true
#      state: enabled
