openapi: 3.0.3
info:
  description: An API for IP geo-localisation
  title: IP
  version: v2023-06-18
servers:
- url: https://api.eraldy.com
- url: http://localhost:8084
security:
- bearerAuth: []
tags:
- description: Ip operation
  name: ip
paths:
  /ip/ping:
    get:
      operationId: pingGet
      responses:
        "200":
          description: API health status
      security: []
      summary: A health check endpoint
      tags:
      - ip
      x-accepts: application/json
  /ip:
    get:
      operationId: ipGet
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpInfo'
          description: Geolocation data based on the IP
        "404":
          description: Not Found
      security: []
      summary: Return client information based on the HTTP request ip
      tags:
      - ip
      x-accepts: application/json
  /ip/{ip}:
    get:
      operationId: ipIpGet
      parameters:
      - description: The IP (default to the IP of the HTTP request)
        explode: false
        in: path
        name: ip
        required: true
        schema:
          example: 143.176.206.80
          format: ipv4
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpInfo'
          description: Geolocation data based on the IP
        "404":
          description: Not Found
      security: []
      summary: Return client information based on the ip
      tags:
      - ip
      x-accepts: application/json
components:
  schemas:
    IpInfo:
      description: The geo-localization information based on Ip
      example:
        country: Netherlands
        ip: 143.176.206.76
        country3: NLD
        country2: NL
      properties:
        ip:
          description: "The ip, the data is based on"
          example: 143.176.206.76
          type: string
        country:
          description: The country name
          example: Netherlands
          type: string
        country2:
          description: The country ISO code on two characters
          example: NL
          type: string
        country3:
          description: The country ISO code on three characters
          example: NLD
          type: string
      title: IpInfo
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: JWS
      scheme: bearer
      type: http
