# Collects data about your hosts
# https://docs.newrelic.com/docs/infrastructure/install-infrastructure-agent/get-started/install-infrastructure-agent


# Derived from
# https://docs.newrelic.com/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructure-monitoring-agent-linux
# and
# https://github.com/newrelic/infrastructure-agent-ansible/blob/master/tasks/install_dist_pkgs.yml
- name: Infra conf
  template:
    src: 'infra/newrelic-infra.yml'
    dest: '/etc/newrelic-infra.yml'
    mode: 0770
  notify:
    newrelic_infra_restart
- name: Infra Agent Repo Key
  rpm_key:
    key: https://download.newrelic.com/infrastructure_agent/keys/newrelic_rpm_key_current.gpg
    state: present
- name: Infra Agent Repo
  yum_repository:
    baseurl: https://download.newrelic.com/infrastructure_agent/linux/yum/el/$releasever/$basearch/
    gpgcheck: "yes"
    gpgkey: https://download.newrelic.com/infrastructure_agent/keys/newrelic_rpm_key_current.gpg
    name: 'newrelic-infra'
    repo_gpgcheck: yes
    state: present
    description: New Relic Infrastructure
- name: Install agent yum
  yum:
    name: "newrelic-infra"
    state: "present"
- name: Setup agent init service
  service:
    name: newrelic-infra
    state: started
    enabled: yes
