# The path of the config directory
nginx_etc_path: /etc/nginx

nginx_etc_path_conf: '{{nginx_etc_path}}/conf.d'

nginx_log_path: /var/log/nginx

# Root CA for client certificate
nginx_root_ca_for_client: 'root_certificate.pem'
nginx_client_certificate_directory: '{{nginx_etc_path}}/client_certificate'
nginx_root_ca_for_client_location: '{{ nginx_client_certificate_directory}}/{{ nginx_root_ca_for_client }}'


# Configuration for internal tool (they should be reachable only by users of the company)
nginx_internal_tool_ip_restriction: 'internal_tool_ip_restriction.conf'
nginx_internal_tool_ip_restriction_path: '{{nginx_etc_path}}/{{nginx_internal_tool_ip_restriction}}'
# With the client certificate
nginx_internal_tool_client_certificate: 'internal_tool_client_certificate.conf'
nginx_internal_tool_client_certificate_path: '{{nginx_etc_path}}/{{nginx_internal_tool_client_certificate}}'


# Rate limiting
# for now, this is based on all request, resources and page
# we may want to split it between resources and html page
# if this is not sufficient
# netdata gives a max of 16 req/s all client
# see rate_limiting.md
nginx_rate_limiting_frequency: '5r/s'
nginx_rate_limiting_zone: 'one'
nginx_rate_limiting_burst: 12 # the maximum number of resource by page
nginx_rate_limiting_delay: 8 # the number of resource passed directly
nginx_rate_limiting_status: 429
nginx_rate_limiting_error_level: 'warn'

# Registration is when an email is sent
# Max 5 by minutes
nginx_rate_limiting_zone_registration: 'registration'
nginx_rate_limiting_frequency_registration: '5r/m' # 1 ip can send 5 email per minute
nginx_rate_limiting_burst_registration: 1 # the maximum number of request in an interval of 100ms
