
- name: Fail if not Redhat
  fail:
    msg: "This role supports only the Redhat family. This computer is installed on the following OS ({{ ansible_os_family }})"
  when: ansible_os_family != "RedHat" # Centos

- name: Php Installation
  become: true
  import_tasks: 'root_install_remi.yml'

- name: Php configuration
  become: true
  import_tasks: 'root_configuration.yml'

- name: Php Add the website gerardnico.com
  become: true
  import_tasks: 'root_fpm_configuration.yml'

- name: Php service (Should be started)
  become: true
  import_tasks: 'root_service.yml'

- name: Fpm service should be running
  become: true
  systemd:
    name: "php-fpm"
    state: started
