
- name: Fail if not Redhat
  fail:
    msg: "This role supports only the Redhat family. This computer is installed on the following OS ({{ ansible_os_family }})"
  when: ansible_os_family != "RedHat" # Centos

- name: Php Installation
  become: true
  block:
    - include_tasks: 'root_install_php.yml'
  tags: php-install

- name: Php | LogRotate
  become: true
  block:
    - include_tasks: 'php_logrotate.yml'
  tags: php-logrotate

- name: Create the user used for the pool
  tags: php-admin
  become: true
  block:
    - include_tasks: 'root_create_user.yml'

- name: Php configuration
  tags: php-admin
  become: true
  block:
    - include_tasks: 'root_php_ini_conf.yml'

- name: Php fpm configuration
  tags: php-admin
  become: true
  block:
    - include_tasks: 'root_fpm_configuration.yml'

- name: Php service (Should be started)
  become: true
  block:
    - include_tasks: 'root_service.yml'

- name: Php control
  become: true
  block:
    - include_tasks: 'php_ctl_script.yml'

- name: Fpm service should be running
  become: true
  systemd:
    name: "php-fpm"
    state: started
