
- name: "Create the www group"
  group:
    name: "{{ www_group }}"

- name: "Create the www user"
  user:
    name: "{{ www_user }}"
    password: "{{ www_user_pwd | password_hash('sha512') }}"
    group: '{{ www_group }}'
    groups: 'apache' # in /var/lib/php the group is called apache
    comment: the user that runs the fpm www spool
