# Install from the remi repo

# A repo where you can find php
- name: Install remi repo.
  yum:
    name: "{{ remi_repo_url }}"
    state: present

- name: Import remi GPG key.
  rpm_key:
    key: "{{ remi_repo_gpg_key_url }}"
    state: present


- name: Php is already installed (we update it tp 7.4)
  yum:
    name: '*'
    state: latest
    enablerepo: remi-php74

# Modules can be seen with `php --modules` command
- name: Install Php gd modules
  yum:
    name: php-gd
    state: present
    enablerepo: remi-php74

# Needed by Dokuwiki (Graphic library)
# https://www.dokuwiki.org/requirements

