# Install from the remi repo

# A repo where you can find php
- name: Install remi repo.
  yum:
    name: "{{ remi_repo_url }}"
    state: present

- name: Import remi GPG key.
  rpm_key:
    key: "{{ remi_repo_gpg_key_url }}"
    state: present

# For PHP, you choose the repository which provides the version you want
# (remi-php56, remi-php70,  remi-php71, remi-php72, remi-php73...).
- name: Yum update (to update Php to 7.4)
  yum:
    name: '*'
    state: latest
    enablerepo: remi-php74

# Needed by Dokuwiki (Graphic library)
# https://www.dokuwiki.org/requirements
# Modules can be seen with `php --modules` command
- name: Install Php gd modules
  yum:
    name:
      - php-gd
      - php-imagick
    state: present
    enablerepo: remi-php74

## Needed for manager404
- name: Install Extra Php package needed by the plugin
  yum:
    name:
      - php-pdo
      - php-sqlite3
    state: present
    enablerepo: remi-php74


# Nginx does not contain native PHP processing and need php-fpm (fastCGI process manager)
- name: Install php-fpm command line
  yum:
    name: php-fpm
    state: present
    enablerepo: remi-php74

#- name: Confirm PHP version is correct.
#  shell: php -v | grep -F '{{ php_version }}'
#  changed_when: false

