
- name: "Create the www group"
  group:
    name: "{{ fpm_spool_www_group }}"

- name: "Create the www user"
  user:
    name: "{{ fpm_spool_www_user }}"
    password: "{{ fpm_spool_www_user_pwd | password_hash('sha512') }}"
    group: '{{ fpm_spool_www_group }}'
    comment: the user that runs the fpm www spool

- name: WWW | Root Directory creation
  file:
    state: directory
    path: '{{ www_root_dir }}'
    owner: '{{ fpm_spool_www_user }}'
    group: '{{ fpm_spool_www_group }}'
    mode: 'u=rwx,g=rwx'

- name: Www | Configuring the default pool
  template:
    src: php-fpm-spool-www.conf.j2
    dest: "/etc/php-fpm.d/www.conf"
  notify:
    fpm_reload
