# from https://www.php.net/manual/en/install.unix.nginx.php
# to prevent Nginx from passing requests to the PHP-FPM backend
# if the file does not exists, in order to prevent arbitrarily script injection.
- name: 'Php.ini pathinfo'
  lineinfile:
    dest: "/etc/php.ini"
    state: present
    regexp: "^[;]{0,1}cgi.fix_pathinfo="
    line: "cgi.fix_pathinfo=1"

