

- name: Fpm | Configuring the default pool
  template:
    src: php-fpm-spool-www.conf.ini
    dest: "/etc/php-fpm.d/www.conf"
  notify:
    fpm_reload

- name: Fpm - Giving the right permission to the base log directory
  file:
    state: directory
    path: '{{ fpm_base_log }}'
    owner: '{{ www_user }}'
    group: '{{ www_group }}'

- name: Fpm - Creating the log file (fpm should be able to write on it)
  file:
    state: touch
    path: '{{ fpm_error_log }}'
    owner: '{{ www_user }}'
    group: '{{ www_group }}'
