
- name: "Create the www group"
  group:
    name: "{{ www_group }}"

- name: "Create the www user"
  user:
    name: "{{ www_user }}"
    password: "{{ www_user_pwd | password_hash('sha512') }}"
    group: '{{ www_group }}'
    comment: the user that runs the fpm www spool


- name: Www | Configuring the default pool
  template:
    src: php-fpm-spool-www.conf.j2
    dest: "/etc/php-fpm.d/www.conf"
  notify:
    fpm_reload
