# Install from the source
# not finished
# https://www.php.net/manual/en/install.unix.nginx.php
# this is the configure command
# used on ovh and seen on phpunit.php
# './configure' '--disable-rpath' '--enable-bcmath' '--enable-calendar' '--enable-exif' '--enable-fpm' '--enable-freetype' '--enable-ftp' '--enable-inline-optimization' '--enable-intl' '--enable-libgcc' '--enable-mbregex' '--enable-mbstring' '--enable-memcached' '--enable-mongodb' '--enable-opcache' '--enable-pdo' '--enable-redis' '--enable-shared=yes' '--enable-short-tags' '--enable-sigchild' '--enable-soap' '--enable-sockets' '--enable-static=yes' '--enable-sysvmsg' '--enable-sysvsem' '--enable-sysvshm' '--enable-wddx' '--enable-zip' '--prefix=/usr/local/php7.2' '--with-bz2' '--with-config-file-path=/usr/local/php7.2/etc' '--with-curl=/usr' '--with-gd' '--with-gdbm=/usr' '--with-gettext=/usr' '--with-gmp' '--with-gnu-ld' '--with-iconv' '--with-imagick' '--with-imap' '--with-imap-ssl' '--with-jpeg-dir=/usr' '--with-kerberos' '--with-libxml-dir' '--with-mhash=/usr' '--with-mysqli=mysqlnd' '--with-openssl' '--with-password-argon2' '--with-pcre-regex' '--with-pdo-mysql=mysqlnd' '--with-pdo-pgsql=/usr' '--with-pgsql=/usr' '--with-png-dir=/usr' '--with-pspell' '--with-sodium=/home/pkg/src/sodium-i386/usr' '--with-webp-dir=/usr' '--with-xmlrpc' '--with-xpm-dir=/usr' '--with-xsl=/usr' '--with-zlib=/usr' 'EXTENSION_DIR=/usr/local/php7.2/lib/php-extensions'
- name: Download php source file
  get_url:
    url: 'https://www.php.net/distributions/php-7.2.31.tar.gz'
    dest: /opt
    checksum: sha256:796837831ccebf00dc15921ed327cfbac59177da41b33044d9a6c7134cdd250c

- name: Be sure that tar is present
  yum:
    name: tar
    state: present

- name: Create the php home
  file:
    path: /opt/php
    state: directory
    mode: 0755

- name: Extract php source
  unarchive:
    src: /opt/php-7.2.31.tar.gz
    dest: /opt
    remote_src: yes

