---
# As Drill is an internal service, nginx makes mandatory the use of a client certificate to access it under ssl.


# We use a plain text user/password security
# https://drill.apache.org/docs/configuring-user-security/
# based on htaccess
# https://drill.apache.org/docs/configuring-htpasswd-file-authentication/
# with pam you need to create user on the system and create profile too much complicated

- name: Install the httpd-tools to add the htpasswd tool
  become: true
  yum:
    name: httpd-tools
    state: present

# Note that drill supports only md5, sha1 and plain text
# https://github.com/apache/drill/blob/master/exec/java-exec/src/main/java/org/apache/drill/exec/rpc/user/security/HtpasswdFileUserAuthenticator.java#L79
- name: Drill | Create htpasswd and add the first user
  become: true
  become_user: '{{ drill_user }}'
  shell: # c create the file if it does not exist, b takes the password
     cmd: "/bin/htpasswd -cb {{ drill_htpasswd_location }} {{ drill_user }} {{ drill_password }}"
