---

- name: Drill - Provider Directory
  tags: drill-conf
  file:
    path: '{{ drill_provider_dir }}'
    state: directory
    mode: 0770
    group: "{{ drill_group }}"
    owner: "{{ drill_user }}"

- name: Drill - Provider Directory Drill
  tags: drill-conf
  file:
    path: '{{ drill_provider_dir }}/sys.storage_plugins' # sys.storage_plugins is added by drill
    state: directory
    mode: 0770
    group: "{{ drill_group }}"
    owner: "{{ drill_user }}"

- name: Drill - Copy the conf file
  tags: drill-conf
  become: true
  become_user: '{{ drill_user }}'
  template:
    src: 'drill-override.conf'
    dest: "{{ drill_server_dir }}/conf/drill-override.conf"
    mode: 0640
