---

- name: Drill | Prerequisites
  become: true
  block:
    - include_tasks: 'drill_prerequisites.yml'

- name: Drill | User Creation
  become: true
  block:
    - include_tasks: 'drill_user.yml'

- name: Drill | Check Server Insallation
  become: true
  register: drill_server_path_variable
  stat:
    path: '{{ drill_server_dir }}'

- name: Drill | Download Server if not yet done
  when: not drill_server_path_variable.stat.exists
  become: true
  block:
    - import_tasks: drill_download.yml

- name: Drill | Security
  tags: drill-security
  become: true
  import_tasks: drill_security.yml

- name: Drill | Configuration
  tags: drill-conf
  become: true
  import_tasks: drill_conf.yml

- name: Drill | Service
  become: true
  import_tasks: drill_service.yml
