openapi: 3.0.3
paths: { }
info:
  title: Analytics Model
  description: The analytics model
  version: "v2023-06-18"
components:
  schemas:
    AnalyticsEventChannel:
      description: where the request originated from server, browser or mobile
      type: string
      enum:
        - server # create by the server
        - browser # create by the browser
        - mobile # create by a mobile app
    AnalyticsOperatingSystem:
      description: The os data
      type: object
      properties:
        name:
          type: string
          description: the name
        version:
          type: string
          description: the version
        arch:
          type: string
          description: the architecture
    AnalyticsUrchinTrackingModule:
      description: |
        The UTM data
        See:
        * <a href="https://datacadamia.com/marketing/analytics/utm">UTM</a>
        * <a href="https://ga-dev-tools.google/campaign-url-builder/">UTM builder</a>
        * <a href="https://support.google.com/analytics/answer/10917952">[GA4] URL builders: Collect campaign data with custom URLs</a>
      type: object
      properties:
        id:
          type: string
          description: |
            The Campaign ID is used to identify a specific ad campaign or promotion
            This is a required key for GA4 data import.
          example: summer-sale, abc.123
        campaign:
          type: string
          description: Product, slogan, promo code
          example: spring_sale
        source:
          type: string
          description: |
            Referrer.
            Identifies which site sent the traffic, and is a required parameter
            Example: the referrer (e.g. google, newsletter)
          example: summer-mailer
        medium:
          type: string
          description: |
            Marketing medium (e.g. cpc, banner, email)
            Identifies what type of link was used, such as cost per click or email.
          example: email
        term:
          type: string
          description: |
            Identifies search terms, the paid keywords
        content:
          type: string
          description: |
            Identifies what specifically was clicked to bring the user to the site,
            such as a banner ad or a text link.
            It is often used for A/B testing and content-targeted ads
        referrer:
          type: string
          format: uri
          description: |
            Identifies the referrer URL as it's not passed by default by browser HTTP request
            and therefore not available in the `document.referrer` attribute
            Google Analytics will use "utm_referrer" over "document.referrer" set in AnalyticsBrowser
            utm_source is also a referer but in a named format
    AnalyticsEventContext:
      description: |
        The event context
        A dictionary of extra information that provides useful context about a event
        We follow https://segment.com/docs/connections/spec/common/#context
      type: object
      properties:
        timezone:
          type: string
          description: the timezone id (ie Europe/London)
        locale:
          type: string
          description: the locale (in a browser, this is the language setting)
        ip:
          type: string
          description: The ip (the remote client ip)
          example: 143.176.206.76
        userAgent:
          type: string
          description: The user agent string
        channel:
          $ref: '#/components/schemas/AnalyticsEventChannel'
        os:
          $ref: '#/components/schemas/AnalyticsOperatingSystem'
        utm:
          $ref: '#/components/schemas/AnalyticsUrchinTrackingModule'
        browser:
          $ref: '#/components/schemas/AnalyticsBrowser'
    AnalyticsBrowser:
      type: object
      description: Track browser specific information
      properties:
        uri:
          type: string
          format: uri
          description: the address uri in the browser
        referrer:
          type: string
          format: uri
          description: |
            The `document.referrer`
            Note that Google Analytics will use "utm_referrer" over "document.referrer"
            if set as document.referrer is only the domain/authority part
    AnalyticsEvent:
      description: |
        The event. They are the things that happen in our product.

        We follow a mix of
        * the <a href="https://segment.com/docs/connections/spec/common/">Segment Spec</a>
        * the <a href="https://segment.com/docs/connections/spec/common/">MixPanel Spec</a>

        The segment spec separates the event property from the context as we do.
      type: object
      properties:
        id:
          type: string
          description: |
            A unique identifier for each event.

            It allows to delete duplicate.

            It's known for:
            * segment as messageId
            * mixpanel as $insert_id
        name:
          type: string
          description: the event name
        properties:
          description: The additional event properties
          additionalProperties:
            type: object # may be number, string, boolean
        deviceId:
          type: string
          description: |
            The device id (a uuid4 or a fingerprint for instance)

            It's also known as the user anonymous id because this is the user identifier
            when the user is unknown.

            When you send a message, a userId or a deviceId is required in order to identify a user.

            We prefer the term device id (mixpanel) over anonymous id (segment) because it's
            more meaningful. We track the device.

            It's created on the client side and stored by the client more permanently
            (via a cookie for the browser and stored in local storage for durability).

            It's not the same as a session id because:
            * a session id may be regenerated (when the user sign in for instance).
            * the device id does not have any security feature. You can't login
        user:
          description: The user that created this event
          $ref: '#/components/schemas/AnalyticsUser'
        context:
          $ref: '#/components/schemas/AnalyticsEventContext'
        receptionTime:
          type: string
          format: date-time
          description: The timestamp of when a message was received (if created and send by a client)
        sendingTime:
          type: string
          format: date-time
          description: |
            The timestamp of when a message was sent to the analytics endpoint api
            Time: With Ga, you cannot set the time, It uses the notion of queue
            https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#qt
        creationTime:
          type: string
          format: date-time
          description: The timestamp when the object was created
    AnalyticsUser:
      description: The user
      type: object
      properties:
        id:
          type: string
          description: A unique identifier
        givenName:
          type: string
          description: the user given name
        email:
          type: string
          description: the user email
        avatar:
          type: string
          format: uri
          description: the user avatar
        creationTime:
          type: string
          format: date-time
          description: The timestamp when the user was created
