openapi: 3.0.3
paths: { }
info:
  title: Analytics Model
  description: The analytics model
  version: "v2023-06-18"
components:
  schemas:
    AnalyticsEventUser:
      description: |
        The user properties for the event
        They are only the identifier.
        The AnalyticsUser object has all properties
        and is used to create a profile
      type: object
      properties:
        # the properties have all user as prefix to make them globally unique on all event properties
        userGuid:
          type: string
          description: A unique identifier
        userEmail:
          type: string
          description: the user email (the user handle, may change for the id)
    AnalyticsEventApp:
      description: The properties of the app that created this event
      type: object
      properties:
        # the properties have all app as prefix to make them unique on the event
        # to make the difference with a user (for instance userRealmId)
        appGuid:
          type: string
          description: The app id that has created this event (never change)
        appHandle:
          type: string
          description: The app name identifier (human identifier, may change)
        appRealmGuid:
          type: string
          description: |
            The realm of the app
            If the user is not anonymous, it is the user audience.
        appRealmHandle:
          type: string
          description: The realm human identifier (may change)
        appOrganisationGuid:
          type: string
          description: the organisation id (the billing logical unit, known also as the group id)
        appOrganisationHandle:
          type: string
          description: the organisation handle (human identifier, may change)
    AnalyticsEventRequest:
      description: The request/remote identifiers of an event
      type: object
      properties:
        # these properties do not need a prefix to make them unique on the event
        agentGuid:
          type: string
          description: |
            The agent id
            The Analytics Agent is an object that has all properties
        flowGuid:
          type: string
          description: |
            The flow id is the immutable id of the flow
            A flow is also known as a navigation flow or process that leads to a event creation
          example: Sign in by email, Sign in by OAuth, ...
        flowHandle:
          type: string
          description: |
            The flow handle is the human identifier for the flow (rarely mutable)
        remoteIp:
          type: string
          description: The ip (the remote client ip)
          example: 143.176.206.76
        sessionId:
          type: string
          description: The session id (a nonce)
        originUri:
          type: string
          format: uri
          description: |
            The origin uri (from where the request originate inside the app)
            For a browser, the uri in the address bar or a iframe uri
            For a gui app, an uri that represents a page
        referrerUri:
          type: string
          format: uri
          description: |
            The http `referrer` header or javascript `document.referrer`
            Note that Google Analytics will use "utm_referrer" over "document.referrer"
            if set as document.referrer is only the domain/authority part
    AnalyticsEventState:
      description: |
        The times of the status (in UTC)
      type: object
      properties:
        # these properties have a prefix to make them unique on the event
        eventCreationTime:
          type: string
          format: date-time
          description: The date-time in UTC when the event has happend (ie when the object was created)
        eventReceptionTime:
          type: string
          format: date-time
          description: The date-time in UTC of when a message was received on the API (if created and send by a client)
        eventSendingTime:
          type: string
          format: date-time
          description: |
            The date-time in UTC of when a message was sent to the analytics endpoint api
            Time: With Ga, you cannot set the time, It uses the notion of queue
            https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#qt
    AnalyticsEventUtm:
      description: |
        The data that permits to derive the channel (ie how the
        user came in).
        UTM (Urchin Tracking Module) data with the document referer.
            See:
            * <a href="https://datacadamia.com/marketing/analytics/utm">UTM</a>
            * <a href="https://ga-dev-tools.google/campaign-url-builder/">UTM builder</a>
            * <a href="https://support.google.com/analytics/answer/10917952">[GA4] URL builders: Collect campaign data with custom URLs</a>
      type: object
      properties:
        # the properties have all utm as prefix to make them unique on the event and clear that they are utm data
        utmCampaignId:
          type: string
          description: |
            The Campaign ID is used to identify a specific ad campaign or promotion
            Known as utm_id, this is a required key for GA4 data import.
          example: summer-sale, abc.123
        utmCampaign:
          type: string
          description: The Utm Campaign Name (utm_campaign)
          example: spring_sale, Product, slogan, promo code
        utmSource:
          type: string
          description: |
            Referrer.
            Identifies which site sent the traffic, and is a required parameter
            Example: the referrer (e.g. google, newsletter)
          example: summer-mailer
        utmMedium:
          type: string
          description: |
            Marketing medium (e.g. cpc, banner, email)
            Identifies what type of link was used, such as cost per click or email.
          example: email
        utmTerm:
          type: string
          description: |
            Identifies search terms, the paid keywords
        utmContent:
          type: string
          description: |
            Identifies what specifically was clicked to bring the user to the site,
            such as a banner ad or a text link.
            It is often used for A/B testing and content-targeted ads
        utmReferrer:
          type: string
          format: uri
          description: |
            Identifies the referrer URL as it's not passed by default by browser HTTP request
            and therefore not available in the `document.referrer` attribute
            Google Analytics will use "utm_referrer" over "http header / javascript document.referrer"
            utm_source is also a referer but in a named format
    AnalyticsAgent:
      description: The properties of a user agent
      type: object
      properties:
        id:
          type: string
          description: |
            The user agent/device id (a uuid4 or a fingerprint for instance)

            It's also known as the user anonymous id because this is the user identifier
            when the user is unknown.

            When you send a message, a userId or a deviceId is required in order to identify a user.

            We prefer the term device id (mixpanel) over anonymous id (segment) because it's
            more meaningful. We track the device.

            It's created on the client side and stored by the client more permanently
            (via a cookie for the browser and stored in local storage for durability).

            It's not the same as a session id because:
            * a session id may be regenerated (when the user sign in for instance).
            * the device id does not have any security feature. You can't login
        string:
          type: string
          description: The user agent string
        timezoneId:
          type: string
          description: the timezone id (ie Europe/London)
        locale:
          type: string
          description: the locale (in a browser, this is the language setting)
        osName:
          type: string
          description: the OS name
        osVersion:
          type: string
          description: the OS version
        osArch:
          type: string
          description: the OS architecture
    AnalyticsEvent:
      # spec in the wild: https://segment.com/docs/connections/spec/common/
      description: |
        The event. They are the things that happen in our product.

        Every event type should conform to this object and add its properties in the attr attribute.

        We follow the element of a sequential diagram with the following participants:
        * user: the user
        * agent: the agent that the user is using
        * request: the request
        * time: the state times
        * channel: the channel properties (how the user came in)

        All properties that are tied only to the event type/name
        are properties added at the root with a primary datatype.
      type: object
      properties:
        ## rules
        ## minimal 2 words by properties name
        ## except for the properties directly attached to the event (ie id and name)
        guid:
          type: string
          description: |
            A global unique identifier for each event.

            It allows to delete duplicate.

            It's a timestamp based UUID
            where the timestamp is the value of the creation time.
            (It permits to quickly retrieve via partition an event)

            It's known for:
            * segment as messageId
            * mixpanel as $insert_id
        typeName:
          type: string
          description: |
            The type name (known also as event name)
            An human readable name that will be normalized to camel case with space separator
          example: '`Sign up`, `Purchase`'
        typeGuid:
          type: string
          description: |
            A immutable type guid that permit to change the name
            For now:
            0 for sign-up
            1 for sign-in
            2 for user profile update
          example: '0, 1, 2'
        state:
          $ref: '#/components/schemas/AnalyticsEventState'
        app:
          $ref: '#/components/schemas/AnalyticsEventApp'
        user:
          $ref: '#/components/schemas/AnalyticsEventUser'
        request:
          $ref: '#/components/schemas/AnalyticsEventRequest'
        utm:
          $ref: '#/components/schemas/AnalyticsEventUtm'
        attr:
          description: The custom attributes for the event type
          additionalProperties:
            type: object # may be number, string, boolean
    AnalyticsUser:
      description: The user
      type: object
      properties:
        guid:
          type: string
          description: A unique global identifier
        name:
          type: string
          description: The short name
        givenName:
          type: string
          description: the user given name
        familyName:
          type: string
          description: the user family name
        email:
          type: string
          description: the user email (the human identifier, ie same as an handle, may change for the id)
        avatar:
          type: string
          format: uri
          description: the user avatar
        realmGuid:
          type: string
          description: the realm guid
        realmHandle:
          type: string
          description: the realm handle
        organizationGuid:
          type: string
          description: the organization guid
        organizationHandle:
          type: string
          description: the organization handle
        creationTime:
          type: string
          format: date-time
          description: The timestamp when the user was created
        remoteIp:
          type: string
          description: The request remote Ip for geo-localization
