openapi: 3.0.3
info:
  description: |
    Member App of [Eraldy](https://eraldy.com)
    that manages identity and registration
  title: Member App
  version: v2023-18-06
servers:
- url: https://member.eraldy.com
- url: https://member.eraldy.dev
paths:
  /logout:
    get:
      operationId: logoutGet
      parameters:
      - description: |
          After a logout, the user is redirect to the login page
          redirect_uri is the redirection URL after a successful login
          If the value is not set, the referer is used instead if found
          or an error is returned
        explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          type: string
        style: form
      responses:
        default:
          description: successful operation
      summary: The logout endpoint
      tags:
      - auth
      x-accepts: application/json
  /login:
    get:
      operationId: loginGet
      parameters:
      - description: The redirect uri (known also as callback endpoint)
        explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          example: https://client.example.com/callback
          type: string
        style: form
      - description: The client id (the app guid)
        explode: true
        in: query
        name: client_id
        required: false
        schema:
          type: string
        style: form
      - description: The response type
        explode: true
        in: query
        name: response_type
        required: false
        schema:
          type: string
        style: form
      - description: |
          The [state](https://datacadamia.com/iam/oauth/state) is a opaque value with the initial navigational state of the user.
          The state is mandatory because its encoded value permits to validate the callback
          and therefore to avoid a CSRF.
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      - description: |
          The realm handle
        explode: true
        in: query
        name: realm_handle
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The login HTML page for a user
      summary: Login page for the combostrap domain
      tags:
      - auth
      x-accepts: text/html
  /login/email:
    get:
      operationId: loginEmailGet
      parameters:
      - description: The redirect uri (known also as callback endpoint)
        explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          example: https://client.example.com/callback
          type: string
        style: form
      - description: The client id (the app guid)
        explode: true
        in: query
        name: client_id
        required: false
        schema:
          type: string
        style: form
      - description: The response type
        explode: true
        in: query
        name: response_type
        required: false
        schema:
          type: string
        style: form
      - description: |
          The [state](https://datacadamia.com/iam/oauth/state) is a opaque value with the initial navigational state of the user.
          The state is mandatory because its encoded value permits to validate the callback
          and therefore to avoid a CSRF.
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      - description: |
          The realm handle
        explode: true
        in: query
        name: realm_handle
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The login page by email
      summary: Login page by magic link via email
      tags:
      - auth
      x-accepts: text/html
    post:
      operationId: loginEmailPost
      requestBody:
        $ref: '#/components/requestBodies/LoginEmailPostBody'
      responses:
        "204":
          description: Successful. An email was sent or not if not known
      security: []
      summary: Login by sending an email with a login link
      tags:
      - auth
      x-content-type: application/json
      x-accepts: application/json
  /login/oauth/{provider}:
    get:
      operationId: loginOauthProviderGet
      parameters:
      - description: The OAuth provider
        example: github
        explode: false
        in: path
        name: provider
        required: true
        schema:
          enum:
          - github
          - google
          type: string
        style: simple
      - description: The list guid if the user register to a list
        example: lis-xxxx
        explode: true
        in: query
        name: list_guid
        required: false
        schema:
          type: string
        style: form
      - description: The redirect uri (known also as callback endpoint)
        explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          example: https://client.example.com/callback
          type: string
        style: form
      - description: |
          The realm handle
        explode: true
        in: query
        name: realm_handle
        required: false
        schema:
          type: string
        style: form
      - description: |
          The realm guid
        explode: true
        in: query
        name: realm_guid
        required: false
        schema:
          type: string
        style: form
      responses:
        "302":
          description: The OAuth redirection URL to the authorization end point for
            the provider
      summary: |
        Redirect to the external oauth authorization end point
      tags:
      - auth
      x-accepts: application/json
  /login/oauth/access_token:
    get:
      operationId: loginOauthAccessTokenGet
      parameters:
      - description: The OAuth authorization code
        explode: true
        in: query
        name: code
        required: true
        schema:
          type: string
        style: form
      - description: The OAuth application client id
        explode: true
        in: query
        name: client_id
        required: false
        schema:
          type: string
        style: form
      - description: The OAuth application client secret
        explode: true
        in: query
        name: client_secret
        required: false
        schema:
          type: string
        style: form
      - description: The OAuth callback where you received the code
        explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/OAuthAccessTokenResponse'
          description: The Access token
      summary: Exchange a code for an access token
      tags:
      - auth
      x-accepts: text/json
  /login/oauth/authorize:
    get:
      operationId: loginOauthAuthorizeGet
      parameters:
      - description: The redirect uri (known also as callback endpoint)
        explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          example: https://client.example.com/callback
          type: string
        style: form
      - description: The client id (the app guid)
        explode: true
        in: query
        name: client_id
        required: false
        schema:
          type: string
        style: form
      - description: The response type
        explode: true
        in: query
        name: response_type
        required: false
        schema:
          type: string
        style: form
      - description: |
          The [state](https://datacadamia.com/iam/oauth/state) is a opaque value with the initial navigational state of the user.
          The state is mandatory because its encoded value permits to validate the callback
          and therefore to avoid a CSRF.
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The HTML page for a user
      summary: |
        An oauth authorization end point for Combostrap
      tags:
      - auth
      x-accepts: text/html
  /login/password:
    get:
      operationId: loginPasswordGet
      parameters:
      - description: The redirect uri (known also as callback endpoint)
        explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          example: https://client.example.com/callback
          type: string
        style: form
      - description: The client id (the app guid)
        explode: true
        in: query
        name: client_id
        required: false
        schema:
          type: string
        style: form
      - description: The response type
        explode: true
        in: query
        name: response_type
        required: false
        schema:
          type: string
        style: form
      - description: |
          The [state](https://datacadamia.com/iam/oauth/state) is a opaque value with the initial navigational state of the user.
          The state is mandatory because its encoded value permits to validate the callback
          and therefore to avoid a CSRF.
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      - description: |
          The realm handle
        explode: true
        in: query
        name: realm_handle
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The password login HTML page for a user
      summary: Password Login page
      tags:
      - auth
      x-accepts: text/html
    post:
      operationId: loginPasswordPost
      requestBody:
        $ref: '#/components/requestBodies/LoginPostBody'
      responses:
        "302":
          description: Successful
        "401":
          description: "Bad Credentials, no user or no password found"
        "400":
          description: Other errors such as session expired
      security: []
      summary: The login form end point for password credentials
      tags:
      - auth
      x-content-type: application/json
      x-accepts: application/json
  /login/password/update:
    get:
      operationId: loginPasswordUpdateGet
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The password update form page
      summary: |
        Password update form page that is reached when clicking on the reset link
        received by email
      tags:
      - auth
      x-accepts: text/html
    post:
      operationId: loginPasswordUpdatePost
      requestBody:
        $ref: '#/components/requestBodies/PasswordOnlyPostBody'
      responses:
        "302":
          description: Successful
        "400":
          description: Other errors such as session expired
      summary: Update the password
      tags:
      - auth
      x-content-type: application/json
      x-accepts: application/json
  /login/password/reset:
    get:
      operationId: loginPasswordResetGet
      parameters:
      - description: The redirect uri (known also as callback endpoint)
        explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          example: https://client.example.com/callback
          type: string
        style: form
      - description: The client id (the app guid)
        explode: true
        in: query
        name: client_id
        required: false
        schema:
          type: string
        style: form
      - description: The response type
        explode: true
        in: query
        name: response_type
        required: false
        schema:
          type: string
        style: form
      - description: |
          The [state](https://datacadamia.com/iam/oauth/state) is a opaque value with the initial navigational state of the user.
          The state is mandatory because its encoded value permits to validate the callback
          and therefore to avoid a CSRF.
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      - description: |
          The realm handle
        explode: true
        in: query
        name: realm_handle
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The password reset page
      summary: Password reset page
      tags:
      - auth
      x-accepts: text/html
    post:
      operationId: loginPasswordResetPost
      requestBody:
        $ref: '#/components/requestBodies/EmailPostBody'
      responses:
        "204":
          description: Processed. An email was send for password resetting if it was
            found.
        "400":
          description: The email provided is not valid
      security: []
      summary: Login via a link and give the possibility to modify the password
      tags:
      - auth
      x-content-type: application/json
      x-accepts: application/json
  /register/user:
    get:
      operationId: registerUserGet
      parameters:
      - description: The redirect uri (known also as callback endpoint)
        explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          example: https://client.example.com/callback
          type: string
        style: form
      - description: The client id (the app guid)
        explode: true
        in: query
        name: client_id
        required: false
        schema:
          type: string
        style: form
      - description: The response type
        explode: true
        in: query
        name: response_type
        required: false
        schema:
          type: string
        style: form
      - description: |
          The [state](https://datacadamia.com/iam/oauth/state) is a opaque value with the initial navigational state of the user.
          The state is mandatory because its encoded value permits to validate the callback
          and therefore to avoid a CSRF.
        explode: true
        in: query
        name: state
        required: false
        schema:
          type: string
        style: form
      - description: |
          The realm handle
        explode: true
        in: query
        name: realm_handle
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The register HTML page for a user
      summary: Shows a page where a user can register
      tags:
      - auth
      x-accepts: text/html
    post:
      operationId: registerUserPost
      requestBody:
        $ref: '#/components/requestBodies/EmailPostBody'
      responses:
        "200":
          description: An email was send for validation
        "400":
          description: The email is not valid
      security: []
      summary: Register a user
      tags:
      - auth
      x-content-type: application/json
      x-accepts: application/json
  /register/list/{list_guid}:
    get:
      operationId: registerListListGet
      parameters:
      - description: The public list guid where the user should be registered
        explode: false
        in: path
        name: list_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The redirect uri (known also as callback endpoint)
        explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          example: https://client.example.com/callback
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The register list HTML page
      security: []
      summary: Shows a page where a user can register to a list
      tags:
      - auth
      x-accepts: text/html
  /register/list:
    post:
      operationId: registerListPost
      requestBody:
        $ref: '#/components/requestBodies/ListRegistrationPostBody'
      responses:
        "200":
          description: Email was send for validation
        "204":
          description: Email was send for validation
      security: []
      summary: Register a user to a list by sending an email for validation
      tags:
      - auth
      x-content-type: application/json
      x-accepts: application/json
  /register/list/confirmation/{registration_guid}:
    get:
      operationId: registerListConfirmationRegistrationGet
      parameters:
      - description: The registration guid
        explode: false
        in: path
        name: registration_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The redirect uri (known also as callback endpoint)
        explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          example: https://client.example.com/callback
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The registration list confirmation HTML page
      security: []
      summary: Shows a confirmation page for the registration
      tags:
      - auth
      x-accepts: text/html
components:
  parameters:
    response_type:
      description: The response type
      explode: true
      in: query
      name: response_type
      required: false
      schema:
        type: string
      style: form
    client_id:
      description: The client id (the app guid)
      explode: true
      in: query
      name: client_id
      required: false
      schema:
        type: string
      style: form
    state:
      description: |
        The [state](https://datacadamia.com/iam/oauth/state) is a opaque value with the initial navigational state of the user.
        The state is mandatory because its encoded value permits to validate the callback
        and therefore to avoid a CSRF.
      explode: true
      in: query
      name: state
      required: false
      schema:
        type: string
      style: form
    realm_handle:
      description: |
        The realm handle
      explode: true
      in: query
      name: realm_handle
      required: false
      schema:
        type: string
      style: form
    realm_guid:
      description: |
        The realm guid
      explode: true
      in: query
      name: realm_guid
      required: false
      schema:
        type: string
      style: form
    redirect_uri:
      description: The redirect uri (known also as callback endpoint)
      explode: true
      in: query
      name: redirect_uri
      required: false
      schema:
        example: https://client.example.com/callback
        type: string
      style: form
  requestBodies:
    LoginPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PasswordCredentials'
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/PasswordCredentials'
      description: The data needed to log a user in by password credentials
      required: true
    LoginEmailPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EmailIdentifier'
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/EmailIdentifier'
      description: The data needed to log a user in by email
      required: true
    PasswordOnlyPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PasswordOnly'
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/PasswordOnly'
      description: Password update body
      required: true
    EmailPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EmailIdentifier'
      description: A json object with only a email
      required: true
    ListRegistrationPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListRegistrationPostBody'
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/ListRegistrationPostBody'
      description: The data needed to register a user to a list
      required: true
  schemas:
    OAuthAccessTokenResponse:
      description: The access token response
      properties:
        access_token:
          description: The access token string as issued by the authorization server
            (required)
          type: string
        token_type:
          description: The type of token (ie how the token should be passed) (required)
          example: bearer
          type: string
        scope:
          description: The scopes separated by a comma (Optional)
          example: repo gist openid profile email
          type: string
        expires_in:
          description: "The duration of time the access token is granted for, if the\
            \ access token expires (Optional)"
          type: string
        refresh_token:
          description: "A refresh token to obtain another access token (if the access\
            \ token expired), (Optional)"
          type: string
      required:
      - access_token
      - token_type
      title: The access token response
      type: object
    PasswordOnly:
      description: To update a password
      example:
        password: password
      properties:
        password:
          description: A password
          type: string
      required:
      - password
      title: To update a password
      type: object
    EmailIdentifier:
      description: An object that identifies an user by its email and realm
      example:
        userEmail: userEmail
        realmHandle: realmHandle
      properties:
        userEmail:
          description: An email
          type: string
        realmHandle:
          description: The realm handle
          type: string
      required:
      - realmHandle
      - userEmail
      type: object
    ListRegistrationPostBody:
      description: |
        The data needed to register a user to a list
        Note that a user email or a user id is required
        (OpenAPI cannot describe that in a elegant way)
        a user email or id is mandatory
        a list id or guid is mandatory
      example:
        redirectUri: https://example.com/page
        listGuid: listGuid
        subscriberEmail: john@doe.com
      properties:
        subscriberEmail:
          description: The email of the user that want to subscribe
          example: john@doe.com
          format: email
          type: string
        listGuid:
          description: The public list id where the user should be registered
          type: string
        redirectUri:
          description: where to redirect the user
          example: https://example.com/page
          format: uri
          type: string
      title: Registration Request to a list
      type: object
    PasswordCredentials:
      description: |
        The data needed to login with a login/password
      example:
        loginRealm: doe
        loginPassword: loginPassword
        loginHandle: john@doe.com
      properties:
        loginRealm:
          description: The realm of the user
          example: doe
          type: string
        loginHandle:
          description: The email of the user
          example: john@doe.com
          format: email
          type: string
        loginPassword:
          description: The password of the user
          type: string
      required:
      - loginHandle
      - loginPassword
      - loginRealm
      title: The password credentials object
      type: object
