# Define a group of server
# http://nginx.org/en/docs/http/ngx_http_upstream_module.html
upstream {{ gnico_app }} {
    server 127.0.0.1:{{ gnico_port }};
    # A keepalive directive sets the maximum number of upstream idle connections that can remain open at any given time (for each Nginx worker process).
    keepalive 64;
}


# Api
server {
    listen       443 ssl http2;
    listen       [::]:443 ssl http2;

    # Change `example.com` to match your domain name.
    server_name {{ gnico_fqdn_api }};

    ssl_certificate_key "/etc/letsencrypt/live/{{ gnico_fqdn_api }}/privkey.pem";
    ssl_certificate "/etc/letsencrypt/live/{{ gnico_fqdn_api }}/fullchain.pem";
    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout  10m;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;


    location / {

        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto "https";
        proxy_pass http://{{ gnico_app }};
        proxy_http_version 1.1;
        proxy_pass_request_headers on;
        proxy_set_header Connection "keep-alive";
        proxy_store off;

    }
}

# Analytics
server {
    listen       443 ssl http2;
    listen       [::]:443 ssl http2;

    # Change `example.com` to match your domain name.
    server_name {{ gnico_fqdn_analytics }};

    ssl_certificate_key "/etc/letsencrypt/live/{{ gnico_fqdn_analytics }}/privkey.pem";
    ssl_certificate "/etc/letsencrypt/live/{{ gnico_fqdn_analytics }}/fullchain.pem";
    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout  10m;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;


    location / {

        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Server $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-Proto "https";
        proxy_pass http://127.0.0.1:{{ gnico_port }}/analytics;
        proxy_http_version 1.1;
        proxy_pass_request_headers on;
        proxy_set_header Connection "keep-alive";
        proxy_store off;

    }
}
