
# Basic monitoring of nginx
#
# Used by netdata
# https://learn.netdata.cloud/docs/agent/collectors/python.d.plugin/nginx
# expected at http://localhost/stub_status'
#
# doc: http://nginx.org/en/docs/http/ngx_http_stub_status_module.html
server {

    listen 80;
    server_name localhost;
    location = /stub_status {

            stub_status;

    }
}
