# from https://help.sonatype.com/repomanager3/installation/run-behind-a-reverse-proxy#RunBehindaReverseProxy-Example:ReverseProxySSLTerminationatBasePath
server {

    listen       443 ssl http2;
    listen       [::]:443 ssl http2;

    # Change `example.com` to match your domain name.
    server_name {{ nexus_fqdn }};

    # allow large uploads of files
    client_max_body_size 1G;

    # optimize downloading files larger than 1G
    # proxy_max_temp_file_size 2G;

    ssl_certificate_key "/etc/letsencrypt/live/nexus.bytle.net/privkey.pem";
    ssl_certificate "/etc/letsencrypt/live/nexus.bytle.net/fullchain.pem";
    ssl_session_cache shared:SSL:1m;
    ssl_session_timeout  10m;
    ssl_ciphers HIGH:!aNULL:!MD5;
    ssl_prefer_server_ciphers on;

    location {{ nexus_context_path }} {
        proxy_pass http://127.0.0.1:{{ nexus_port }}{{ nexus_context_path }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto "https";
    }

}

# redirect ssl
server {
    listen 80;
    server_name {{ nexus_fqdn }};
    return 301 https://{{ nexus_fqdn }}$request_uri;
}
