openapi: 3.0.3
info:
  title: Eraldy API
  description: |
    The eraldy api
  # Quote are deleted https://github.com/OpenAPITools/openapi-generator/issues/3196
  # We can't therefore use a date string as the generated openapi.yaml file has no quote
  # and the data is seen as date, not as string
  version: "v2023-06-18"
servers:
  - url: 'https://api.eraldy.com'
  - url: 'https://localhost:8083'
# check the openApi.md file to know more about tags.
tags:
  - name: env
    description: Env data
  - name: realm
    description: Realm module
  - name: auth
    description: Auth module
  - name: user
    description: User module
  - name: list
    description: List module (creation, registration)
  - name: app
    description: App module
  - name: analytics
    description: Analytics module
  - name: organization
    description: Organization module
  - name: email
    description: EMail module (ie SMTP)
# Secure by default, if you want to make an operation public,
# you need to set the security for an operation to the empty array
# security: []
security:
  - apiKeyAuth: [ ]
components:
  securitySchemes:
    # Api key is the only security that is supported on api client for dev environment only
    # The realm session cookie id is also supported but there is no way to express it in openapi
    # because the cookie name is realm dependent and not fixed
    apiKeyAuth: # binding name (arbitrary name used in code and in the file)
      $ref: './eraldy-common-openapi.yaml#/components/securitySchemes/apiKeyAuth'
  requestBodies:
    LoginPostBody:
      description: The data needed to log a user in by password credentials
      required: true
      content:
        application/json:
          schema:
            $ref: './eraldy-common-openapi.yaml#/components/schemas/PasswordCredentials'
        #https://swagger.io/docs/specification/describing-request-body/multipart-requests/
        multipart/form-data:
          schema:
            $ref: './eraldy-common-openapi.yaml#/components/schemas/PasswordCredentials'
    LoginEmailPostBody:
      description: The data needed to log a user in by email
      required: true
      content:
        application/json:
          schema:
            $ref: './eraldy-common-openapi.yaml#/components/schemas/EmailIdentifier'
        #https://swagger.io/docs/specification/describing-request-body/multipart-requests/
        multipart/form-data:
          schema:
            $ref: './eraldy-common-openapi.yaml#/components/schemas/EmailIdentifier'
    AuthEmailPostBody:
      description: The data needed to register a user
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthEmailPost'
        #https://swagger.io/docs/specification/describing-request-body/multipart-requests/
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/AuthEmailPost'
    PasswordOnlyPostBody:
      description: Password update body
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PasswordOnly'
        #https://swagger.io/docs/specification/describing-request-body/multipart-requests/
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/PasswordOnly'
  schemas:
    ListImportPostResponse:
      description: |
        The succesful response to the submission of a import job for a list
      type: object
      properties:
        jobIdentifier:
          type: string
          description: The job id
          example: xmmmN
    ListImportJobRowStatus:
      description: |
        This object represents the status of a row in a import job for a list.
      type: object
      properties:
        emailAddress:
          type: string
          description: The email to import
        statusCode:
          description: "The status code"
          type: integer
          format: int32 # integer
        statusMessage:
          type: string
          description: A message
        rowId:
          type: integer
          format: int32 # integer
          description: The row id in the input file
        userGuid:
          type: string
          description: The user guid (may be null)
        userStatus:
          type: integer
          format: int32 # integer
          description: The status code of the user (0 - nothing done, 1 - user updated, 2 - user created)
        listUserGuid:
          type: string
          description: The list user guid (may be null if there is an error)
        listUserStatus:
          type: integer
          format: int32 # integer
          description: The status code of the user in the list (0 - nothing done, 1 - user added)
    ListImportJobStatus:
      type: object
      description: |
        This object represents the status of a job that imports users for a list.
      required:
        - jobId
      x-implements:
        - "net.bytle.vertx.TowerCompositeFutureListener"
      properties:
        jobId:
          type: string
          # the job id is not a guid, you also need the list guid
          description: The job id
          example: xmmmN
        statusCode:
          type: integer
          description: "The status code: -2: queued, -1: processing, 0: done, 1: fatal error, 2: quota reached"
        statusMessage:
          type: string
          description: A description of any fatal error if any
        listUserActionCode:
          type: integer
          description: "The action on the list user: 0: add (in), 1: delete (out)"
        userActionCode:
          type: integer
          description: "The action on the user: 0: no update (create only), 1: update"
        uploadedFileName:
          type: string
          description: The original file name
        countTotal:
          type: integer
          description: The number of rows to process
        countComplete:
          type: integer
          description: The number of rows processed
        countSuccess:
          type: integer
          description: The number of rows processed without a fatal failure
        countFailure:
          type: integer
          description: The number of rows processed with a fatal failure
        creationTime:
          type: string
          format: date-time
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
    AuthEmailPost:
      type: object
      description: A auth post object based on email to register, get a magic link, ...
      required:
        - userEmail
        - realmIdentifier
        - redirectUri
      properties:
        userEmail:
          type: string
          # we don't set the format because the openapi validation is not really helpful for the end client
          # we do the validation ourselves
          # format: email
          description: An email
        realmIdentifier:
          type: string
          description: The realm identifier (guid or handle)
        redirectUri:
          type: string
          description: The uri where to redirect the user after successful registration
    PasswordOnly:
      title: To update a password
      description: To update a password
      type: object
      required:
        - password
      properties:
        password:
          type: string
          description: A password
    OAuthAccessTokenResponse:
      title: The access token response
      description: The access token response
      type: object
      required:
        - access_token
        - token_type
      properties:
        access_token:
          type: string
          description: The access token string as issued by the authorization server (required)
        token_type:
          type: string
          description: The type of token (ie how the token should be passed) (required)
          example: bearer
        scope:
          type: string
          description: The scopes separated by a comma (Optional)
          example: repo gist openid profile email
        expires_in:
          type: string
          description: The duration of time the access token is granted for, if the access token expires (Optional)
        refresh_token:
          type: string
          description: A refresh token to obtain another access token (if the access token expired), (Optional)
  parameters:
    response_type:
      name: response_type
      description: "The response type"
      in: query
      required: false # by default, session cookie for first party
      schema:
        type: string
    state:
      name: state
      description: |
        The [state](https://datacadamia.com/iam/oauth/state) is a opaque value with the initial navigational state of the user.
        The state is mandatory because its encoded value permits to validate the callback
        and therefore to avoid a CSRF.
      required: false # not mandatory for session cookie response type
      in: query
      schema:
        type: string
    client_id:
      name: client_id
      description: |
        The client id
      required: true # mandatory to determine the realm
      in: query
      schema:
        type: string
    redirect_uri:
      name: redirect_uri
      description: "The redirect uri (known also as callback endpoint)"
      in: query
      required: true
      schema:
        type: string
        # format: uri (uri is not supported as url parameter format)
        example: https://client.example.com/callback
paths:
  /auth/logout:
    get:
      operationId: "authLogoutGet"
      summary: The logout endpoint
      security: []
      tags:
        - auth
      parameters:
        - $ref: "#/components/parameters/redirect_uri"
          description: |
            After a logout, the user is redirected to the login page
            redirect_uri is the redirection URL after a successful login
            If the value is not set, the referer is used instead if found
            or an error is returned
      responses:
        default:
          description: successful operation
  /auth/login/authorize:
    get:
      operationId: "authLoginAuthorizeGet"
      summary: |
        Authorize is the main entrypoint for the login flow.

        If the user is already logged, the user is redirected to the redirect uri.
        If the user is not logged in, the user is redirected to the front end app.

        It's an adaptation of the [OAuth authorization endpoint](https://datacadamia.com/iam/oauth/authorization_endpoint)
      tags:
        - auth
      security: [ ] # open
      parameters:
        - $ref: "#/components/parameters/redirect_uri"
      responses:
        '302':
          description: |
            Redirect:
              * to the redirect_uri if the user is already logged in
              * to the login page if the user is not logged in
  /auth/login/oauth/{provider}:
    get:
      operationId: "authLoginOauthProviderGet"
      summary: |
        Redirect to the external oauth authorization end point
      tags:
        - auth
      security: [ ] # open
      parameters:
        - name: provider
          description: "The OAuth provider"
          in: path
          required: true
          schema:
            type: string
            enum: [ github, google ]
          example: github
        - name: list_guid
          description: "The list guid if the user register to a list"
          in: query
          schema:
            type: string
          example: 'lis-xxxx'
        - $ref: "#/components/parameters/redirect_uri"
        - $ref: "#/components/parameters/client_id"
      responses:
        '302':
          description: "The OAuth redirection URL to the authorization end point for the provider"
  /auth/login/email:
    post:
      operationId: "authLoginEmailPost"
      summary: Login by sending an email with a login link
      tags:
        - auth
      security: [] # open
      requestBody:
        $ref: '#/components/requestBodies/AuthEmailPostBody'
      responses:
        204:
          description: "Successful. An email was sent or not if not known"
  /auth/login/oauth/access_token:
    get:
      operationId: "authLoginOauthAccessTokenGet"
      summary: Exchange a oauth code for an access token
      tags:
        - auth
      parameters:
        - name: code
          description: "The OAuth authorization code"
          in: query
          required: true
          schema:
            type: string
        - name: client_id
          description: "The OAuth application client id"
          in: query
          schema:
            type: string
        - name: client_secret
          description: "The OAuth application client secret"
          in: query
          schema:
            type: string
        - name: redirect_uri
          description: "The OAuth callback where you received the code"
          in: query
          schema:
            type: string
      responses:
        '200':
          description: "The Access token"
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/OAuthAccessTokenResponse'
  /auth/login/password:
    post:
      operationId: "authLoginPasswordPost"
      # even if the request does not change anything, this is a post
      # GitHub does it also this way
      # The Csrf token is passed via HTTP headers
      summary: The login form end point for password credentials
      tags:
        - auth
      security: [] # open
      requestBody:
        $ref: '#/components/requestBodies/LoginPostBody'
      responses:
        302:
          description: "Successful"
        401:
          description: "Bad Credentials, no user or no password found"
        400:
          description: "Other errors such as session expired"
  /auth/login/password/update:
    post:
      operationId: "authLoginPasswordUpdatePost"
      summary: "Update the password"
      tags:
        - auth
      requestBody:
        $ref: '#/components/requestBodies/PasswordOnlyPostBody'
      responses:
        302:
          description: "Successful"
        400:
          description: "Other errors such as session expired"
  /auth/login/password/reset:
    post:
      operationId: "authLoginPasswordResetPost"
      summary: "Login via a link and give the possibility to modify the password"
      tags:
        - auth
      security: [] # open
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/EmailPostBody'
      responses:
        '204':
          # even if the email exists, we don't want to leak info
          description: "Processed. An email was send for password resetting if it was found."
        '400':
          description: "The email provided is not valid"
  /auth/register/user:
    post:
      operationId: "authRegisterUserPost"
      summary: "Register a user"
      tags:
        - auth
      security: [] # open
      requestBody:
        $ref: '#/components/requestBodies/AuthEmailPostBody'
      responses:
        '200':
          # even if the email exists, we don't want to leak info
          description: "An email was send for validation"
        '400':
          description: "A parameter is not valid"
  /auth/register/list:
    post:
      operationId: authRegisterListPost
      summary: "Register a user to a list by sending an email for validation"
      tags:
        - auth
      security: [] # open
      requestBody:
        required: true
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/ListUserPostBody'
      responses:
        '200':
          description: "Email was send for validation"
        '204':
          description: "Email was send for validation"
  /auth/register/list/{listIdentifier}:
    get:
      operationId: authRegisterListListIdentifierGet
      summary: |
        Register a user to a list
        If the user is:
          * not signed in, a redirection occurs to the page with the register form
          * signed in, a redirection occurs to the confirmation page
      tags:
        - auth
      security: [ ] # open
      parameters:
        - name: listIdentifier
          description: "The list identifier (guid, ...)"
          in: path
          required: true
          schema:
            type: string
            example: "lis-xklm"
      responses:
        '302':
          description: "Redirect to the form or confirmation page"
  /analytics/event:
    post:
      operationId: analyticsEventPost
      summary: "Report a analytics event"
      security: [] # open
      tags:
        - analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './eraldy-common-openapi.yaml#/components/schemas/AnalyticsEventPost'
      responses:
        '200':
          description: "Event was processed"
  /analytics/event/{eventName}:
    get:
      operationId: "analyticsEventNameGet"
      summary: "Return a list of events"
      tags:
        - analytics
      parameters:
        - name: eventName
          description: "The event name to retrieve"
          # Path parameters are mandatory
          # https://github.com/OAI/OpenAPI-Specification/issues/622
          required: true
          in: path
          schema:
            type: string
            example:
              - "Sign-up"
              - "Sign-in"
        - name: realmIdentifier
          description: "The guid or handle of the realm"
          # Path parameters are mandatory
          # https://github.com/OAI/OpenAPI-Specification/issues/622
          required: true
          in: query
          schema:
            type: string
            example:
              - "rea-xjkkLmi"
              - "realmhandlename"
        - name: appIdentifier
          description: "The guid or handle of an app"
          in: query
          schema:
            type: string
            example:
              - "app-xjkkLmi"
              - "doe.com"
      security:
        - apiKeyAuth: [ ]
      responses:
        '200':
          description: "The events"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '../../../../vertx/src/main/openapi/openapi-analytics.yaml#/components/schemas/AnalyticsEvent'
        '403':
          description: "Not authenticated"
  /csp/report:
    post:
      operationId: cspReportPost
      # https://w3c.github.io/webappsec-csp/#cspviolationreportbody
      summary: "Report a CSP Violation"
      security: [] # open
      tags:
        - csp
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/CspViolationReportBody'
      responses:
        '200':
          description: "Report was processed"
  /env:
    get:
      operationId: "envGet"
      summary: Return environment data
      tags:
        - env
      responses:
        '200':
          description: The env data
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /realm/{realmIdentifier}/users:
    get:
      operationId: realmRealmUsersGet
      summary: "Get users for the realm for pagination"
      tags:
        - realm
      parameters:
        - name: realmIdentifier
          description: "A realm identifier (a guid or a handle)"
          in: path
          required: true
          schema:
            type: string
            example: "rea-xjkkLmi"
        - name: pageSize
          description: "The number of rows by page"
          in: query
          schema:
            type: integer
            format: int64
            example: 10
        - name: pageId
          description: "The id of the page to return (zero based)"
          in: query
          schema:
            type: integer
            format: int64
            example: 1
        - name: searchTerm
          description: "A search term (search for now only against email)"
          in: query
          schema:
            type: string
            example: "foo@example.com"
      security:
        - apiKeyAuth: [ ]
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/User'
  /realm/{realmIdentifier}:
    get:
      operationId: "realmGet"
      summary: "Return the asked realm"
      tags:
        - realm
      security:
        - apiKeyAuth: []
      parameters:
        - name: realmIdentifier
          description: "The guid or handle of the realm"
          in: path
          required: true
          schema:
            type: string
            example:
              - "rea-xjkkLmi"
              - "realm-handle"
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/RealmAnalytics'
  /realm:
    post:
      operationId: "realmPost"
      summary: "Create a realm"
      tags:
        - realm
      security:
        - apiKeyAuth: []
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/RealmPostBody'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/Realm'
  /realms:
    get:
      operationId: "realmsGet"
      summary: "Return the list of realms"
      tags:
        - realm
      security:
        - apiKeyAuth: [ 'root' ]
      responses:
        '200':
          description: "Return the list of realms"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/RealmWithAppUris'
        '403':
          description: "Not authenticated"
  /realms/owned-by/{userGuid}:
    get:
      operationId: "realmsOwnedByGet"
      summary: "Return the list of realms owned by the user"
      tags:
        - realm
      security:
        - apiKeyAuth: [ 'root' ]
      parameters:
        - name: userGuid
          description: "The user guid"
          required: true
          in: path
          schema:
            type: string
            example:
              - "usr-xjkkLmi"
              - "usr@example.com"
      responses:
        '200':
          description: "Return the list of realms owned by the user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/Realm'
        '403':
          description: "Not authenticated"
  /realms/owned-by/me:
    get:
      operationId: "realmsOwnedByMeGet"
      summary: |
        Return the list of realms owned by the authenticated user.
        The authenticated user needs to be an organizational user.
      tags:
        - realm
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: "Return the list of realms owned by the authenticated user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/RealmAnalytics'
        '403':
          description: "Not authenticated"
  /services:
    get:
      operationId: servicesGet
      summary: "Get all services"
      tags:
        - service
      security:
        - apiKeyAuth: [ 'read:service' ]
      parameters:
        - name: realmIdentifier
          description: "A realm identifier (guid or handle)"
          in: query
          schema:
            type: string
            example: "rea-xjkkLmi"
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/Service'
  /campaign/email:
    post:
      operationId: campaignEmailPost
      summary: "Create an email campaign"
      tags:
        - campaign
      security:
        - apiKeyAuth: []
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/CampaignEmailPostBody'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/Campaign'
  /service:
    get:
      operationId: serviceGet
      summary: "Retrieve a service by guid or uri"
      tags:
        - service
      security:
        - apiKeyAuth: [ 'read:service' ]
      parameters:
        - name: serviceGuid
          description: "The guid of the service"
          in: query
          schema:
            type: string
            example: "xjkkLmi"
        - name: serviceUri
          description: "The unique uri of the service"
          in: query
          schema:
            type: string
        - name: realmIdentifier
          description: "The realm identifier (guid or handle) of the service (the realm is needed when only the uri is given)"
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/Service'
  /service/smtp:
    post:
      operationId: serviceSmtpPost
      summary: "Create a SMTP mail service for a app or a user"
      tags:
        - service
      security:
        - apiKeyAuth: []
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/ServiceSmtpPostBody'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/Service'
  /app:
    post:
      operationId: appPost
      summary: "Create or modify an app (ie design, ...)"
      tags:
        - app
      security:
        - apiKeyAuth: []
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/AppPostBody'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/App'
  /app/{appIdentifier}:
    get:
      operationId: appGet
      summary: |
        Retrieve an app by identifier (ie guid or handle)
      tags:
        - app
      security:
        - apiKeyAuth: []
      parameters:
        - name: appIdentifier
          description: "An app guid or handle"
          in: path
          required: true
          schema:
            type: string
            example: "app-xjkkLmi"
        - name: realmIdentifier
          description: "A realm identifier (a guid or handle). Mandatory if the app identifier is not a guid"
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/App'
  /apps:
    get:
      operationId: appsGet
      summary: "List apps for a realm"
      tags:
        - app
      security:
        - apiKeyAuth: []
      parameters:
        - name: realmIdentifier
          description: "A realm identifier (a guid or handle)"
          in: query
          schema:
            type: string
            example: "rea-xjkkLmi"
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/App'
  /user:
    get:
      operationId: userGet
      summary: |
        Get a user by guid or email
      tags:
        - user
      security:
        - apiKeyAuth: [ 'read:user' ]
      parameters:
        - name: userIdentifier
          description: "A user identifier (A guid, an email or a handle)"
          in: query
          required: true
          schema:
            type: string
            example:
              - "usr-xjkkLmi"
              - "john@doe.com"
        - name: realmIdentifier
          description: "A realm identifier (a guid or handle) if the user identifier is not a guid"
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/User'
    post:
      operationId: userPost
      summary: "Create or modify a user (a guid or a email should be given)"
      tags:
        - user
      security:
        - apiKeyAuth: []
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/UserPostBody'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/User'
  /user/me:
    get:
      operationId: "userMeGet"
      summary: "Get the authenticated user"
      tags:
        - user
      security:
        - apiKeyAuth: []
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/User'
        '401':
          description: Requires authentication if not authenticated
  /user/{guid}:
    get:
      operationId: userGuidGet
      # The parameter is guid and not an email because @ is a special URL character
      # and the openApi router will then not find the route (resource not found)
      summary: |
        Get a user by guid

        If you want to use the email has identifier,
        you should use the `userGet` operation passing the email as query parameter
      tags:
        - user
      security:
        - apiKeyAuth: []
      parameters:
        - name: guid
          description: "The guid of the user"
          # Path parameters are mandatory
          # https://github.com/OAI/OpenAPI-Specification/issues/622
          required: true
          in: path
          schema:
            type: string
            example: "xjkkLmi"
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/User'
  /organization/user/me:
    get:
      operationId: "organizationUserMeGet"
      summary: "Get the authenticated user and its organization"
      tags:
        - organization
      security:
        - apiKeyAuth: [ ]
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/OrganizationUser'
        '401':
          description: Not logged in
        '403':
          description: Logged in but the authenticated user is not the member of an organization
  /organization/{orgaIdentifier}/users:
    get:
      operationId: "orgaOrgaUsersGet"
      summary: "Get the users of the organization"
      tags:
        - organization
      security:
        - apiKeyAuth: [ ]
      parameters:
        - name: orgaIdentifier
          description: "A organization identifier (a guid or a handle)"
          in: path
          required: true
          schema:
            type: string
            example: "org-xjkkLmi"
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/User'
        '401':
          description: Not logged in
        '403':
          description: Logged in but the authenticated user is not the member of an organization
  /email/address/{address}/validate:
    get:
      operationId: "emailAddressAddressValidateGet"
      summary: "Validate an email address"
      description: |
        Note that for the request, the email should be URL encoded (ie arobase, @ becomes %40)
      tags:
        - email
      security:
        - apiKeyAuth: [ ]
      parameters:
        - name: address
          description: "The email address"
          in: path
          required: true
          schema:
            type: string
            format: email
            example: "foo@example.com"
        - name: failEarly
          description: |
            If true, the validation will stop at the first fail of all checks.
            If false, the validation will have all checks
          in: query
          schema:
            type: boolean
            default: true
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/JsonObject'
        '401':
          description: Not logged in
        '403':
          description: Logged in but the authenticated user is not the member of an organization
  /list/{listIdentifier}:
    get:
      operationId: listListGet
      summary: |
        Get list information

        Access by:
        * id with the listGuid
        * name with the listHandle and realmIdentifier
      tags:
        - list
      security:
        - apiKeyAuth: []
      parameters:
        - name: listIdentifier
          description: |
            The list identifier (handle or guid)
            If an handle is given, a realm identifier should be given.
          in: path
          required: true
          schema:
            type: string
            example:
              - "lis-xjkkLmi"
              - "mylisthandle"
        - name: realmIdentifier
          description: |
            A realm identifier (handle or guid)
            The realm identifier is mandatory if a list handle was given as identifier
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/ListItemAnalytics'
    patch:
      operationId: listListPatch
      summary: |
        Update a list
      tags:
        - list
      security:
        - apiKeyAuth: [ ]
      parameters:
        - name: listIdentifier
          description: |
            The list identifier (handle or guid)
            If an handle is given, a realm identifier should be given.
          in: path
          required: true
          schema:
            type: string
            example:
              - "lis-xjkkLmi"
              - "mylisthandle"
        - name: realmIdentifier
          description: |
            A realm identifier (handle or guid)
            The realm identifier is mandatory if a list handle was given as identifier
          in: query
          schema:
            type: string
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/ListBody'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/ListItem'
    delete:
      operationId: listListDelete
      summary: Delete the list
      tags:
        - list
      security:
        - apiKeyAuth: [ ]
      parameters:
        - name: listIdentifier
          description: "The list identifier (handle or guid)"
          in: path
          required: true
          schema:
            type: string
            example:
              - "lis-xjkkLmi"
              - "mylisthandle"
        - name: realmIdentifier
          description: |
            A realm identifier (handle or guid)
            The realm identifier is mandatory if a list handle was given as identifier
          in: query
          schema:
            type: string
            example:
              - "rea-xjkkLmi"
              - "myrealmhandle"
      responses:
        '200':
          description: Ok
  /app/{appIdentifier}/list:
    post:
      operationId: appAppListPost
      summary: "Create a list where users can register"
      tags:
        - app
      security:
        - apiKeyAuth: []
      parameters:
        - name: appIdentifier
          description: "An app guid or handle"
          in: path
          required: true
          schema:
            type: string
            example:
              - "app-xjkkLmi"
              - "doe.com"
        - name: realmIdentifier
          description: "A realm identifier (a guid or handle). Mandatory if the app identifier is not a guid"
          in: query
          schema:
            type: string
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/ListBody'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/ListItem'
  /lists:
    get:
      operationId: listsGet
      summary: |
        Get a list of lists

        The app should be given via:
          - the appGuid
          - or the appUri along with a realm identifier (guid or handle)
      tags:
        - list
      security:
        - apiKeyAuth: []
      parameters:
        - name: appGuid
          description: "The app guid"
          in: query
          schema:
            type: string
            example: "xjkkLmi"
        - name: appUri
          description: "The uri of the app"
          in: query
          schema:
            type: string
#            format: uri - format is not supported for parameters
        - name: realmIdentifier
          description: "A realm identifier (a guid or handle)"
          in: query
          schema:
            type: string
      responses:
        '200':
          description: "Return a list of lists for the app"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/ListItem'
        '403':
          description: "Not authenticated"
  /lists/summary:
    get:
      operationId: listsSummaryGet
      summary: "Get a list of list in a summary format"
      tags:
        - list
      security:
        - apiKeyAuth: []
      parameters:
        - name: realmIdentifier
          description: "A realm identifier (guid or realm)"
          in: query
          schema:
            type: string
            example: "rea-xjkkLmi"
      responses:
        '200':
          description: "Return a list"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/ListSummary'
        '403':
          description: "Not authenticated"
  /list/user/{listUserIdentifier}:
    get:
      operationId: listUserIdentifierGet
      summary: "Get a user in a list"
      description: |
        Get a list user with the list user Guid
      tags:
        - list
      security:
        - apiKeyAuth: [ ]
      parameters:
        - name: listUserIdentifier
          description: "The guid of the user in the list"
          in: path
          required: true
          schema:
            type: string
            example: "liu-xjkkLmi"
      responses:
        '200':
          description: "The list user"
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/ListUser'
  /list/user/letter/confirmation:
    get:
      operationId: listUserLetterConfirmationGet
      deprecated: true
      summary: |
        Deprecated - The front end is now separated from the API

        Return the confirmation letter after the user has clicked on the validation link.

        To get a confirmation as it's show to a user, you just need to set
        the subscriber name and the list guid

        The other parameters will overwrite other list information.
      tags:
        - list
      security:
        - apiKeyAuth: [ ]
      parameters:
        - name: subscriberName
          description: "The name of the subscriber"
          in: query
          schema:
            type: string
            example: "Tony"
        - name: listGuid
          description: "The list guid"
          in: query
          schema:
            type: string
            example: "xklm"
        - name: listName
          description: "The name of the list"
          in: query
          schema:
            type: string
            example: "Weekly Newsletters"
        - name: ownerName
          description: "The name of the owner"
          in: query
          schema:
            type: string
            example: "Harold"
        - name: ownerEmail
          description: "The email of the owner"
          in: query
          schema:
            type: string
            format: email
            example: "john@doe.com"
        - name: ownerLogo
          description: "The logo of the owner"
          in: query
          schema:
            type: string
            # format: uri - not supported by the openapi code generation
            example: "https://combostrap.com/_media/android-chrome-192x192.png"
      responses:
        '200':
          description: "The confirmation letter"
          content:
            text/html:
              schema:
                type: string
  /list/user/letter/validation:
    get:
      operationId: listUserLetterValidationGet
      summary: |
        Return the validation letter with a validation link as send by email.
      tags:
        - list
      security:
        - apiKeyAuth: [ ]
      parameters:
        - name: listGuid
          description: "The list guid"
          in: query
          required: true
          schema:
            type: string
            example: "xklm"
        - name: subscriberName
          description: "The name of the subscriber"
          in: query
          schema:
            type: string
            example: "Tony"
        - name: subscriberEmail
          description: "The email of the subscriber"
          in: query
          schema:
            type: string
            example: "john@doe.com"
        - name: debug
          description: "Debug will print variable names if set to true"
          in: query
          schema:
            type: boolean
            example: "true"
      responses:
        '200':
          description: "The confirmation letter"
          content:
            text/html:
              schema:
                type: string
  # callback
  /list/user/confirmation/{listUserIdentifier}:
    get:
      operationId: "listUserConfirmationUserGet"
      summary: "Shows a confirmation page for the registration"
      tags:
        - list
      security: [ ]
      parameters:
        - name: "listUserIdentifier"
          description: The list user identifier (guid)
          required: true
          in: path
          schema:
            type: string
        - $ref: "#/components/parameters/redirect_uri"
      responses:
        '200':
          description: "The registration list confirmation HTML page"
          content:
            text/html:
              schema:
                type: string
  /list/{listIdentifier}/import:
    post:
      operationId: listListImportPost
      summary: "Submit an import of users for a list"
      tags:
        - list
      security:
        - apiKeyAuth: [ ]
      parameters:
        - name: listIdentifier
          description: "A list identifier (guid)"
          required: true
          in: path
          schema:
            type: string
            example: "lis-xjkkLmi"
        - name: rowCountToProcess
          description: "The maximum number of row processed"
          required: false
          in: query
          schema:
            type: integer
            default: 10000
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                fileBinary:
                  type: string
                  format: binary
                  description: The file containing the users to import
            encoding: # https://github.com/OAI/OpenAPI-Specification/blob/main/versions/3.0.2.md#considerations-for-file-uploads
              fileBinary:
                contentType: text/csv # default is application/octet-stream
      responses:
        '200':
          description: "The import job id"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListImportPostResponse'
  /list/{listIdentifier}/imports:
    get:
      operationId: listListImportsGet
      summary: "A list of imports"
      tags:
        - list
      security:
        - apiKeyAuth: [ ]
      parameters:
        - name: listIdentifier
          description: "A list identifier (guid)"
          required: true
          in: path
          schema:
            type: string
            example: "lis-xjkkLmi"
      responses:
        '200':
          description: "The import jobs"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListImportJobStatus'
  /list/{listIdentifier}/import/{jobIdentifier}/details:
    get:
      operationId: listListImportJobDetailsGet
      summary: "The list of emails with their import status"
      tags:
        - list
      security:
        - apiKeyAuth: [ ]
      parameters:
        - name: listIdentifier
          description: "A list identifier (guid)"
          required: true
          in: path
          schema:
            type: string
            example: "lis-xjkkLmi"
        - name: jobIdentifier
          description: "A import identifier"
          required: true
          in: path
          schema:
            type: string
            example: "lis-xjkkLmi"
      responses:
        '200':
          description: "The import jobs"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ListImportJobRowStatus'
  /list/{listIdentifier}/import/{jobIdentifier}:
    get:
      operationId: listListImportJobGet
      summary: "The import status for the job"
      tags:
        - list
      security:
        - apiKeyAuth: [ ]
      parameters:
        - name: listIdentifier
          description: "A list identifier (guid)"
          required: true
          in: path
          schema:
            type: string
            example: "lis-xjkkLmi"
        - name: jobIdentifier
          description: "A import identifier"
          required: true
          in: path
          schema:
            type: string
            example: "lis-xjkkLmi"
      responses:
        '200':
          description: "The import job status"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListImportJobStatus'
  /list/{listIdentifier}/users:
    get:
      operationId: listListUsersGet
      summary: "List the users for a list"
      tags:
        - list
      security:
        - apiKeyAuth: [ ]
      parameters:
        - name: listIdentifier
          description: "The identifier of the list (guid)"
          required: true
          in: path
          schema:
            type: string
            example: "lis-xjkkLmi"
        - name: pageSize
          description: "The number of rows by page"
          in: query
          schema:
            type: integer
            format: int64
            example: 10
        - name: pageId
          description: "The id of the page to return (zero based)"
          in: query
          schema:
            type: integer
            format: int64
            example: 1
        - name: searchTerm
          description: "A search term (search for now only against email)"
          in: query
          schema:
            type: string
            example: "foo@example.com"
      responses:
        '200':
          description: "List of registrations"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/ListUserShort'
