openapi: 3.0.3
info:
  title: Eraldy API
  description: |
    The eraldy api
  # Quote are deleted https://github.com/OpenAPITools/openapi-generator/issues/3196
  # We can't therefore use a date string as the generated openapi.yaml file has no quote
  # and the data is seen as date, not as string
  version: "v2023-06-18"
servers:
  - url: 'https://api.eraldy.com'
# check the openApi.md file to know more about tags.
tags:
  - name: env
    description: Env data
  - name: realm
    description: Operations on realm
  - name: user
    description: Operations about users
  - name: list
    description: Operations about list management (creation, registration)
  - name: app
    description: Operations on app
  - name: registration
    description: Operations on list registration
  - name: analytics
    description: Analytics operation
  - name: token
    description: Public API Token creation
# Secure by default, if you want to make an operation public,
# you need to set the security for an operation to the empty array
# security: []
security:
  # Listed in the openapi-common.yaml
  - apiKeyAuth: [ ]
  - cookieAuth: [ ]
components:
  securitySchemes:
#    cookieAuth: # binding name (arbitrary name used in code and in the file)
#      $ref: './eraldy-common-openapi.yaml#/components/securitySchemes/cookieAuth'
    apiKeyAuth: # binding name (arbitrary name used in code and in the file)
      $ref: './eraldy-common-openapi.yaml#/components/securitySchemes/apiKeyAuth'
    bearerAuth: # binding name (arbitrary name used in code and in the file)
      $ref: './eraldy-common-openapi.yaml#/components/securitySchemes/bearerAuth'
  requestBodies:
    LoginPostBody:
      description: The data needed to log a user in by password credentials
      required: true
      content:
        application/json:
          schema:
            $ref: './eraldy-common-openapi.yaml#/components/schemas/PasswordCredentials'
        #https://swagger.io/docs/specification/describing-request-body/multipart-requests/
        multipart/form-data:
          schema:
            $ref: './eraldy-common-openapi.yaml#/components/schemas/PasswordCredentials'
    LoginEmailPostBody:
      description: The data needed to log a user in by email
      required: true
      content:
        application/json:
          schema:
            $ref: './eraldy-common-openapi.yaml#/components/schemas/EmailIdentifier'
        #https://swagger.io/docs/specification/describing-request-body/multipart-requests/
        multipart/form-data:
          schema:
            $ref: './eraldy-common-openapi.yaml#/components/schemas/EmailIdentifier'
    PasswordOnlyPostBody:
      description: Password update body
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PasswordOnly'
        #https://swagger.io/docs/specification/describing-request-body/multipart-requests/
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/PasswordOnly'
  schemas:
    PasswordOnly:
      title: To update a password
      description: To update a password
      type: object
      required:
        - password
      properties:
        password:
          type: string
          description: A password
    OAuthAccessTokenResponse:
      title: The access token response
      description: The access token response
      type: object
      required:
        - access_token
        - token_type
      properties:
        access_token:
          type: string
          description: The access token string as issued by the authorization server (required)
        token_type:
          type: string
          description: The type of token (ie how the token should be passed) (required)
          example: bearer
        scope:
          type: string
          description: The scopes separated by a comma (Optional)
          example: repo gist openid profile email
        expires_in:
          type: string
          description: The duration of time the access token is granted for, if the access token expires (Optional)
        refresh_token:
          type: string
          description: A refresh token to obtain another access token (if the access token expired), (Optional)
  parameters:
    response_type:
      name: response_type
      description: "The response type"
      in: query
      required: false # not mandatory for first party redirect
      schema:
        type: string
    client_id:
      name: client_id
      description: "The client id (the app guid)"
      in: query
      required: false # not mandatory for first party redirect
      schema:
        type: string
    state:
      name: state
      description: |
        The [state](https://datacadamia.com/iam/oauth/state) is a opaque value with the initial navigational state of the user.
        The state is mandatory because its encoded value permits to validate the callback
        and therefore to avoid a CSRF.
      required: false # not mandatory for first party redirect
      in: query
      schema:
        type: string
    realm_handle:
      name: realm_handle
      description: |
        The realm handle
      required: false # not mandatory (maybe given via realm handle)
      in: query
      schema:
        type: string
    realm_guid:
      name: realm_guid
      description: |
        The realm guid
      required: false # not mandatory (maybe given via realm handle)
      in: query
      schema:
        type: string
    redirect_uri:
      name: redirect_uri
      description: "The redirect uri (known also as callback endpoint)"
      in: query
      required: false # not always required (for instance, for list registration)
      schema:
        type: string
        # format: uri (uri is not supported as url parameter format)
        example: https://client.example.com/callback
paths:
  /auth/logout:
    get:
      operationId: "authLogoutGet"
      summary: The logout endpoint
      tags:
        - auth
      parameters:
        - name: redirect_uri
          description: |
            After a logout, the user is redirect to the login page
            redirect_uri is the redirection URL after a successful login
            If the value is not set, the referer is used instead if found
            or an error is returned
          in: query
          schema:
            type: string
            # format: uri - not supported by OpenApi generator
      responses:
        default:
          description: successful operation
  /auth/login/oauth/{provider}:
    get:
      operationId: "authLoginOauthProviderGet"
      summary: |
        Redirect to the external oauth authorization end point
      tags:
        - auth
      parameters:
        - name: provider
          description: "The OAuth provider"
          in: path
          required: true
          schema:
            type: string
            enum: [ github, google ]
          example: github
        - name: list_guid
          description: "The list guid if the user register to a list"
          in: query
          schema:
            type: string
          example: 'lis-xxxx'
        - $ref: "#/components/parameters/redirect_uri"
        - $ref: "#/components/parameters/realm_handle"
        - $ref: "#/components/parameters/realm_guid"
      responses:
        '302':
          description: "The OAuth redirection URL to the authorization end point for the provider"
  /auth/login/email:
    post:
      operationId: "authLoginEmailPost"
      summary: Login by sending an email with a login link
      tags:
        - auth
      security: [ ]
      requestBody:
        $ref: '#/components/requestBodies/LoginEmailPostBody'
      responses:
        204:
          description: "Successful. An email was sent or not if not known"
  /auth/login/oauth/access_token:
    get:
      operationId: "authLoginOauthAccessTokenGet"
      summary: Exchange a code for an access token
      tags:
        - auth
      parameters:
        - name: code
          description: "The OAuth authorization code"
          in: query
          required: true
          schema:
            type: string
        - name: client_id
          description: "The OAuth application client id"
          in: query
          schema:
            type: string
        - name: client_secret
          description: "The OAuth application client secret"
          in: query
          schema:
            type: string
        - name: redirect_uri
          description: "The OAuth callback where you received the code"
          in: query
          schema:
            type: string
      responses:
        '200':
          description: "The Access token"
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/OAuthAccessTokenResponse'
  /auth/login/password:
    post:
      operationId: "authLoginPasswordPost"
      # even if the request does not change anything, this is a post
      # GitHub does it also this way
      # The Csrf token is passed via HTTP headers
      summary: The login form end point for password credentials
      tags:
        - auth
      security: [ ]
      requestBody:
        $ref: '#/components/requestBodies/LoginPostBody'
      responses:
        302:
          description: "Successful"
        401:
          description: "Bad Credentials, no user or no password found"
        400:
          description: "Other errors such as session expired"
  /auth/login/password/update:
    post:
      operationId: "authLoginPasswordUpdatePost"
      summary: "Update the password"
      tags:
        - auth
      requestBody:
        $ref: '#/components/requestBodies/PasswordOnlyPostBody'
      responses:
        302:
          description: "Successful"
        400:
          description: "Other errors such as session expired"
  /auth/login/password/reset:
    post:
      operationId: "authLoginPasswordResetPost"
      summary: "Login via a link and give the possibility to modify the password"
      tags:
        - auth
      security: [ ]
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/EmailPostBody'
      responses:
        '204':
          # even if the email exists, we don't want to leak info
          description: "Processed. An email was send for password resetting if it was found."
        '400':
          description: "The email provided is not valid"
  /auth/user/register:
    post:
      operationId: "authUserRegisterPost"
      summary: "Register a user"
      tags:
        - auth
      security: [ ]
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/EmailPostBody'
      responses:
        '200':
          # even if the email exists, we don't want to leak info
          description: "An email was send for validation"
        '400':
          description: "The email is not valid"
  /analytics/event:
    post:
      operationId: analyticsEventPost
      summary: "Report a analytics event"
      security: [ ]
      tags:
        - analytics
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: './eraldy-common-openapi.yaml#/components/schemas/AnalyticsEventPost'
      responses:
        '200':
          description: "Event was processed"
  /csp/report:
    post:
      operationId: cspReportPost
      # https://w3c.github.io/webappsec-csp/#cspviolationreportbody
      summary: "Report a CSP Violation"
      security: [ ]
      tags:
        - csp
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/CspViolationReportBody'
      responses:
        '200':
          description: "Report was processed"
  /env:
    get:
      operationId: "envGet"
      summary: Return environment data
      tags:
        - env
      responses:
        '200':
          description: The env data
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /ping:
    get:
      operationId: "pingGet"
      summary: A health check endpoint
      # tag is the prefix of the API
      security: [ ]
      tags:
        - health
      responses:
        '200':
          description: API health status
  # A realm is a container/scope for a user login
  # A realm may have several apps where the user can log in
  # with the same credential
  # We don't use domain because it has strong web connotation
  # (note there is 197,046,670 domain active, 1,139,467,659 registered)
  /realm:
    get:
      operationId: "realmGet"
      summary: "Return the asked realm"
      tags:
        - realm
      parameters:
        - name: realmGuid
          description: "The guid of the realm"
          in: query
          schema:
            type: string
            example: "xjkkLmi"
        - name: realmHandle
          description: "The handle of the realm"
          in: query
          schema:
            type: string
            example: "xjkkLmi"
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/RealmAnalytics'
    post:
      operationId: "realmPost"
      summary: "Create a realm"
      tags:
        - realm
      security:
        - apiKeyAuth: [ 'write:realm' ]
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/RealmPostBody'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/Realm'
        '405':
          description: Method Not Allowed
          content:
            'application/json': { }
            'application/xml': { }
  /realms:
    get:
      operationId: "realmsGet"
      summary: "Return the list of realms"
      tags:
        - realm
      security:
        - apiKeyAuth: [ 'read:realm' ]
      responses:
        '200':
          description: "Return the list of realms"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/RealmWithAppUris'
        '403':
          description: "Not authenticated"
  /realms/owned-by/{userGuid}:
    get:
      operationId: "realmsOwnedByGet"
      summary: "Return the list of realms owned by the user"
      tags:
        - realm
      security:
        - apiKeyAuth: [ 'read:realm' ]
      parameters:
        - name: userGuid
          description: "The user guid"
          required: true
          in: path
          schema:
            type: string
            example: "usr-xjkkLmi"
      responses:
        '200':
          description: "Return the list of realms owned by the user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/Realm'
        '403':
          description: "Not authenticated"
  /realms/owned-by/me:
    get:
      operationId: "realmsOwnedByMeGet"
      summary: "Return the list of realms owned by the authenticated user"
      tags:
        - realm
      security:
        - apiKeyAuth: [ 'read:realm' ]
      responses:
        '200':
          description: "Return the list of realms owned by the authenticated user"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/RealmAnalytics'
        '403':
          description: "Not authenticated"
  /realm/{realmGuid}/users/new:
    get:
      operationId: "realmUsersNewGet"
      summary: "Return the list of recent new users for the realm"
      tags:
        - realm
      parameters:
        - name: realmGuid
          description: "The guid of the realm"
          # Path parameters are mandatory
          # https://github.com/OAI/OpenAPI-Specification/issues/622
          required: true
          in: path
          schema:
            type: string
            example: "rea-xjkkLmi"
      security:
        - apiKeyAuth: [ 'read:realm' ]
      responses:
        '200':
          description: "The users"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/User'
        '403':
          description: "Not authenticated"
  /services:
    get:
      operationId: servicesGet
      summary: "Get all services"
      tags:
        - service
      security:
        - apiKeyAuth: [ 'read:service' ]
      parameters:
        - name: realmGuid
          description: "The realm guid of the service"
          in: query
          schema:
            type: string
            example: "xjkkLmi"
        - name: realmHandle
          description: "The realm handle of the service"
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/Service'
  /campaign/email:
    post:
      operationId: campaignEmailPost
      summary: "Create an email campaign"
      tags:
        - campaign
      security:
        - apiKeyAuth: [ 'write:campaign' ]
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/CampaignEmailPostBody'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/Campaign'
  /service:
    get:
      operationId: serviceGet
      summary: "Retrieve a service by guid or uri"
      tags:
        - service
      security:
        - apiKeyAuth: [ 'read:service' ]
      parameters:
        - name: serviceGuid
          description: "The guid of the service"
          in: query
          schema:
            type: string
            example: "xjkkLmi"
        - name: serviceUri
          description: "The unique uri of the service"
          in: query
          schema:
            type: string
        - name: realmHandle
          description: "The realm handle of the service (the realm is needed when only the uri is given)"
          in: query
          schema:
            type: string
        - name: realmGuid
          description: "The realm guid of the service (the realm is needed when only the uri is given)"
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/Service'
  /service/smtp:
    post:
      operationId: serviceSmtpPost
      summary: "Create a SMTP mail service for a app or a user"
      tags:
        - service
      security:
        - apiKeyAuth: [ 'write:service' ]
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/ServiceSmtpPostBody'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/Service'
  /app:
    post:
      operationId: appPost
      summary: "Create or modify an app (ie design, ...)"
      tags:
        - app
      security:
        - apiKeyAuth: [ 'write:app' ]
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/AppPostBody'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/App'
    get:
      operationId: appGet
      summary: |
        Retrieve an app by:
        * id with the appGuid
        * or by name with the appUri and realm (Handle or Guid)
      tags:
        - app
      security:
        - apiKeyAuth: [ 'read:app' ]
      parameters:
        - name: appGuid
          description: "The app guid"
          in: query
          schema:
            type: string
            example: "lis-xjkkLmi"
        - name: appUri
          description: "The appUri"
          in: query
          schema:
            type: string
        - name: realmHandle
          description: "The realm handle"
          in: query
          schema:
            type: string
        - name: realmGuid
          description: "The realm guid"
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/App'
  /apps:
    get:
      operationId: appsGet
      summary: "List apps for a realm"
      tags:
        - app
      security:
        - apiKeyAuth: [ 'read:app' ]
      parameters:
        - name: realmGuid
          description: "The realm guid"
          in: query
          schema:
            type: string
            example: "rea-xjkkLmi"
        - name: realmHandle
          description: "The realm Handle"
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/App'
  /user/auth:
    get:
      operationId: userAuthGet
      summary: Return the authenticated user
      tags:
        - user
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/OrganizationUser'
        '404':
          description: Not found, not logged in
  /user:
    get:
      operationId: userGet
      summary: |
        Get a user by guid or email
      tags:
        - user
      security:
        - apiKeyAuth: [ 'read:user' ]
      parameters:
        - name: userGuid
          description: "The guid of the user"
          in: query
          schema:
            type: string
            example: "xjkkLmi"
        - name: userEmail
          description: "The email of the user"
          in: query
          schema:
            type: string
            format: email
            example: "john@doe.com"
        - name: realmHandle
          in: query
          schema:
            type: string
        - name: realmGuid
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/User'
    post:
      operationId: userPost
      summary: "Create or modify a user (a guid or a email should be given)"
      tags:
        - user
      security:
        - apiKeyAuth: [ 'write:user' ]
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/UserPostBody'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/User'
  /user/me:
    get:
      operationId: "userMeGet"
      summary: "Get the authenticated user"
      tags:
        - user
      security: [ ]
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/User'
        '401':
          description: Requires authentication if not authenticated
  /user/{guid}:
    get:
      operationId: userGuidGet
      # The parameter is guid and not an email because @ is a special URL character
      # and the openApi router will then not find the route (resource not found)
      summary: |
        Get a user by guid

        If you want to use the email has identifier,
        you should use the `userGet` operation passing the email as query parameter
      tags:
        - user
      security:
        - apiKeyAuth: [ 'read:user' ]
      parameters:
        - name: guid
          description: "The guid of the user"
          # Path parameters are mandatory
          # https://github.com/OAI/OpenAPI-Specification/issues/622
          required: true
          in: path
          schema:
            type: string
            example: "xjkkLmi"
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/User'
  /users:
    get:
      operationId: usersGet
      summary: "List users"
      tags:
        - user
      parameters:
        - name: realmGuid
          in: query
          schema:
            type: string
            example: "xjkkLmi"
        - name: realmHandle
          in: query
          schema:
            type: string
      security:
        - apiKeyAuth: [ 'read:user' ]
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/User'
  /list:
    get:
      operationId: listGet
      summary: |
        Get list information

        Access by:
        * id with the listGuid
        * name with the listHandle and realmHandle
      tags:
        - list
      security:
        - apiKeyAuth: [ 'write:read' ]
      parameters:
        - name: listGuid
          description: "The list guid"
          in: query
          schema:
            type: string
            example: "lis-xjkkLmi"
        - name: listHandle
          description: "The list handle"
          in: query
          schema:
            type: string
        - name: realmHandle
          description: "The realm handle"
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/RegistrationList'
    post:
      operationId: listPost
      summary: "Create a list where users can register"
      tags:
        - list
      security:
        - apiKeyAuth: [ 'write:list' ]
      requestBody:
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/ListPostBody'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/RegistrationList'
  /lists:
    get:
      operationId: listsGet
      summary: |
        Get a list of lists

        The app should be given via:
          - the appGuid
          - or the appUri along with the realmGuid or realmHandle
      tags:
        - list
      security:
        - apiKeyAuth: [ 'read:list' ]
      parameters:
        - name: appGuid
          description: "The app guid"
          in: query
          schema:
            type: string
            example: "xjkkLmi"
        - name: appUri
          description: "The uri of the app"
          in: query
          schema:
            type: string
#            format: uri - format is not supported for parameters
        - name: realmGuid
          description: "The realm Guid"
          in: query
          schema:
            type: string
        - name: realmHandle
          description: "The realm Handle"
          in: query
          schema:
            type: string
      responses:
        '200':
          description: "Return a list of lists for the app"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/RegistrationList'
        '403':
          description: "Not authenticated"
  /lists/summary:
    get:
      operationId: listsSummaryGet
      summary: "Get a list of list in a summary format"
      tags:
        - list
      security:
        - apiKeyAuth: [ 'read:list' ]
      parameters:
        - name: realmGuid
          description: "The realm guid"
          in: query
          schema:
            type: string
            example: "xjkkLmi"
        - name: realmHandle
          description: "The realm handle"
          in: query
          schema:
            type: string
      responses:
        '200':
          description: "Return a list"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/ListSummary'
        '403':
          description: "Not authenticated"
  /list/registration:
    get:
      operationId: listRegistrationGet
      summary: "Get a registration object"
      description: |
        Get a registration
          * by id with the registrationGuid
          * by name with the subscriberEmail and listGuid
      tags:
        - list
      security:
        - apiKeyAuth: [ 'read:list' ]
      parameters:
        - name: guid
          description: "The guid of the registration"
          in: query
          schema:
            type: string
            example: "xjkkLmi"
        - name: listGuid
          description: "The list guid of the registration"
          in: query
          schema:
            type: string
            example: "xjkkLmi"
        - name: subscriberEmail
          description: "The email of the subscriber"
          in: query
          schema:
            type: string
            format: email
            example: "joe@doe.com"
      responses:
        '200':
          description: "The registration"
          content:
            application/json:
              schema:
                $ref: './eraldy-common-openapi.yaml#/components/schemas/Registration'
  /list/registration/validation:
    get:
      operationId: listRegistrationValidationGet
      summary: |
        The URI of the validation link in the validation
        letter that the user receive.
        The user needs to click this link to confirm her/his registration.
      tags:
        - list
      security: [ ]
      parameters:
        - name: data
          description: "The payload"
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: "The validation letter"
          content:
            text/html:
              schema:
                type: string
  /list/registration/letter/confirmation:
    get:
      operationId: listRegistrationLetterConfirmationGet
      summary: |
        Return the confirmation letter after the user has clicked on the validation link.

        To get a confirmation as it's show to a user, you just need to set
        the subscriber name and the list guid

        The other parameters will overwrite other list information.
      tags:
        - list
      security:
        - apiKeyAuth: [ 'read:list' ]
      parameters:
        - name: subscriberName
          description: "The name of the subscriber"
          in: query
          schema:
            type: string
            example: "Tony"
        - name: listGuid
          description: "The list guid"
          in: query
          schema:
            type: string
            example: "xklm"
        - name: listName
          description: "The name of the list"
          in: query
          schema:
            type: string
            example: "Weekly Newsletters"
        - name: ownerName
          description: "The name of the owner"
          in: query
          schema:
            type: string
            example: "Harold"
        - name: ownerEmail
          description: "The email of the owner"
          in: query
          schema:
            type: string
            format: email
            example: "john@doe.com"
        - name: ownerLogo
          description: "The logo of the owner"
          in: query
          schema:
            type: string
            # format: uri - not supported by the openapi code generation
            example: "https://combostrap.com/_media/android-chrome-192x192.png"
      responses:
        '200':
          description: "The confirmation letter"
          content:
            text/html:
              schema:
                type: string
  /list/registration/letter/validation:
    get:
      operationId: listRegistrationLetterValidationGet
      summary: |
        Return the validation letter with a validation link as send by email.
      tags:
        - list
      security:
        - apiKeyAuth: [ 'read:list' ]
      parameters:
        - name: listGuid
          description: "The list guid"
          in: query
          required: true
          schema:
            type: string
            example: "xklm"
        - name: subscriberName
          description: "The name of the subscriber"
          in: query
          schema:
            type: string
            example: "Tony"
        - name: subscriberEmail
          description: "The email of the subscriber"
          in: query
          schema:
            type: string
            example: "john@doe.com"
        - name: debug
          description: "Debug will print variable names if set to true"
          in: query
          schema:
            type: boolean
            example: "true"
      responses:
        '200':
          description: "The confirmation letter"
          content:
            text/html:
              schema:
                type: string
  /list/register:
    post:
      operationId: listRegisterPost
      summary: "Register a user to a list by sending an email for validation"
      tags:
        - list
      security: [ ]
      requestBody:
        required: true
        $ref: './eraldy-common-openapi.yaml#/components/requestBodies/ListRegistrationPostBody'
      responses:
        '200':
          description: "Email was send for validation"
        '204':
          description: "Email was send for validation"
  # callback
  /list/register/confirmation/{registration_guid}:
    get:
      operationId: "listRegisterConfirmationRegistrationGet"
      summary: "Shows a confirmation page for the registration"
      tags:
        - list
      security: [ ]
      parameters:
        - name: "registration_guid"
          description: The registration guid
          required: true
          in: path
          schema:
            type: string
        - $ref: "#/components/parameters/redirect_uri"
      responses:
        '200':
          description: "The registration list confirmation HTML page"
          content:
            text/html:
              schema:
                type: string
  /list/registrations:
    get:
      operationId: listRegistrationsGet
      summary: "List the registrations for a list"
      tags:
        - list
      security:
        - apiKeyAuth: [ 'read:list' ]
      parameters:
        - name: listGuid
          description: "The guid of the list"
          required: true
          in: query
          schema:
            type: string
            example: "xjkkLmi"
      responses:
        '200':
          description: "List of registrations"
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: './eraldy-common-openapi.yaml#/components/schemas/RegistrationShort'
