- name: Include OS-specific variables.
  include_vars: "{{ ansible_os_family }}.yml"

- name: "Installation as root"
  become: true
  block:
    - name: Ensure unzip is installed.
      package:
        name: unzip
        state: present

    - name: Install git
      yum:
        name: git
        state: present

    - name: "Create the group {{ gogs_user_group }}"
      group:
        name: "{{ gogs_user_group }}"
        state: present

    - name: Create user for Gogs
      user:
        name: "{{ gogs_user }}"
        comment: Gogs
        home: "{{ gogs_user_home }}"

    - name: Create Gogs Home
      file:
        path: "{{ gogs_home }}"
        state: directory
        owner: "{{ gogs_user }}"
        group: "{{ gogs_user }}"
        mode: 'u=rwx,g=rx,o=rx'

    - name: Create Gogs log folder
      file:
        path: "{{ gogs_log_dir }}"
        state: directory
        owner: "{{ gogs_user }}"
        group: "{{ gogs_user }}"
        mode: 0755

    - name: Check if Gogs is already installed.
      stat:
        path: "{{ gogs_bin_file }}"
      register: gogs_bin

    - name: Download
      when: gogs_bin.stat.islnk is not defined
      block:

        - name: Create Gogs Install dir
          file:
            path: "{{ gogs_install_dir }}"
            state: directory
            owner: "{{ gogs_user }}"
            group: "{{ gogs_user }}"
            mode: 'u=rwx,g=rx,o=rx'

        - name: Download Gogs
          get_url:
            url: "{{ gogs_binary_url }}"
            dest: "{{ gogs_install_dir }}/gogs.zip"
            owner: "{{ gogs_user }}"
            group: "{{ gogs_user }}"
            checksum: md5:43342d80762e0fe1122d3d647dec3150

        - name: Unzip Gogs
          unarchive:
            src: "{{ gogs_install_dir }}/gogs.zip"
            dest: "{{ gogs_base }}"
            group: "{{ gogs_user }}"
            owner: "{{ gogs_user }}"
            creates: "{{ gogs_home }}/gogs"
            copy: false

    # https://gogs.io/docs/intro/faqs#how-do-i-run-gogs-at-startup-with-systemd%3F
    - name: Copy the systemd nexus.service file
      template:
        src: gogs.service
        dest: /etc/systemd/system/gogs.service
        mode: 0644
      notify:
        - 'gogs reload'

#- name: Ensure Gogs is running.
#  service:
#    name: gogs
#    state: started
#    enabled: yes
