- name: Install
  become: yes
  block:
    - name: "Create the group {{ prometheus_user_group }}"
      group:
        name: '{{ prometheus_user_group }}'
        state: present
    - name: "Create the user {{ prometheus_user_name }}"
      user:
        name: '{{ prometheus_user_name }}'
        comment: User for the prometheus app
        shell: /bin/bash
        state: present
        group: '{{ prometheus_user_group }}'
    - name: Create the home path {{ prometheus_home }}
      tags: prom-admin
      file:
        state: directory
        path: '{{ prometheus_home }}'
        group: '{{ prometheus_user_name }}'
        owner: '{{ prometheus_user_group }}'
        mode: 'u=rwx,g=rwx,o='
        recurse: true
    - name: Create Prometheus Temporary Install dir
      file:
        path: "{{ prometheus_install_dir }}"
        state: directory
        owner: "{{ prometheus_user_name }}"
        group: "{{ prometheus_user_group }}"
        mode: 'u=rwx,g=rx,o=rx'
    - name: Install Prometheus
      include: prometheus_install.yml
    - name: Install Node exporter
      tags: prom-node-exporter
      include: prometheus_node_exporter.yml
