# https://prometheus.io/docs/introduction/first_steps/

- name: Check if Prometheus is already installed.
  stat:
    path: "{{ prometheus_home }}/prometheus"
  register: prometheus
- name: Download
  when: not prometheus.stat.exists
  block:

    - name: Download Prometheus
      get_url:
        url: "{{ prometheus_binary_url }}"
        dest: "{{ prometheus_install_dir }}/prometheus.tar.gz"
        owner: "{{ prometheus_user_name }}"
        group: "{{ prometheus_user_group }}"
        checksum: "{{ prometheus_checksum }}"

    - name: Unzip Prometheus Binary
      unarchive:
        src: "{{ prometheus_install_dir }}/prometheus.tar.gz"
        dest: "{{ prometheus_install_dir }}"
        owner: "{{ prometheus_user_name }}"
        group: "{{ prometheus_user_group }}"
        copy: false
    - name: Move files
      become: yes
      become_user: "{{ prometheus_user_name }}"
      shell:
        cmd: "/bin/cp -rf {{ prometheus_install_dir }}/{{ prometheus_binary_name }}/* {{ prometheus_home }}"

- name: Copy the configuration prometheus.yml
  notify: 'restart prom'
  template:
    src: prometheus.yml
    dest: "{{ prometheus_home }}/prometheus.yml"
    owner: "{{ prometheus_user_name }}"
    group: "{{ prometheus_user_group }}"

- name: Copy the systemd prometheus.service file
  notify: 'restart prom'
  template:
    src: prometheus.service
    dest: /etc/systemd/system/prometheus.service
    mode: 0644
