# Doc
# https://certbot.eff.org/lets-encrypt/centosrhel7-other
# with the DNS plugin
#   - https://certbot-dns-ovh.readthedocs.io/en/stable/
#   - https://certbot-dns-cloudflare.readthedocs.io/en/stable/


- name: EPEL
  block:
    - name: 'Package - Add the EPEL repository'
      yum_repository:
        name: epel
        description: EPEL YUM repo
        baseurl: https://dl.fedoraproject.org/pub/epel/$releasever/$basearch/
        gpgcheck: yes
    - name: "Package - Adds the gpg key from the EPEL repo"
      rpm_key:
        state: present
        key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-7

# https://certbot-dns-ovh.readthedocs.io/en/stable/
- name: Install Certbot and the dns plugins
  yum:
    name:
      - certbot
      - python2-certbot-dns-ovh
      - python2-certbot-dns-cloudflare
    state: present
    enablerepo: epel

- name: Create secret directoy
  file:
    state: directory
    path: "/root/.secrets/certbot"

# Key from https://eu.api.ovh.com/createToken/
# with the following permissions and only for the server 164.132.99.202
# GET /domain/zone/*
# PUT /domain/zone/*
# POST /domain/zone/*
# DELETE /domain/zone/*
- name: Copy Ovh Key (To manipulate DNS record)
  template:
    src: dns_provider/ovh.ini
    dest: "/root/.secrets/certbot/ovh.ini"
    backup: yes

# Global key: https://dash.cloudflare.com/profile/api-tokens
# as this is the only one supported
# https://certbot-dns-cloudflare.readthedocs.io/en/stable/#credentials
- name: Copy Cloudflare Key (To manipulate DNS record)
  template:
    src: dns_provider/cloudflare.ini
    dest: "/root/.secrets/certbot/cloudflare.ini"
    backup: yes

# Create one certificate with the name of the first domain
# that's why bytle.net is the first one
- name: Get the Ovh certificate
  with_items: "{{ovh_domains}}"
  include: certbot_certonly_ovh.yml letsencrypt_domain={{ item }}

- name: Get the Cloudflare certificate
  with_items: "{{cloudflare_domains}}"
  include: certbot_certonly_cloudflare.yml letsencrypt_domain={{ item }}

- name: Add Ovh letsencrypt cronjob for cert renewal
  cron:
    name: 'letsencrypt_renewal_{{item}}'
    special_time: weekly
    job: letsencrypt --renew certonly --dns-ovh --dns-ovh-credentials /root/.secrets/certbot/ovh.ini --dns-ovh-propagation-seconds 60 -n --agree-tos -m {{ letsencrypt_email }} -d {{ item }} && systemctl reload nginx
  with_items: "{{ovh_domains}}"

- name: Add Cloudflare letsencrypt cronjob for cert renewal
  cron:
    name: 'letsencrypt_renewal_{{item}}'
    special_time: weekly
    job: letsencrypt --renew certonly --dns-cloudflare --dns-cloudflare-credentials /root/.secrets/certbot/cloudflare.ini --dns-cloudflare-propagation-seconds 60 -n --agree-tos -m {{ letsencrypt_email }} -d {{ item }} && systemctl reload nginx
  with_items: "{{cloudflare_domains}}"
