

- name: Gnico | Access Log directory
  file:
    path: '{{ gnico_log_dir }}'
    state: directory
    mode: 0770
    group: '{{ www_group }}'

- name: Gnico | Configuring Gnico
  template:
    src: gnico-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/gnico.conf"
    backup: yes
  notify: reload nginx
