
- name: Gnico base | www dir
  file:
    path: '{{ gnico_base_dir }}'
    state: directory

- name: Gnico base | Nginx Access Log directory
  file:
    path: '{{ gnico_base_log_dir }}'
    state: directory
    mode: 0770
    group: '{{ www_group }}'

# Gerardnico.com
- name: Gnico.com | Access Log directory
  file:
    path: '{{ gnico_log_dir }}'
    state: directory
    mode: 0770
    group: '{{ www_group }}'

- name: Gnico.com | Configuring Gnico
  template:
    src: gnico-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/gnico.conf"
    backup: yes
  notify: reload nginx

# Gnico farmer
- name: Farmer.Gnico.com  | Access Log directory
  file:
    path: '{{ gnico_farmer_log_dir }}'
    state: directory
    mode: 0770
    group: '{{ www_group }}'

- name: Farmer.Gnico.com | Configuring Gnico
  template:
    src: gnico-farmer-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/gnico-farmer.conf"
    backup: yes
  notify: reload nginx

# nico.Gnico
- name: nico.Gnico.com  | Access Log directory
  file:
    path: '{{ gnico_nico_log_dir }}'
    state: directory
    mode: 0770
    group: '{{ www_group }}'

- name: nico.Gnico.com | Configuring Gnico
  template:
    src: gnico-nico-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/gnico-nico.conf"
    backup: yes
  notify: reload nginx
