
- name: Install Nginx
  become: true
  yum:
    name: nginx
    state: present

- name: Start nginx
  become: true
  service:
    name: "nginx"
    state: "started"
    enabled: true

- name: 'Firewalld - Add port 80'
  become: true
  firewalld:
    port: '80/tcp'
    permanent: yes
    state: enabled
  notify: firewalld reload

- name: 'Certbot - Certificate'
  become: true
  include: certbot_root.yml

- name: Add letsencrypt cronjob for cert renewal
  cron:
    name: letsencrypt_renewal
    special_time: weekly
    job: letsencrypt --renew certonly -n --webroot -w /var/www/letsencrypt -m {{ letsencrypt_email }} --agree-tos -d {{ domain_name }} && service nginx reload
