
- name: Install Nginx {{ nginx_version }}
  become: true
  yum:
    name: 'nginx-{{ nginx_version }}'
    state: present


- name: Start nginx
  become: true
  service:
    name: "nginx"
    state: "started"
    enabled: true

# OVH firewall
#- name: 'Firewall - Add port 443'
#- name: 'Firewall - Add port 80 for a SSL redirect'


- name: Nginx | Configuring Nginx
  become: true
  template:
    src: nginx.conf
    dest: "/etc/nginx/nginx.conf"
    backup: yes
  notify: reload nginx

- name: 'Www - static www folder configuration'
  become: true
  include: www.yml

- name: 'Gnico - Configuration'
  become: true
  include: gnico.yml
  tags: nginx-conf-gnico, nginx-conf

- name: 'Datacadamia - Configuration'
  become: true
  include: datacadamia.yml
  tags: nginx-datacadamia

- name: 'Bytle - Configuration'
  become: true
  include: bytle.yml
  tags: nginx-bytle

- name: 'Backend - Configuration'
  become: true
  template:
    src: backend-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/backend.conf"
    backup: yes
  notify: reload nginx

- name: Netdata | Configuring Netdata
  become: true
  template:
    src: netdata-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/netdata.conf"
    backup: yes
  notify: reload nginx

# https://www.nginx.com/resources/wiki/start/topics/examples/javaservers/
- name: Nexus | Configuring Nexus
  become: true
  template:
    src: nexus-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/nexus.conf"
    backup: yes
  notify: reload nginx
  tags: nginx-conf


- name: Gogs | Configuring Gogs
  become: true
  template:
    src: gogs-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/gogs.conf"
    backup: yes
  notify: reload nginx

- name: Prometheus | Configuring Prometheus
  become: true
  template:
    src: prometheus-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/prometheus.conf"
    backup: yes
  notify: reload nginx



- name: Nginx conf verif | Verification of the configuration
  become: true
  command: '/sbin/nginx -t'
  register: nginx_conf
  changed_when: "nginx_conf.rc != 0"



- name: Nginx | Installation modules
  become: true
  include: nginx_modules.yml
  tags: nginx_modules
