
- name: Install Nginx {{ nginx_version }}
  become: true
  yum:
    name: 'nginx-{{ nginx_version }}'
    state: present


- name: Start nginx
  become: true
  service:
    name: "nginx"
    state: "started"
    enabled: true

- name: Nginx | Admin
  become: true
  include: nginx_admin.yml
  tags: nginx-admin


# OVH firewall
#- name: 'Firewall - Add port 443'
#- name: 'Firewall - Add port 80 for a SSL redirect'


- name: Nginx | Configuring Nginx
  become: true
  template:
    src: nginx.conf
    dest: "/etc/nginx/nginx.conf"
    backup: yes
  notify: reload nginx

- name: 'Www - static www folder configuration'
  become: true
  tags: nginx-www
  include: www.yml

- name: 'Gnico - Configuration'
  become: true
  include: gnico.yml
  tags: nginx-gnico, nginx-conf

- name: 'Datacadamia - Configuration'
  become: true
  include: datacadamia.yml
  tags: nginx-datacadamia

- name: 'Bytle - Configuration'
  become: true
  include: bytle.yml
  tags: nginx-bytle

- name: 'Combostrap - Configuration'
  become: true
  include: combostrap.yml
  tags: nginx-combo



- name: 'Localhost - Configuration'
  become: true
  tags: nginx-conf, nginx-localhost
  notify:
    - verify config
    - reload nginx
  template:
    src: localhost-nginx.conf.j2
    dest: "/etc/nginx/conf.d/localhost.conf"


- name: Netdata | Configuring Netdata
  notify:
    - verify config
    - reload nginx
  become: true
  tags: nginx-netdata, nginx-conf
  template:
    src: netdata-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/netdata.conf"
    backup: yes

# https://www.nginx.com/resources/wiki/start/topics/examples/javaservers/
- name: Nexus | Configuring Nexus
  notify:
    - verify config
    - reload nginx
  become: true
  tags: nginx-nexus, nginx-conf
  template:
    src: nexus-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/nexus.conf"
    backup: yes



- name: Gogs | Configuring Gogs
  tags: nginx-gogs, nginx-conf
  notify:
    - verify config
    - reload nginx
  become: true
  template:
    src: gogs-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/gogs.conf"

- name: Prometheus | Configuring Prometheus
  become: true
  notify:
    - verify config
    - reload nginx
  tags: nginx-conf, nginx-prom
  template:
    src: prometheus-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/prometheus.conf"

- name: Nginx | Installation modules
  become: true
  include: nginx_modules.yml
  tags: nginx_modules


- name: Nginx conf verif | Verification of the configuration
  become: true
  command: '/sbin/nginx -t'
  register: nginx_conf
  changed_when: "nginx_conf.rc != 0"
