
- name: Install Nginx
  become: true
  yum:
    name: nginx
    state: present

- name: Start nginx
  become: true
  service:
    name: "nginx"
    state: "started"
    enabled: true

- name: 'Firewalld - Add port 80'
  become: true
  firewalld:
    port: '80/tcp'
    permanent: yes
    state: enabled
  notify: firewalld reload
