
- name: Install Nginx
  become: true
  yum:
    name: nginx
    state: present

- name: Start nginx
  become: true
  service:
    name: "nginx"
    state: "started"
    enabled: true

- name: 'Firewalld - Add port 443'
  become: true
  firewalld:
    port: '443/tcp'
    permanent: yes
    state: enabled
  notify: firewalld reload

- name: 'Firewalld - Add port 80 for a SSL redirect'
  become: true
  firewalld:
    port: '80/tcp'
    permanent: yes
    state: enabled
  notify: firewalld reload

- name: 'Certbot - Certificate'
  become: true
  include: certbot_root.yml

- name: Nginx | Configuring Nginx
  become: true
  template:
    src: nginx.conf
    dest: "/etc/nginx/nginx.conf"
    backup: yes
  notify: reload nginx

- name: Netdata | Configuring Netdata
  become: true
  template:
    src: netdata-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/netdata.conf"
    backup: yes
  notify: reload nginx

# https://www.nginx.com/resources/wiki/start/topics/examples/javaservers/
- name: Nexus | Configuring Nexus
  become: true
  template:
    src: nexus-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/nexus.conf"
    backup: yes
  notify: reload nginx

- name: Gnico | Configuring Gnico
  become: true
  template:
    src: gnico-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/gnico.conf"
    backup: yes
  notify: reload nginx

- name: Gogs | Configuring Gogs
  become: true
  template:
    src: gogs-nginx-site.conf.j2
    dest: "/etc/nginx/conf.d/gogs.conf"
    backup: yes
  notify: reload nginx

- name: Nginx conf verif | Verification of the configuration
  become: true
  command: '/sbin/nginx -t'
  register: nginx_conf
  changed_when: "nginx_conf.rc != 0"

