

#- name: Populate service facts to check firewalld
#  service_facts:

# Firewall on the cloud provider is just a gateway firewall

#- name: "Firewall - Https"
#  when: "'firewalld.service' in services"
#  firewalld:
#    service: https
#    permanent: yes
#    state: enabled
#
#- name: "Firewall - Http"
#  when: "'firewalld.service' in services"
#  firewalld:
#    service: http
#    permanent: yes
#    state: enabled

#  The rich rule was down manually.
#
#  * [Allow only Cloudflare HTTPS / HTTP](https://datacadamia.com/firewalld/cloudflare)
#
# And the nederland ip where also allowed.
# firewall-cmd --permanent --add-rich-rule='rule family="ipv4" source ipset="nl" service name="http" accept'
# firewall-cmd --permanent --add-rich-rule='rule family="ipv4" source ipset="nl" service name="https" accept'
# firewall-cmd --permanent --add-rich-rule='rule family="ipv4" source NOT ipset="cloudflare-ipv4" service name="http" drop'
# firewall-cmd --permanent --add-rich-rule='rule family="ipv4" source NOT ipset="cloudflare-ipv4" service name="https" drop'
# firewall-cmd --permanent --add-rich-rule='rule family="ipv6" source NOT ipset="cloudflare-ipv6" service name="http" drop'
# firewall-cmd --permanent --add-rich-rule='rule family="ipv6" source NOT ipset="cloudflare-ipv6" service name="https" drop'

