# This play should be called via an include task with the following parameters:
#   * fqdn: the name of the certbot directory under /etc/letsencrypt/live/
#       This is the domain except for wildcard where this is the domain + 0001
#   * file: the source path
#
- name: '{{ fqdn }} | Nginx Create {{ protocol }} access Log directory for {{ fqdn }}'
  become: true
  tags: nginx-conf
  file:
    path: '/var/log/nginx/{{ fqdn }}'
    state: directory
    mode: 0770
    group: '{{ www_group }}'

- name: '{{ fqdn }} | Stat the certificate file'
  become: true
  tags: nginx-conf
  stat:
    path: '{{letsencrypt_cert_base_dir}}/{{ fqdn }}/privkey.pem'
  register: cert_file

- name: '{{ fqdn }} | Check that the certification file exist'
  tags: nginx-conf
  when: not cert_file.stat.exists
  fail:
    msg: "The certification file ({{letsencrypt_cert_base_dir}}/{{ fqdn }}/privkey.pem) does not exist. Add it to the certbot domain first to create the cert."

- name: Check that the config directory exists
  become: true
  file:
    path: '{{nginx_etc_path_conf}}/{{ protocol }}'
    state: directory

- name: '{{ fqdn }} | Copy {{ protocol }} template configuration for {{ fqdn }}'
  tags: nginx-conf
  become: true
  notify: reload nginx
  template:
    src: "{{file}}"
    dest: "{{nginx_etc_path_conf}}/{{ protocol }}/{{ fqdn }}.conf"
    backup: no
