# Deprecated - All monitoring is done via netdata
# Install the Nginx agent for the SAAS monitoring service - https://amplify.nginx.com
# based on https://amplify.nginx.com/docs/guide-installing-and-managing-nginx-amplify-agent.html

- name: Nginx Amplify Agent - Import Nginx Amplify GPG key.
  rpm_key:
    key: "http://nginx.org/keys/nginx_signing.key"
    state: present

- name: Nginx Amplify Agent - Add the repository repository
  yum_repository:
    name: nginx-amplify
    description: Adding the nginx-amplify repository
    baseurl: https://packages.amplify.nginx.com/centos/7/$basearch
    gpgcheck: no
    repo_gpgcheck: yes
    enabled: yes

# Install
- name: Nginx Amplify Agent - Install Agent
  yum:
    name: nginx-amplify-agent
    state: present
    enablerepo: nginx-amplify

- name: Nginx Amplify Agent - Configuration file
  template:
    src: nginx-amplify-agent.conf
    dest: "/etc/amplify-agent/agent.conf"
  notify: reload nginx-amplify

- name: Nginx Amplify Agent Started
  service:
    name: "amplify-agent"
    state: "started"
    enabled: true
