---

# internal tool are shield from the external world
# for now ip/subnet, future only client certification


- name: Nginx Internal Tool | Ip Restrictions
  become: true
  template:
    src: '{{ nginx_internal_tool_ip_restriction }}'
    dest: '{{ nginx_internal_tool_ip_restriction_path }}'
  notify: reload nginx
  tags: nginx-conf

- name: Nginx Internal Tool | Client Certificate
  become: true
  template:
    src: '{{ nginx_internal_tool_client_certificate }}'
    dest: '{{ nginx_internal_tool_client_certificate_path }}'
  notify: reload nginx
  tags: nginx-conf

- name: Internal Tool - CA Client certificate directory
  become: true
  notify: reload nginx
  file:
    path: '{{ nginx_client_certificate_directory }}'
    state: directory
    mode: 0755

- name: Internal Tool - Copy the trusted CA certificate
  become: true
  notify: reload nginx
  copy:
    src: "files/{{ nginx_root_ca_for_client }}"
    dest: "{{ nginx_root_ca_for_client_location }}"
