



- name: Download Nginx Virtual Status
  uri:
    url: 'https://github.com/vozlt/nginx-module-vts/archive/{{ nginx_status_archive }}'
    method: GET
    dest: '{{ nginx_build_base_dir }}/{{ nginx_status_archive }}'
    creates: '{{ nginx_build_base_dir }}/{{ nginx_status_archive }}'

- name: Extract
  unarchive:
    src: '{{ nginx_build_base_dir }}/{{ nginx_status_archive }}'
    dest: '{{ nginx_build_base_dir }}'
    remote_src: yes
    creates: '{{ nginx_build_base_dir }}/{{ nginx_status_archive_dir_name }}'


- name: Compile and copy
  import_tasks: nginx_compile_dynamic_module.yml
  vars:
    nginx_dynamic_library_name: 'ngx_http_vhost_traffic_status_module.so'
    nginx_dynamic_library_source_path: '{{ nginx_build_base_dir }}/{{ nginx_status_archive_dir_name }}'
