# In an embedded mode, a terminal is needed.
# Solution found here: https://unix.stackexchange.com/questions/453998/systemd-connect-to-stdin-stdout-after-service-has-started

[Unit]
Description=Drill Embedded
Documentation=https://drill.apache.org/docs/starting-drill-on-linux-and-mac-os-x/
After=syslog.target
After=network.target
After=getty.service

[Service]
Type=simple
User={{ drill_user }}
Group={{ drill_group }}
WorkingDirectory={{ drill_server_dir }}
ExecStart={{ drill_server_dir }}/bin/drill-embedded -n {{ drill_user }} -p {{ drill_password }}
KillMode=process
Environment=DRILL_HEAP=500M
StandardInput=tty-force
TTYVHangup=yes
TTYPath=/dev/tty20
TTYReset=yes
SuccessExitStatus=143 # when stopped, this is the status returned, the stop is then succesful and not failed

[Install]
WantedBy=multi-user.target
