{{#vendorExtensions.x-class-extra-annotation}}
{{{vendorExtensions.x-class-extra-annotation}}}
{{/vendorExtensions.x-class-extra-annotation}}
{{>additionalModelTypeAnnotations}}@JsonInclude(JsonInclude.Include.NON_NULL)
public class {{classname}} {{#parent}}extends {{{.}}}{{/parent}} {{#vendorExtensions.x-implements}}{{#-first}}implements {{{.}}}{{/-first}}{{^-first}}, {{{.}}}{{/-first}}{{/vendorExtensions.x-implements}} {

{{#vars}}
{{#isEnum}}
{{^isContainer}}
{{>enumClass}}
{{/isContainer}}
{{#isContainer}}
{{#mostInnerItems}}
{{>enumClass}}
{{/mostInnerItems}}
{{/isContainer}}
{{/isEnum}}{{!--Protected because the class may be extended--}}
  protected {{{datatypeWithEnum}}} {{name}}{{#defaultValue}} = {{{.}}}{{/defaultValue}};
{{/vars}}

  /**
  * The empty constructor is
  * needed for the construction of the pojo
  * with the Jackson library
  */
  @SuppressWarnings("unused")
  public {{classname}} () {
  }

  {{#vars}}
  /**{{#description}}{{! has description }}
  * @return {{name}} {{{.}}}
{{/description}}
{{^description}}{{! has not a description }}
  * @return {{name}}
{{/description}}
{{#minimum}}{{! has a minimum }}
  * minimum: {{.}}
{{/minimum}}
{{#maximum}}{{! has a maximum }}
  * maximum: {{.}}
{{/maximum}}
  */
{{#vendorExtensions.x-field-extra-annotation}}
  {{{vendorExtensions.x-field-extra-annotation}}}
{{/vendorExtensions.x-field-extra-annotation}}
  @JsonProperty("{{baseName}}")
  public {{{datatypeWithEnum}}} {{getter}}() {
    return {{name}};
  }

  /**
{{#description}}
  * @param {{name}} {{{.}}}
{{/description}}
{{^description}}
  * @param {{name}} Set {{name}}
{{/description}}
{{#minimum}}
  * minimum: {{.}}
{{/minimum}}
{{#maximum}}
  * maximum: {{.}}
{{/maximum}}
  */
{{#vendorExtensions.x-setter-extra-annotation}}
  {{{vendorExtensions.x-setter-extra-annotation}}}
{{/vendorExtensions.x-setter-extra-annotation}}
  @SuppressWarnings("unused")
  public void {{setter}}({{{datatypeWithEnum}}} {{name}}) {
    this.{{name}} = {{name}};
  }

  {{/vars}}

  @Override
  public boolean equals(Object o) {
    if (this == o) {
      return true;
    }
    if (o == null || getClass() != o.getClass()) {
      return false;
    }
    {{classname}} {{classVarName}} = ({{classname}}) o;
    return {{#parent}}super.equals(o) && {{/parent}}{{#vendorExtensions.x-fields-identity}}Objects.equals({{.}}, {{classVarName}}.{{.}}){{^-last}} && {{/-last}}{{#-last}};{{/-last}}{{/vendorExtensions.x-fields-identity}}
      {{^vendorExtensions.x-fields-identity}}
            {{#requiredVars}}Objects.equals({{name}}, {{classVarName}}.{{name}}){{^-last}} && {{/-last}}{{#-last}};{{/-last}}{{/requiredVars}}
            {{^requiredVars}}{{#vars}}Objects.equals({{name}}, {{classVarName}}.{{name}}){{^-last}} && {{/-last}}{{#-last}};{{/-last}}{{/vars}}{{/requiredVars}}
      {{/vendorExtensions.x-fields-identity}}
  }

  @Override
  public int hashCode() { {{! The hashCode may bring a circular reference if all fields are used, we show therefore only the required identifier fields if any (guid, ...)}}
    return Objects.hash({{#parent}}super.hashCode(), {{/parent}}{{#vendorExtensions.x-fields-identity}}{{.}}{{^-last}}, {{/-last}}{{/vendorExtensions.x-fields-identity}}{{^vendorExtensions.x-fields-identity}}{{#requiredVars}}{{name}}{{^-last}}, {{/-last}}{{/requiredVars}}{{^requiredVars}}{{#vars}}{{name}}{{^-last}}, {{/-last}}{{/vars}}{{^vars}}""{{/vars}}{{/requiredVars}}{{/vendorExtensions.x-fields-identity}});
  }

  @Override {{! The toString may bring a circular reference if all fields are used, we show therefore only the tostring and required identifier fields if any (guid, ...)}}
  public String toString() {
    return {{#parent}}super.toString() + {{/parent}}{{#vendorExtensions.x-fields-to-string}}{{.}}{{^-last}} + ", " + {{/-last}}{{/vendorExtensions.x-fields-to-string}}{{^vendorExtensions.x-fields-to-string}}{{#requiredVars}}{{name}}{{^isPrimitiveType}}.toString(){{/isPrimitiveType}}{{^-last}} + ", " + {{/-last}}{{/requiredVars}}{{^requiredVars}}super.toString(){{/requiredVars}}{{/vendorExtensions.x-fields-to-string}};
  }

}
