---
# https://rclone.org/install/#linux

- name: RClone - State the binary
  ansible.builtin.stat:
    path: /usr/bin/rclone
  register: rCloneFile

- name: RClone - Install if not present
  when: not rCloneFile.stat.exists
  block:
    - name: RClone - Download rclone .zip
      get_url:
        url: "https://downloads.rclone.org/{{ rclone_version }}/rclone-{{ rclone_version }}-linux-{{ rclone_cpu }}.zip"
        dest: "/tmp/rclone-{{ rclone_version }}-linux-{{ rclone_cpu }}.zip"
        force: yes # download only if not already downloaded
    - name: RClone - Unzip Rclone
      unarchive:
        src: "/tmp/rclone-{{ rclone_version }}-linux-{{ rclone_cpu }}.zip"
        dest: "/tmp"
        # unzip add the directory rclone-{{ rclone_version }}-linux-{{ rclone_cpu }}
        # making the destination /tmp/rclone-{{ rclone_version }}-linux-{{ rclone_cpu }}
        copy: false
    - name: Rclone - Move RClone to bin
      shell:
        cmd: |
          /bin/cp /tmp/rclone-{{ rclone_version }}-linux-{{ rclone_cpu }}/rclone /usr/bin/rclone
    - name: Rclone - Install Man Page
      shell:
        cmd: |
          /bin/cp /tmp/rclone-{{ rclone_version }}-linux-{{ rclone_cpu }}/rclone.1 /usr/local/share/man/man1/
          mandb

- name: Rclone - File Permission
  file:
    path: /usr/bin/rclone
    mode: 755
