

- name: Restic - RClone Configuration File
  template:
    src: 'rclone.conf'
    dest: '/home/{{ restic_user }}/.config/rclone/rclone.conf'
    mode: 'u=rw,g=rw,o='
    group: '{{ restic_group }}'
    owner: 'root'
    validate: 'rclone --config=%s --max-depth 1 ls {{ rclone_restic_remote_name }}:'

# It permits to run restic without sudo
- name: Restic - RClone Configuration File symlink for root
  file:
    src: '/home/{{ restic_user }}/.config/rclone/rclone.conf'
    dest: '/root/.config/rclone/rclone.conf'
    state: link


- name: Restic - Install the Dokuwiki Ignore File
  template:
    src: 'dokuwiki.ignore'
    dest: '{{ restic_config }}/dokuwiki-{{ item }}.ignore'
    mode: 'u=rw,g=r,o='
    group: '{{ restic_group }}'
    owner: '{{ restic_user }}'
  vars:
    data_dir: '{{ item }}'
  with_items:
    - dokudata
    - data
