openapi: 3.0.3
info:
  description: |
    The eraldy api
  title: Eraldy API
  version: v2023-06-18
servers:
- url: https://api.eraldy.com
- url: https://localhost:8083
security:
- apiKeyAuth: []
- cookieAuth: []
tags:
- description: Env data
  name: env
- description: Realm module
  name: realm
- description: Auth module
  name: auth
- description: User module
  name: user
- description: "List module (creation, registration)"
  name: list
- description: App module
  name: app
- description: Analytics module
  name: analytics
- description: Organization module
  name: organization
- description: EMail module (ie SMTP)
  name: email
paths:
  /auth/logout:
    get:
      operationId: authLogoutGet
      parameters:
      - description: The redirect uri (known also as callback endpoint)
        explode: true
        in: query
        name: redirect_uri
        required: true
        schema:
          example: https://client.example.com/callback
          type: string
        style: form
      responses:
        default:
          description: successful operation
      security: []
      summary: The logout endpoint
      tags:
      - auth
      x-accepts: application/json
  /auth/login/authorize:
    get:
      operationId: authLoginAuthorizeGet
      parameters:
      - description: The redirect uri (known also as callback endpoint)
        explode: true
        in: query
        name: redirect_uri
        required: true
        schema:
          example: https://client.example.com/callback
          type: string
        style: form
      responses:
        "302":
          description: |
            Redirect:
              * to the redirect_uri if the user is already logged in
              * to the login page if the user is not logged in
      security: []
      summary: |
        Authorize is the main entrypoint for the login flow.

        If the user is already logged, the user is redirected to the redirect uri.
        If the user is not logged in, the user is redirected to the front end app.

        It's an adaptation of the [OAuth authorization endpoint](https://datacadamia.com/iam/oauth/authorization_endpoint)
      tags:
      - auth
      x-accepts: application/json
  /auth/login/oauth/{provider}:
    get:
      operationId: authLoginOauthProviderGet
      parameters:
      - description: The OAuth provider
        example: github
        explode: false
        in: path
        name: provider
        required: true
        schema:
          enum:
          - github
          - google
          type: string
        style: simple
      - description: The list guid if the user register to a list
        example: lis-xxxx
        explode: true
        in: query
        name: list_guid
        required: false
        schema:
          type: string
        style: form
      - description: The redirect uri (known also as callback endpoint)
        explode: true
        in: query
        name: redirect_uri
        required: true
        schema:
          example: https://client.example.com/callback
          type: string
        style: form
      - description: |
          The realm identifier (a realm guid or handle)
        explode: true
        in: query
        name: realm_identifier
        required: true
        schema:
          type: string
        style: form
      responses:
        "302":
          description: The OAuth redirection URL to the authorization end point for
            the provider
      security: []
      summary: |
        Redirect to the external oauth authorization end point
      tags:
      - auth
      x-accepts: application/json
  /auth/login/email:
    post:
      operationId: authLoginEmailPost
      requestBody:
        $ref: '#/components/requestBodies/AuthEmailPostBody'
      responses:
        "204":
          description: Successful. An email was sent or not if not known
      security: []
      summary: Login by sending an email with a login link
      tags:
      - auth
      x-content-type: application/json
      x-accepts: application/json
  /auth/login/oauth/access_token:
    get:
      operationId: authLoginOauthAccessTokenGet
      parameters:
      - description: The OAuth authorization code
        explode: true
        in: query
        name: code
        required: true
        schema:
          type: string
        style: form
      - description: The OAuth application client id
        explode: true
        in: query
        name: client_id
        required: false
        schema:
          type: string
        style: form
      - description: The OAuth application client secret
        explode: true
        in: query
        name: client_secret
        required: false
        schema:
          type: string
        style: form
      - description: The OAuth callback where you received the code
        explode: true
        in: query
        name: redirect_uri
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/json:
              schema:
                $ref: '#/components/schemas/OAuthAccessTokenResponse'
          description: The Access token
      summary: Exchange a oauth code for an access token
      tags:
      - auth
      x-accepts: text/json
  /auth/login/password:
    post:
      operationId: authLoginPasswordPost
      requestBody:
        $ref: '#/components/requestBodies/LoginPostBody'
      responses:
        "302":
          description: Successful
        "401":
          description: "Bad Credentials, no user or no password found"
        "400":
          description: Other errors such as session expired
      security: []
      summary: The login form end point for password credentials
      tags:
      - auth
      x-content-type: application/json
      x-accepts: application/json
  /auth/login/password/update:
    post:
      operationId: authLoginPasswordUpdatePost
      requestBody:
        $ref: '#/components/requestBodies/PasswordOnlyPostBody'
      responses:
        "302":
          description: Successful
        "400":
          description: Other errors such as session expired
      summary: Update the password
      tags:
      - auth
      x-content-type: application/json
      x-accepts: application/json
  /auth/login/password/reset:
    post:
      operationId: authLoginPasswordResetPost
      requestBody:
        $ref: '#/components/requestBodies/EmailPostBody'
      responses:
        "204":
          description: Processed. An email was send for password resetting if it was
            found.
        "400":
          description: The email provided is not valid
      security: []
      summary: Login via a link and give the possibility to modify the password
      tags:
      - auth
      x-content-type: application/json
      x-accepts: application/json
  /auth/register/user:
    post:
      operationId: authRegisterUserPost
      requestBody:
        $ref: '#/components/requestBodies/AuthEmailPostBody'
      responses:
        "200":
          description: An email was send for validation
        "400":
          description: A parameter is not valid
      security: []
      summary: Register a user
      tags:
      - auth
      x-content-type: application/json
      x-accepts: application/json
  /auth/register/list:
    post:
      operationId: authRegisterListPost
      requestBody:
        $ref: '#/components/requestBodies/ListRegistrationPostBody'
      responses:
        "200":
          description: Email was send for validation
        "204":
          description: Email was send for validation
      security: []
      summary: Register a user to a list by sending an email for validation
      tags:
      - auth
      x-content-type: application/json
      x-accepts: application/json
  /auth/register/list/{listIdentifier}:
    get:
      operationId: authRegisterListListIdentifierGet
      parameters:
      - description: "The list identifier (guid, ...)"
        explode: false
        in: path
        name: listIdentifier
        required: true
        schema:
          example: lis-xklm
          type: string
        style: simple
      responses:
        "302":
          description: Redirect to the form or confirmation page
      security: []
      summary: |
        Register a user to a list
        If the user is:
          * not signed in, a redirection occurs to the page with the register form
          * signed in, a redirection occurs to the confirmation page
      tags:
      - auth
      x-accepts: application/json
  /analytics/event:
    post:
      operationId: analyticsEventPost
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AnalyticsEventPost'
        required: true
      responses:
        "200":
          description: Event was processed
      security: []
      summary: Report a analytics event
      tags:
      - analytics
      x-content-type: application/json
      x-accepts: application/json
  /analytics/event/{eventName}:
    get:
      operationId: analyticsEventNameGet
      parameters:
      - description: The event name to retrieve
        explode: false
        in: path
        name: eventName
        required: true
        schema:
          example: "[\"Sign-up\",\"Sign-in\"]"
          type: string
        style: simple
      - description: The guid or handle of the realm
        explode: true
        in: query
        name: realmIdentifier
        required: true
        schema:
          example: "[\"rea-xjkkLmi\",\"realmhandlename\"]"
          type: string
        style: form
      - description: The guid or handle of an app
        explode: true
        in: query
        name: appIdentifier
        required: false
        schema:
          example: "[\"app-xjkkLmi\",\"doe.com\"]"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/AnalyticsEvent'
                type: array
          description: The events
        "403":
          description: Not authenticated
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Return a list of events
      tags:
      - analytics
      x-accepts: application/json
  /csp/report:
    post:
      operationId: cspReportPost
      requestBody:
        $ref: '#/components/requestBodies/CspViolationReportBody'
      responses:
        "200":
          description: Report was processed
      security: []
      summary: Report a CSP Violation
      tags:
      - csp
      x-content-type: application/json
      x-accepts: application/json
  /env:
    get:
      operationId: envGet
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: The env data
      summary: Return environment data
      tags:
      - env
      x-accepts: application/json
  /ping:
    get:
      operationId: pingGet
      responses:
        "200":
          description: API health status
      security: []
      summary: A health check endpoint
      tags:
      - health
      x-accepts: application/json
  /realm/{realmIdentifier}/users:
    get:
      operationId: realmRealmUsersGet
      parameters:
      - description: A realm identifier (a guid or a handle)
        explode: false
        in: path
        name: realmIdentifier
        required: true
        schema:
          example: rea-xjkkLmi
          type: string
        style: simple
      - description: The number of rows by page
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          example: 10
          format: int64
          type: integer
        style: form
      - description: The id of the page to return (zero based)
        explode: true
        in: query
        name: pageId
        required: false
        schema:
          example: 1
          format: int64
          type: integer
        style: form
      - description: A search term (search for now only against email)
        explode: true
        in: query
        name: searchTerm
        required: false
        schema:
          example: foo@example.com
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: Ok
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Get users for the realm for pagination
      tags:
      - realm
      x-accepts: application/json
  /realm/{realmIdentifier}:
    get:
      operationId: realmGet
      parameters:
      - description: The guid or handle of the realm
        explode: false
        in: path
        name: realmIdentifier
        required: true
        schema:
          example: "[\"rea-xjkkLmi\",\"realm-handle\"]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealmAnalytics'
          description: Ok
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Return the asked realm
      tags:
      - realm
      x-accepts: application/json
  /realm:
    post:
      operationId: realmPost
      requestBody:
        $ref: '#/components/requestBodies/RealmPostBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Realm'
          description: Ok
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Create a realm
      tags:
      - realm
      x-content-type: application/json
      x-accepts: application/json
  /realms:
    get:
      operationId: realmsGet
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RealmWithAppUris'
                type: array
          description: Return the list of realms
        "403":
          description: Not authenticated
      security:
      - apiKeyAuth:
        - root
      - cookieAuth:
        - root
      summary: Return the list of realms
      tags:
      - realm
      x-accepts: application/json
  /realms/owned-by/{userGuid}:
    get:
      operationId: realmsOwnedByGet
      parameters:
      - description: The user guid
        explode: false
        in: path
        name: userGuid
        required: true
        schema:
          example: "[\"usr-xjkkLmi\",\"usr@example.com\"]"
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Realm'
                type: array
          description: Return the list of realms owned by the user
        "403":
          description: Not authenticated
      security:
      - apiKeyAuth:
        - root
      - cookieAuth:
        - root
      summary: Return the list of realms owned by the user
      tags:
      - realm
      x-accepts: application/json
  /realms/owned-by/me:
    get:
      operationId: realmsOwnedByMeGet
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RealmAnalytics'
                type: array
          description: Return the list of realms owned by the authenticated user
        "403":
          description: Not authenticated
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: |
        Return the list of realms owned by the authenticated user.
        The authenticated user needs to be a organizational user.
      tags:
      - realm
      x-accepts: application/json
  /services:
    get:
      operationId: servicesGet
      parameters:
      - description: A realm identifier (guid or handle)
        explode: true
        in: query
        name: realmIdentifier
        required: false
        schema:
          example: rea-xjkkLmi
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Service'
                type: array
          description: Ok
      security:
      - apiKeyAuth:
        - read:service
      summary: Get all services
      tags:
      - service
      x-accepts: application/json
  /campaign/email:
    post:
      operationId: campaignEmailPost
      requestBody:
        $ref: '#/components/requestBodies/CampaignEmailPostBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign'
          description: Ok
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Create an email campaign
      tags:
      - campaign
      x-content-type: application/json
      x-accepts: application/json
  /service:
    get:
      operationId: serviceGet
      parameters:
      - description: The guid of the service
        explode: true
        in: query
        name: serviceGuid
        required: false
        schema:
          example: xjkkLmi
          type: string
        style: form
      - description: The unique uri of the service
        explode: true
        in: query
        name: serviceUri
        required: false
        schema:
          type: string
        style: form
      - description: The realm identifier (guid or handle) of the service (the realm
          is needed when only the uri is given)
        explode: true
        in: query
        name: realmIdentifier
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Ok
      security:
      - apiKeyAuth:
        - read:service
      summary: Retrieve a service by guid or uri
      tags:
      - service
      x-accepts: application/json
  /service/smtp:
    post:
      operationId: serviceSmtpPost
      requestBody:
        $ref: '#/components/requestBodies/ServiceSmtpPostBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Service'
          description: Ok
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Create a SMTP mail service for a app or a user
      tags:
      - service
      x-content-type: application/json
      x-accepts: application/json
  /app:
    post:
      operationId: appPost
      requestBody:
        $ref: '#/components/requestBodies/AppPostBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: Ok
      security:
      - apiKeyAuth: []
      summary: "Create or modify an app (ie design, ...)"
      tags:
      - app
      x-content-type: application/json
      x-accepts: application/json
  /app/{appIdentifier}:
    get:
      operationId: appGet
      parameters:
      - description: An app guid or handle
        explode: false
        in: path
        name: appIdentifier
        required: true
        schema:
          example: app-xjkkLmi
          type: string
        style: simple
      - description: A realm identifier (a guid or handle). Mandatory if the app identifier
          is not a guid
        explode: true
        in: query
        name: realmIdentifier
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/App'
          description: Ok
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: |
        Retrieve an app by identifier (ie guid or handle)
      tags:
      - app
      x-accepts: application/json
  /apps:
    get:
      operationId: appsGet
      parameters:
      - description: A realm identifier (a guid or handle)
        explode: true
        in: query
        name: realmIdentifier
        required: false
        schema:
          example: rea-xjkkLmi
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/App'
                type: array
          description: Ok
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: List apps for a realm
      tags:
      - app
      x-accepts: application/json
  /user:
    get:
      operationId: userGet
      parameters:
      - description: "A user identifier (A guid, an email or a handle)"
        explode: true
        in: query
        name: userIdentifier
        required: true
        schema:
          example: "[\"usr-xjkkLmi\",\"john@doe.com\"]"
          type: string
        style: form
      - description: A realm identifier (a guid or handle) if the user identifier
          is not a guid
        explode: true
        in: query
        name: realmIdentifier
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Ok
      security:
      - apiKeyAuth:
        - read:user
      summary: |
        Get a user by guid or email
      tags:
      - user
      x-accepts: application/json
    post:
      operationId: userPost
      requestBody:
        $ref: '#/components/requestBodies/UserPostBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Ok
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Create or modify a user (a guid or a email should be given)
      tags:
      - user
      x-content-type: application/json
      x-accepts: application/json
  /user/me:
    get:
      operationId: userMeGet
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Ok
        "401":
          description: Requires authentication if not authenticated
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Get the authenticated user
      tags:
      - user
      x-accepts: application/json
  /user/{guid}:
    get:
      operationId: userGuidGet
      parameters:
      - description: The guid of the user
        explode: false
        in: path
        name: guid
        required: true
        schema:
          example: xjkkLmi
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
          description: Ok
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: |
        Get a user by guid

        If you want to use the email has identifier,
        you should use the `userGet` operation passing the email as query parameter
      tags:
      - user
      x-accepts: application/json
  /organization/user/me:
    get:
      operationId: organizationUserMeGet
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationUser'
          description: Ok
        "401":
          description: Not logged in
        "403":
          description: Logged in but the authenticated user is not the member of an
            organization
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Get the authenticated user and its organization
      tags:
      - organization
      x-accepts: application/json
  /organization/{orgaIdentifier}/users:
    get:
      operationId: orgaOrgaUsersGet
      parameters:
      - description: A organization identifier (a guid or a handle)
        explode: false
        in: path
        name: orgaIdentifier
        required: true
        schema:
          example: org-xjkkLmi
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/User'
                type: array
          description: Ok
        "401":
          description: Not logged in
        "403":
          description: Logged in but the authenticated user is not the member of an
            organization
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Get the users of the organization
      tags:
      - organization
      x-accepts: application/json
  /email/address/{address}/validate:
    get:
      description: |
        Note that for the request, the email should be URL encoded (ie arobase, @ becomes %40)
      operationId: emailAddressAddressValidateGet
      parameters:
      - description: The email address
        explode: false
        in: path
        name: address
        required: true
        schema:
          example: foo@example.com
          format: email
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonObject'
          description: Ok
        "401":
          description: Not logged in
        "403":
          description: Logged in but the authenticated user is not the member of an
            organization
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Validate an email address
      tags:
      - email
      x-accepts: application/json
  /list/{listIdentifier}:
    delete:
      operationId: listListDelete
      parameters:
      - description: The list identifier (handle or guid)
        explode: false
        in: path
        name: listIdentifier
        required: true
        schema:
          example: "[\"lis-xjkkLmi\",\"mylisthandle\"]"
          type: string
        style: simple
      - description: |
          A realm identifier (handle or guid)
          The realm identifier is mandatory if a list handle was given as identifier
        explode: true
        in: query
        name: realmIdentifier
        required: false
        schema:
          example: "[\"rea-xjkkLmi\",\"myrealmhandle\"]"
          type: string
        style: form
      responses:
        "200":
          description: Ok
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Delete the list
      tags:
      - list
      x-accepts: application/json
    get:
      operationId: listListGet
      parameters:
      - description: |
          The list identifier (handle or guid)
          If an handle is given, a realm identifier should be given.
        explode: false
        in: path
        name: listIdentifier
        required: true
        schema:
          example: "[\"lis-xjkkLmi\",\"mylisthandle\"]"
          type: string
        style: simple
      - description: |
          A realm identifier (handle or guid)
          The realm identifier is mandatory if a list handle was given as identifier
        explode: true
        in: query
        name: realmIdentifier
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItem'
          description: Ok
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: |
        Get list information

        Access by:
        * id with the listGuid
        * name with the listHandle and realmIdentifier
      tags:
      - list
      x-accepts: application/json
    patch:
      operationId: listListPatch
      parameters:
      - description: |
          The list identifier (handle or guid)
          If an handle is given, a realm identifier should be given.
        explode: false
        in: path
        name: listIdentifier
        required: true
        schema:
          example: "[\"lis-xjkkLmi\",\"mylisthandle\"]"
          type: string
        style: simple
      - description: |
          A realm identifier (handle or guid)
          The realm identifier is mandatory if a list handle was given as identifier
        explode: true
        in: query
        name: realmIdentifier
        required: false
        schema:
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/ListBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItem'
          description: Ok
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: |
        Update a list
      tags:
      - list
      x-content-type: application/json
      x-accepts: application/json
  /app/{appIdentifier}/list:
    post:
      operationId: appAppListPost
      parameters:
      - description: An app guid or handle
        explode: false
        in: path
        name: appIdentifier
        required: true
        schema:
          example: "[\"app-xjkkLmi\",\"doe.com\"]"
          type: string
        style: simple
      - description: A realm identifier (a guid or handle). Mandatory if the app identifier
          is not a guid
        explode: true
        in: query
        name: realmIdentifier
        required: false
        schema:
          type: string
        style: form
      requestBody:
        $ref: '#/components/requestBodies/ListBody'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListItem'
          description: Ok
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Create a list where users can register
      tags:
      - app
      x-content-type: application/json
      x-accepts: application/json
  /lists:
    get:
      operationId: listsGet
      parameters:
      - description: The app guid
        explode: true
        in: query
        name: appGuid
        required: false
        schema:
          example: xjkkLmi
          type: string
        style: form
      - description: The uri of the app
        explode: true
        in: query
        name: appUri
        required: false
        schema:
          type: string
        style: form
      - description: A realm identifier (a guid or handle)
        explode: true
        in: query
        name: realmIdentifier
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListItem'
                type: array
          description: Return a list of lists for the app
        "403":
          description: Not authenticated
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: |
        Get a list of lists

        The app should be given via:
          - the appGuid
          - or the appUri along with a realm identifier (guid or handle)
      tags:
      - list
      x-accepts: application/json
  /lists/summary:
    get:
      operationId: listsSummaryGet
      parameters:
      - description: A realm identifier (guid or realm)
        explode: true
        in: query
        name: realmIdentifier
        required: false
        schema:
          example: rea-xjkkLmi
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListSummary'
                type: array
          description: Return a list
        "403":
          description: Not authenticated
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Get a list of list in a summary format
      tags:
      - list
      x-accepts: application/json
  /list/registration:
    get:
      description: |
        Get a registration
          * by id with the registrationGuid
          * by name with the subscriberEmail and listGuid
      operationId: listRegistrationGet
      parameters:
      - description: The guid of the registration
        explode: true
        in: query
        name: guid
        required: false
        schema:
          example: xjkkLmi
          type: string
        style: form
      - description: The list guid of the registration
        explode: true
        in: query
        name: listGuid
        required: false
        schema:
          example: xjkkLmi
          type: string
        style: form
      - description: The email of the subscriber
        explode: true
        in: query
        name: subscriberEmail
        required: false
        schema:
          example: joe@doe.com
          format: email
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRegistration'
          description: The registration
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Get a registration object
      tags:
      - list
      x-accepts: application/json
  /list/registration/validation:
    get:
      operationId: listRegistrationValidationGet
      parameters:
      - description: The payload
        explode: true
        in: query
        name: data
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The validation letter
      security: []
      summary: |
        The URI of the validation link in the validation
        letter that the user receive.
        The user needs to click this link to confirm her/his registration.
      tags:
      - list
      x-accepts: text/html
  /list/registration/letter/confirmation:
    get:
      operationId: listRegistrationLetterConfirmationGet
      parameters:
      - description: The name of the subscriber
        explode: true
        in: query
        name: subscriberName
        required: false
        schema:
          example: Tony
          type: string
        style: form
      - description: The list guid
        explode: true
        in: query
        name: listGuid
        required: false
        schema:
          example: xklm
          type: string
        style: form
      - description: The name of the list
        explode: true
        in: query
        name: listName
        required: false
        schema:
          example: Weekly Newsletters
          type: string
        style: form
      - description: The name of the owner
        explode: true
        in: query
        name: ownerName
        required: false
        schema:
          example: Harold
          type: string
        style: form
      - description: The email of the owner
        explode: true
        in: query
        name: ownerEmail
        required: false
        schema:
          example: john@doe.com
          format: email
          type: string
        style: form
      - description: The logo of the owner
        explode: true
        in: query
        name: ownerLogo
        required: false
        schema:
          example: https://combostrap.com/_media/android-chrome-192x192.png
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The confirmation letter
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: |
        Return the confirmation letter after the user has clicked on the validation link.

        To get a confirmation as it's show to a user, you just need to set
        the subscriber name and the list guid

        The other parameters will overwrite other list information.
      tags:
      - list
      x-accepts: text/html
  /list/registration/letter/validation:
    get:
      operationId: listRegistrationLetterValidationGet
      parameters:
      - description: The list guid
        explode: true
        in: query
        name: listGuid
        required: true
        schema:
          example: xklm
          type: string
        style: form
      - description: The name of the subscriber
        explode: true
        in: query
        name: subscriberName
        required: false
        schema:
          example: Tony
          type: string
        style: form
      - description: The email of the subscriber
        explode: true
        in: query
        name: subscriberEmail
        required: false
        schema:
          example: john@doe.com
          type: string
        style: form
      - description: Debug will print variable names if set to true
        explode: true
        in: query
        name: debug
        required: false
        schema:
          example: true
          type: boolean
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The confirmation letter
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: |
        Return the validation letter with a validation link as send by email.
      tags:
      - list
      x-accepts: text/html
  /list/register/confirmation/{registration_guid}:
    get:
      operationId: listRegisterConfirmationRegistrationGet
      parameters:
      - description: The registration guid
        explode: false
        in: path
        name: registration_guid
        required: true
        schema:
          type: string
        style: simple
      - description: The redirect uri (known also as callback endpoint)
        explode: true
        in: query
        name: redirect_uri
        required: true
        schema:
          example: https://client.example.com/callback
          type: string
        style: form
      responses:
        "200":
          content:
            text/html:
              schema:
                type: string
          description: The registration list confirmation HTML page
      security: []
      summary: Shows a confirmation page for the registration
      tags:
      - list
      x-accepts: text/html
  /list/{listIdentifier}/import:
    post:
      operationId: listListImportPost
      parameters:
      - description: A list identifier (guid)
        explode: false
        in: path
        name: listIdentifier
        required: true
        schema:
          example: lis-xjkkLmi
          type: string
        style: simple
      requestBody:
        content:
          multipart/form-data:
            encoding:
              fileBinary:
                contentType: text/csv
                style: form
            schema:
              $ref: '#/components/schemas/listListImportPost_request'
        description: The file containing the users to import
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListImportPostResponse'
          description: The import job id
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: Submit an import of users for a list
      tags:
      - list
      x-content-type: multipart/form-data
      x-accepts: application/json
  /list/{listIdentifier}/imports:
    get:
      operationId: listListImportsGet
      parameters:
      - description: A list identifier (guid)
        explode: false
        in: path
        name: listIdentifier
        required: true
        schema:
          example: lis-xjkkLmi
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListImportJobStatus'
                type: array
          description: The import jobs
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: A list of imports
      tags:
      - list
      x-accepts: application/json
  /list/{listIdentifier}/import/{jobIdentifier}/details:
    get:
      operationId: listListImportJobDetailsGet
      parameters:
      - description: A list identifier (guid)
        explode: false
        in: path
        name: listIdentifier
        required: true
        schema:
          example: lis-xjkkLmi
          type: string
        style: simple
      - description: A import identifier
        explode: false
        in: path
        name: jobIdentifier
        required: true
        schema:
          example: lis-xjkkLmi
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ListImportJobRowStatus'
                type: array
          description: The import jobs
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: The list of emails with their import status
      tags:
      - list
      x-accepts: application/json
  /list/{listIdentifier}/import/{jobIdentifier}:
    get:
      operationId: listListImportJobGet
      parameters:
      - description: A list identifier (guid)
        explode: false
        in: path
        name: listIdentifier
        required: true
        schema:
          example: lis-xjkkLmi
          type: string
        style: simple
      - description: A import identifier
        explode: false
        in: path
        name: jobIdentifier
        required: true
        schema:
          example: lis-xjkkLmi
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListImportJobStatus'
          description: The import job status
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: The import status for the job
      tags:
      - list
      x-accepts: application/json
  /list/{listIdentifier}/registrations:
    get:
      operationId: listListRegistrationsGet
      parameters:
      - description: The identifier of the list (guid)
        explode: false
        in: path
        name: listIdentifier
        required: true
        schema:
          example: lis-xjkkLmi
          type: string
        style: simple
      - description: The number of rows by page
        explode: true
        in: query
        name: pageSize
        required: false
        schema:
          example: 10
          format: int64
          type: integer
        style: form
      - description: The id of the page to return (zero based)
        explode: true
        in: query
        name: pageId
        required: false
        schema:
          example: 1
          format: int64
          type: integer
        style: form
      - description: A search term (search for now only against email)
        explode: true
        in: query
        name: searchTerm
        required: false
        schema:
          example: foo@example.com
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RegistrationShort'
                type: array
          description: List of registrations
      security:
      - apiKeyAuth: []
      - cookieAuth: []
      summary: List the registrations for a list
      tags:
      - list
      x-accepts: application/json
components:
  parameters:
    response_type:
      description: The response type
      explode: true
      in: query
      name: response_type
      required: false
      schema:
        type: string
      style: form
    client_id:
      description: The client id (the app guid)
      explode: true
      in: query
      name: client_id
      required: false
      schema:
        type: string
      style: form
    state:
      description: |
        The [state](https://datacadamia.com/iam/oauth/state) is a opaque value with the initial navigational state of the user.
        The state is mandatory because its encoded value permits to validate the callback
        and therefore to avoid a CSRF.
      explode: true
      in: query
      name: state
      required: false
      schema:
        type: string
      style: form
    realm_identifier:
      description: |
        The realm identifier (a realm guid or handle)
      explode: true
      in: query
      name: realm_identifier
      required: true
      schema:
        type: string
      style: form
    redirect_uri:
      description: The redirect uri (known also as callback endpoint)
      explode: true
      in: query
      name: redirect_uri
      required: true
      schema:
        example: https://client.example.com/callback
        type: string
      style: form
  requestBodies:
    LoginPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PasswordCredentials'
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/PasswordCredentials'
      description: The data needed to log a user in by password credentials
      required: true
    LoginEmailPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EmailIdentifier'
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/EmailIdentifier'
      description: The data needed to log a user in by email
      required: true
    AuthEmailPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AuthEmailPost'
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/AuthEmailPost'
      description: The data needed to register a user
      required: true
    PasswordOnlyPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PasswordOnly'
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/PasswordOnly'
      description: Password update body
      required: true
    EmailPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EmailIdentifier'
      description: A json object with only a email
      required: true
    ListRegistrationPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListRegistrationPostBody'
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/ListRegistrationPostBody'
      description: The data needed to register a user to a list
      required: true
    CspViolationReportBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CspObject'
      description: The body of a CSP Violation Report
      required: true
    RealmPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RealmPostBody'
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/RealmPostBody'
      description: The data needed to create a realm
      required: true
    CampaignEmailPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CampaignEmailPostBody'
      description: The data needed to create an email campaign
      required: true
    ServiceSmtpPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ServiceSmtpPostBody'
      description: The data needed to create a smtp mail service
      required: true
    AppPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppPostBody'
      description: The data needed to create / modify a app
      required: true
    UserPostBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UserPostBody'
      description: The data needed to create / modify a user
      required: true
    ListBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListBody'
        multipart/form-data:
          schema:
            $ref: '#/components/schemas/ListBody'
      description: The data needed to create or update a list
      required: true
  schemas:
    ListImportPostResponse:
      description: |
        The succesful response to the submission of a import job for a list
      example:
        jobIdentifier: xmmmN
      properties:
        jobIdentifier:
          description: The job id
          example: xmmmN
          type: string
      type: object
    ListImportJobRowStatus:
      description: |
        This object represents the status of a row in a import job for a list.
      example:
        emailAddress: emailAddress
        statusMessage: statusMessage
        statusCode: 0
      properties:
        emailAddress:
          description: The email to import
          type: string
        statusCode:
          description: "The status code: 0: done, 1: fatal error, 2: invalid email"
          enum:
          - 0
          - 1
          - 2
          format: int32
          type: integer
          x-enum-descriptions:
          - Success
          - Error
          - Invalid Email
          x-enum-varnames:
          - Success
          - Error
          - InvalidEmail
        statusMessage:
          description: A message
          type: string
      type: object
    ListImportJobStatus:
      description: |
        This object represents the status of a job that imports users for a list.
      example:
        jobId: xmmmN
        uploadedFileName: uploadedFileName
        creationTime: 2000-01-23T04:56:07.000+00:00
        countExists: 5
        countTotal: 6
        countFailure: 5
        startTime: 2000-01-23T04:56:07.000+00:00
        endTime: 2000-01-23T04:56:07.000+00:00
        countInvalidEmail: 2
        statusMessage: statusMessage
        statusCode: 0
        countSuccess: 1
      properties:
        jobId:
          description: The job id
          example: xmmmN
          type: string
        statusCode:
          description: "The status code: -2: queued, -1: processing, 0: done, 1: fatal\
            \ error, 2: quota reached"
          type: integer
        statusMessage:
          description: A description of any fatal error if any
          type: string
        uploadedFileName:
          description: The original file name
          type: string
        countTotal:
          description: The number of rows processed
          type: integer
        countSuccess:
          description: The number of rows processed with success.
          type: integer
        countFailure:
          description: The number of rows with failures.
          type: integer
        countExists:
          description: The number of rows that already exists in the list and were
            not processed.
          type: integer
        countInvalidEmail:
          description: The number of rows that have an invalid email.
          type: integer
        creationTime:
          format: date-time
          type: string
        startTime:
          format: date-time
          type: string
        endTime:
          format: date-time
          type: string
      required:
      - jobId
      type: object
    AuthEmailPost:
      description: "A auth post object based on email to register, get a magic link,\
        \ ..."
      example:
        redirectUri: redirectUri
        userEmail: userEmail
        realmIdentifier: realmIdentifier
      properties:
        userEmail:
          description: An email
          type: string
        realmIdentifier:
          description: The realm identifier (guid or handle)
          type: string
        redirectUri:
          description: The uri where to redirect the user after successful registration
          type: string
      required:
      - realmIdentifier
      - redirectUri
      - userEmail
      type: object
    PasswordOnly:
      description: To update a password
      example:
        password: password
      properties:
        password:
          description: A password
          type: string
      required:
      - password
      title: To update a password
      type: object
    OAuthAccessTokenResponse:
      description: The access token response
      properties:
        access_token:
          description: The access token string as issued by the authorization server
            (required)
          type: string
        token_type:
          description: The type of token (ie how the token should be passed) (required)
          example: bearer
          type: string
        scope:
          description: The scopes separated by a comma (Optional)
          example: repo gist openid profile email
          type: string
        expires_in:
          description: "The duration of time the access token is granted for, if the\
            \ access token expires (Optional)"
          type: string
        refresh_token:
          description: "A refresh token to obtain another access token (if the access\
            \ token expired), (Optional)"
          type: string
      required:
      - access_token
      - token_type
      title: The access token response
      type: object
    EmailIdentifier:
      description: An object that identifies an user by its email and realm
      example:
        userEmail: userEmail
        realmIdentifier: realmIdentifier
      properties:
        userEmail:
          description: An email
          type: string
        realmIdentifier:
          description: The realm identifier (guid or handle)
          type: string
      required:
      - realmIdentifier
      - userEmail
      type: object
    ListRegistrationPostBody:
      description: |
        The data needed to register a user to a list
        Note that a user email or a user id is required
        (OpenAPI cannot describe that in a elegant way)
        a user email or id is mandatory
        a list id or guid is mandatory
      example:
        redirectUri: https://example.com/page
        listGuid: listGuid
        subscriberEmail: john@doe.com
      properties:
        subscriberEmail:
          description: The email of the user that want to subscribe
          example: john@doe.com
          format: email
          type: string
        listGuid:
          description: The public list id where the user should be registered
          type: string
        redirectUri:
          description: where to redirect the user
          example: https://example.com/page
          format: uri
          type: string
      required:
      - listGuid
      - redirectUri
      - subscriberEmail
      title: Registration Request to a list
      type: object
    AnalyticsEventPost:
      additionalProperties: true
      description: The structure of the received data
      type: object
    AnalyticsEvent:
      description: |
        The event. They are the things that happen in our product.

        We follow a mix of
        * the <a href="https://segment.com/docs/connections/spec/common/">Segment Spec</a>
        * the <a href="https://segment.com/docs/connections/spec/common/">MixPanel Spec</a>

        The segment spec separates the event property from the context as we do.
      example:
        creationTime: 2000-01-23T04:56:07.000+00:00
        name: name
        context:
          os:
            name: name
            arch: arch
            version: version
          timezone: timezone
          ip: 143.176.206.76
          browser:
            referrer: https://openapi-generator.tech
            uri: https://openapi-generator.tech
          channel: null
          userAgent: userAgent
          locale: locale
          utm:
            referrer: https://openapi-generator.tech
            campaign: spring_sale
            term: term
            id: "summer-sale, abc.123"
            source: summer-mailer
            medium: email
            content: content
        id: id
        receptionTime: 2000-01-23T04:56:07.000+00:00
        deviceId: deviceId
        user:
          creationTime: 2000-01-23T04:56:07.000+00:00
          givenName: givenName
          id: id
          avatar: https://openapi-generator.tech
          email: email
        properties:
          key: "{}"
        sendingTime: 2000-01-23T04:56:07.000+00:00
      properties:
        id:
          description: |
            A unique identifier for each event.

            It allows to delete duplicate.

            It's known for:
            * segment as messageId
            * mixpanel as $insert_id
          type: string
        name:
          description: the event name
          type: string
        properties:
          additionalProperties:
            type: object
          description: The additional event properties
          type: object
        deviceId:
          description: |
            The device id (a uuid4 or a fingerprint for instance)

            It's also known as the user anonymous id because this is the user identifier
            when the user is unknown.

            When you send a message, a userId or a deviceId is required in order to identify a user.

            We prefer the term device id (mixpanel) over anonymous id (segment) because it's
            more meaningful. We track the device.

            It's created on the client side and stored by the client more permanently
            (via a cookie for the browser and stored in local storage for durability).

            It's not the same as a session id because:
            * a session id may be regenerated (when the user sign in for instance).
            * the device id does not have any security feature. You can't login
          type: string
        user:
          $ref: '#/components/schemas/AnalyticsUser'
        context:
          $ref: '#/components/schemas/AnalyticsEventContext'
        receptionTime:
          description: The timestamp of when a message was received (if created and
            send by a client)
          format: date-time
          type: string
        sendingTime:
          description: |
            The timestamp of when a message was sent to the analytics endpoint api
            Time: With Ga, you cannot set the time, It uses the notion of queue
            https://developers.google.com/analytics/devguides/collection/protocol/v1/parameters#qt
          format: date-time
          type: string
        creationTime:
          description: The timestamp when the object was created
          format: date-time
          type: string
      type: object
    AnalyticsUser:
      description: The user
      example:
        creationTime: 2000-01-23T04:56:07.000+00:00
        givenName: givenName
        id: id
        avatar: https://openapi-generator.tech
        email: email
      properties:
        id:
          description: A unique identifier
          type: string
        givenName:
          description: the user given name
          type: string
        email:
          description: the user email
          type: string
        avatar:
          description: the user avatar
          format: uri
          type: string
        creationTime:
          description: The timestamp when the user was created
          format: date-time
          type: string
      type: object
    AnalyticsEventContext:
      description: |
        The event context
        A dictionary of extra information that provides useful context about a event
        We follow https://segment.com/docs/connections/spec/common/#context
      example:
        os:
          name: name
          arch: arch
          version: version
        timezone: timezone
        ip: 143.176.206.76
        browser:
          referrer: https://openapi-generator.tech
          uri: https://openapi-generator.tech
        channel: null
        userAgent: userAgent
        locale: locale
        utm:
          referrer: https://openapi-generator.tech
          campaign: spring_sale
          term: term
          id: "summer-sale, abc.123"
          source: summer-mailer
          medium: email
          content: content
      properties:
        timezone:
          description: the timezone id (ie Europe/London)
          type: string
        locale:
          description: "the locale (in a browser, this is the language setting)"
          type: string
        ip:
          description: The ip (the remote client ip)
          example: 143.176.206.76
          type: string
        userAgent:
          description: The user agent string
          type: string
        channel:
          $ref: '#/components/schemas/AnalyticsEventChannel'
        os:
          $ref: '#/components/schemas/AnalyticsOperatingSystem'
        utm:
          $ref: '#/components/schemas/AnalyticsUrchinTrackingModule'
        browser:
          $ref: '#/components/schemas/AnalyticsBrowser'
      type: object
    AnalyticsEventChannel:
      description: "where the request originated from server, browser or mobile"
      enum:
      - server
      - browser
      - mobile
      type: string
    AnalyticsOperatingSystem:
      description: The os data
      example:
        name: name
        arch: arch
        version: version
      properties:
        name:
          description: the name
          type: string
        version:
          description: the version
          type: string
        arch:
          description: the architecture
          type: string
      type: object
    AnalyticsUrchinTrackingModule:
      description: |
        The UTM data
        See:
        * <a href="https://datacadamia.com/marketing/analytics/utm">UTM</a>
        * <a href="https://ga-dev-tools.google/campaign-url-builder/">UTM builder</a>
        * <a href="https://support.google.com/analytics/answer/10917952">[GA4] URL builders: Collect campaign data with custom URLs</a>
      example:
        referrer: https://openapi-generator.tech
        campaign: spring_sale
        term: term
        id: "summer-sale, abc.123"
        source: summer-mailer
        medium: email
        content: content
      properties:
        id:
          description: |
            The Campaign ID is used to identify a specific ad campaign or promotion
            This is a required key for GA4 data import.
          example: "summer-sale, abc.123"
          type: string
        campaign:
          description: "Product, slogan, promo code"
          example: spring_sale
          type: string
        source:
          description: |
            Referrer.
            Identifies which site sent the traffic, and is a required parameter
            Example: the referrer (e.g. google, newsletter)
          example: summer-mailer
          type: string
        medium:
          description: |
            Marketing medium (e.g. cpc, banner, email)
            Identifies what type of link was used, such as cost per click or email.
          example: email
          type: string
        term:
          description: |
            Identifies search terms, the paid keywords
          type: string
        content:
          description: |
            Identifies what specifically was clicked to bring the user to the site,
            such as a banner ad or a text link.
            It is often used for A/B testing and content-targeted ads
          type: string
        referrer:
          description: |
            Identifies the referrer URL as it's not passed by default by browser HTTP request
            and therefore not available in the `document.referrer` attribute
            Google Analytics will use "utm_referrer" over "document.referrer" set in AnalyticsBrowser
            utm_source is also a referer but in a named format
          format: uri
          type: string
      type: object
    AnalyticsBrowser:
      description: Track browser specific information
      example:
        referrer: https://openapi-generator.tech
        uri: https://openapi-generator.tech
      properties:
        uri:
          description: the address uri in the browser
          format: uri
          type: string
        referrer:
          description: |
            The `document.referrer`
            Note that Google Analytics will use "utm_referrer" over "document.referrer"
            if set as document.referrer is only the domain/authority part
          format: uri
          type: string
      type: object
    CspObject:
      description: A CSP violation report object
      example:
        csp-report:
          referrer: referrer
          document-uri: document-uri
          blocked-uri: blocked-uri
      properties:
        csp-report:
          $ref: '#/components/schemas/CspReport'
      required:
      - csp-report
      title: The csp object
      type: object
    CspReport:
      additionalProperties:
        type: string
      description: the csp report
      example:
        referrer: referrer
        document-uri: document-uri
        blocked-uri: blocked-uri
      properties:
        document-uri:
          description: The result of executing Strip URL for use in reports on violation’s
            url.
          type: string
        referrer:
          description: The result of executing Strip URL for use in reports on violation’s
            referrer.
          type: string
        blocked-uri:
          description: The result of executing Strip URL for use in reports on violation’s
            referrer.
          type: string
      type: object
    User:
      description: A user
      example:
        disabledReason: disabledReason
        website: https://mywebsite
        creationTime: 2000-01-23T04:56:07.000+00:00
        givenName: John
        fullName: John Doe
        bio: bio
        handle: foo
        avatar: https://en.gravatar.com/userimage/john.doe.png
        title: Chief Executive Officer
        localId: 1
        modificationTime: 2000-01-23T04:56:07.000+00:00
        guid: xmmmN
        disabled: true
        location: The world
        realm:
          defaultApp: ""
          ownerUser: null
          organization:
            name: name
            guid: org-xmmmN
            localId: 1
          name: name
          guid: guid
          handle: handle
          localId: 0
        email: john@doe.com
      properties:
        guid:
          description: |
            It is the global identifier
            * a string representation of realm id + user local id
            * never changes.
            It's the public id that:
            * you can see in the url
            * send to external application such as Analytics SAAS provider.

            The database id (ie realm id + user local id) is not public.
          example: xmmmN
          type: string
        localId:
          description: |
            The user id in the realm in the database (ie local to the realm)

            We have called it local to avoid to really indicate
            that is not the true id.

            You can't check with this id if this is the same user
            as this is the id inside the realm, there is other id
            with the same value in another realm.
          example: 1
          format: int64
          type: integer
          x-field-extra-annotation: "@com.fasterxml.jackson.annotation.JsonAlias({\"\
            id\"})"
        handle:
          description: The handle of the user
          example: foo
          type: string
        email:
          description: The email of the user
          example: john@doe.com
          format: email
          type: string
        givenName:
          description: "The short and informal name of the user (used in signature,\
            \ known also as the given, calling or first name)"
          example: John
          type: string
          x-field-extra-annotation: "@com.fasterxml.jackson.annotation.JsonAlias({\"\
            name\"})"
        fullName:
          description: The long and formal name of the user (used in address)
          example: John Doe
          type: string
          x-field-extra-annotation: "@com.fasterxml.jackson.annotation.JsonAlias({\"\
            fullname\"})"
        title:
          description: The title of the user (a short user description such as a role
            used in signature)
          example: Chief Executive Officer
          type: string
        disabled:
          description: Soft deleted
          type: boolean
        disabledReason:
          description: The reason of the soft delete
          type: string
        avatar:
          description: The avatar image of the user
          example: https://en.gravatar.com/userimage/john.doe.png
          format: uri
          type: string
        bio:
          description: A description for the user
          type: string
        website:
          description: A link to a user website
          example: https://mywebsite
          format: uri
          type: string
        location:
          description: The location of the user
          example: The world
          type: string
        creationTime:
          description: The creation time of the user
          format: date-time
          type: string
        modificationTime:
          description: The last modification time of the user
          format: date-time
          type: string
        realm:
          $ref: '#/components/schemas/Realm'
      title: A user
      type: object
      x-class-extra-annotation: "@com.fasterxml.jackson.annotation.JsonIdentityInfo(\
        \ generator = com.fasterxml.jackson.annotation.ObjectIdGenerators.PropertyGenerator.class,\
        \ property = \"guid\", scope = User.class)"
      x-fields-identity:
      - guid
      x-fields-to-string:
      - guid
      - email
      - handle
      x-parent: true
    Realm:
      description: |
        A realm.

        It identifies a protection space where the user and their credentials
        are stored.

        * In a marketing level, it represents a brand. When people log in, they see the realm logo.
        * In a web/dns level, it would be a domain name (and apps would be subdomain)
        * In a security level, this is the authentication realm.
        * In an infrastructure level, this is called a tenant.
      example:
        defaultApp: ""
        ownerUser: null
        organization:
          name: name
          guid: org-xmmmN
          localId: 1
        name: name
        guid: guid
        handle: handle
        localId: 0
      properties:
        localId:
          description: The realm id in the database
          format: int64
          type: integer
        guid:
          description: |
            The public id
            (derived from the database id)
          format: int64
          type: string
        name:
          description: A shor description of the realm
          type: string
        organization:
          $ref: '#/components/schemas/Organization'
        ownerUser:
          $ref: '#/components/schemas/User'
        handle:
          description: |
            The handle is a name unique identifier.
            It's used as:
              - basic authentication: "WWW-Authenticate: Basic realm="WallyWorld"
              - database schema, dns name
          type: string
        defaultApp:
          allOf:
          - $ref: '#/components/schemas/App'
          description: The default application of the realm
      required:
      - guid
      - handle
      type: object
      x-class-extra-annotation: "@com.fasterxml.jackson.annotation.JsonIdentityInfo(\
        \ generator = com.fasterxml.jackson.annotation.ObjectIdGenerators.PropertyGenerator.class,\
        \ property = \"guid\", scope = Realm.class)"
      x-parent: true
    Organization:
      description: |
        Organization for the users using the Combostrap product
        (Not from the user of other Realm)
      example:
        name: name
        guid: org-xmmmN
        localId: 1
      properties:
        guid:
          description: The string representation of the organization id
          example: org-xmmmN
          type: string
        localId:
          description: The organization id in the database
          example: 1
          format: int64
          type: integer
          x-field-extra-annotation: "@com.fasterxml.jackson.annotation.JsonAlias({\"\
            id\"})"
        name:
          description: Organization name
          type: string
      type: object
    App:
      description: "An app is the container for branding elements (such as logo, color)"
      example:
        terms: https://openapi-generator.tech
        name: Doe
        primaryColor: '#3498db'
        guid: xmmmN
        logo: https://doe.com/_media/android-chrome-192x192.png
        handle: "[\"doe.com\",\"doe.com/doc\"]"
        realm:
          defaultApp: ""
          ownerUser: null
          organization:
            name: name
            guid: org-xmmmN
            localId: 1
          name: name
          guid: guid
          handle: handle
          localId: 0
        localId: 1
        slogan: "Doe, Be You"
        user:
          disabledReason: disabledReason
          website: https://mywebsite
          creationTime: 2000-01-23T04:56:07.000+00:00
          givenName: John
          fullName: John Doe
          bio: bio
          handle: foo
          avatar: https://en.gravatar.com/userimage/john.doe.png
          title: Chief Executive Officer
          localId: 1
          modificationTime: 2000-01-23T04:56:07.000+00:00
          guid: xmmmN
          disabled: true
          location: The world
          realm:
            defaultApp: ""
            ownerUser: null
            organization:
              name: name
              guid: org-xmmmN
              localId: 1
            name: name
            guid: guid
            handle: handle
            localId: 0
          email: john@doe.com
        home: https://doe.com
      properties:
        localId:
          description: "The app identifier in the realm (without the realm, the id\
            \ may have duplicate)"
          example: 1
          format: int64
          type: integer
        guid:
          description: The global app id (realm id + local app id)
          example: xmmmN
          type: string
        handle:
          description: |
            The handle of the app.
            The handle is unique for all apps on the realm.
            For instance, you may choose an authentication uri without the scheme (ie no parameters and anchor)
          example: "[\"doe.com\",\"doe.com/doc\"]"
          type: string
          x-field-extra-annotation: "@com.fasterxml.jackson.annotation.JsonAlias({\"\
            uri\"})"
        name:
          description: The name of the app
          example: Doe
          type: string
        home:
          description: The home url
          example: https://doe.com
          format: uri
          type: string
        slogan:
          description: The slogan of the app
          example: "Doe, Be You"
          type: string
        logo:
          description: The uri of the app logo
          example: https://doe.com/_media/android-chrome-192x192.png
          format: uri
          type: string
        primaryColor:
          description: The css primary color of the theme (rgb in hexadecimal)
          example: '#3498db'
          type: string
        user:
          $ref: '#/components/schemas/User'
        realm:
          $ref: '#/components/schemas/Realm'
        terms:
          description: The location of the terms and conditions document
          format: uri
          type: string
      title: An app
      type: object
      x-class-extra-annotation: "@com.fasterxml.jackson.annotation.JsonIdentityInfo(\
        \ generator = com.fasterxml.jackson.annotation.ObjectIdGenerators.PropertyGenerator.class,\
        \ property = \"guid\", scope = App.class)"
      x-fields-identity:
      - guid
      x-fields-to-string:
      - guid
      - handle
      x-parent: true
    RealmAnalytics:
      allOf:
      - $ref: '#/components/schemas/Realm'
      - properties:
          userCount:
            description: The number of users for the realm
            type: integer
          appCount:
            description: The number of apps for the realm
            type: integer
          listCount:
            description: The number of lists for the realm
            type: integer
          subscriberCount:
            description: The number of subscribers for the realm
            type: integer
        type: object
      description: "Realm Analytics (count, ...)"
    RealmPostBody:
      description: Realm creation
      example:
        name: name
        handle: example
      properties:
        name:
          description: A name
          type: string
        handle:
          description: A handle (follow the same constraint that domain name)
          example: example
          type: string
      required:
      - name
      type: object
    RealmWithAppUris:
      description: |
        A realm with the app Uri that it supports
      example:
        name: name
        guid: guid
        app_uris:
        - https://openapi-generator.tech
        - https://openapi-generator.tech
        handle: handle
      properties:
        guid:
          description: The public id
          format: int64
          type: string
        name:
          description: A name
          type: string
        handle:
          description: the handle
          type: string
        app_uris:
          items:
            description: a app uri
            format: uri
            type: string
          type: array
      type: object
    Service:
      description: |
        Service
      example:
        data: "{}"
        guid: xmllKD23
        realm:
          defaultApp: ""
          ownerUser: null
          organization:
            name: name
            guid: org-xmmmN
            localId: 1
          name: name
          guid: guid
          handle: handle
          localId: 0
        id: 1
        type: smtp
        uri: smtp://user@host:port or user@twitter
        impersonatedUser:
          disabledReason: disabledReason
          website: https://mywebsite
          creationTime: 2000-01-23T04:56:07.000+00:00
          givenName: John
          fullName: John Doe
          bio: bio
          handle: foo
          avatar: https://en.gravatar.com/userimage/john.doe.png
          title: Chief Executive Officer
          localId: 1
          modificationTime: 2000-01-23T04:56:07.000+00:00
          guid: xmmmN
          disabled: true
          location: The world
          realm:
            defaultApp: ""
            ownerUser: null
            organization:
              name: name
              guid: org-xmmmN
              localId: 1
            name: name
            guid: guid
            handle: handle
            localId: 0
          email: john@doe.com
      properties:
        id:
          description: The service id in the realm
          example: 1
          format: int64
          type: integer
        guid:
          description: "The service global id, if you want to update the uri identifier"
          example: xmllKD23
          type: string
        uri:
          description: An unique identifier (uri like) for the service
          example: smtp://user@host:port or user@twitter
          type: string
        type:
          description: |
            The type of the service (smtp, ...) that define the data type
          example: smtp
          type: string
        data:
          description: The configuration for the service
          type: object
        impersonatedUser:
          $ref: '#/components/schemas/User'
        realm:
          $ref: '#/components/schemas/Realm'
      required:
      - guid
      type: object
    CampaignEmailPostBody:
      description: |
        Email Campaign creation and/or modification
      example:
        campaignHandle: 202201-fresh-start
        listGuid: listGuid
        campaignGuid: xmllKD23
        emailSubject: emailSubject
      properties:
        campaignGuid:
          description: "The service global id, if you want to update the identifier"
          example: xmllKD23
          type: string
        campaignHandle:
          description: The campaign handle (unique code)
          example: 202201-fresh-start
          type: string
        emailSubject:
          description: The email subject
          type: string
        listGuid:
          description: The list audience (the valid subscribers to the list)
          type: string
      type: object
    Campaign:
      description: |
        Service
      example:
        data: "{}"
        name: name
        guid: xmllKD23
        type: email
        localId: 1
      properties:
        localId:
          description: The campaign id
          example: 1
          format: int64
          type: integer
          x-field-extra-annotation: "@com.fasterxml.jackson.annotation.JsonAlias({\"\
            id\"})"
        guid:
          description: The campaign id
          example: xmllKD23
          type: string
        name:
          description: The name of the campaign
          type: string
        type:
          description: "The type of the campaign (smtp, ...) that define the data\
            \ type"
          example: email
          type: string
        data:
          description: The configuration for the campaign
          type: object
      required:
      - guid
      type: object
    ServiceSmtpPostBody:
      description: |
        Smtp Mail Service creation and/or modification

        * For the service, for an upsert, you may give the service Guid or the service Uri
        * For the impersonated user, you may give an email or its guid
      example:
        impersonatedUserEmail: john@doe.com
        smtpHost: mail.example.com
        smtpStartTls: required
        serviceUri: smtp://localhost
        smtpUserName: john
        serviceGuid: xmllKD23
        impersonatedUserGuid: xmllYYYY
        smtpPort: 587
        smtpPassword: secret
        realmIdentifier: realmIdentifier
      properties:
        serviceGuid:
          description: "The service global id, if you want to update the identifier"
          example: xmllKD23
          type: string
        serviceUri:
          description: The service uri
          example: smtp://localhost
          type: string
        realmIdentifier:
          description: A realm identifier (Guid or handle)
          type: string
        impersonatedUserEmail:
          description: |
            The user email for cold email, Null for system/app service
          example: john@doe.com
          type: string
        impersonatedUserGuid:
          description: |
            The user guid for cold email, Null for system/app service
          example: xmllYYYY
          type: string
        smtpHost:
          description: The smtp server hostname
          example: mail.example.com
          format: hostname
          type: string
        smtpPort:
          description: The smtp server port
          example: 587
          type: integer
        smtpStartTls:
          description: "SSL Secure connection (one of required, optional, disable)"
          example: required
          type: string
        smtpUserName:
          description: Login Username
          example: john
          type: string
        smtpPassword:
          description: Login Password
          example: secret
          type: string
      type: object
    AppPostBody:
      description: |
        App creation, modification
        If:
          * the guid is defined, it will be used to update the existing app.
          * not, the uri is used instead.
        The user (guid or email) is mandatory (the public face of the app)
        The realm (guid or handle) is also mandatory
      example:
        appPrimaryColor: '#3498db'
        appLogo: https://doe.com/_media/android-chrome-192x192.png
        appName: Doe
        appHome: https://doe.com
        userEmail: john@doe.com
        userGuid: xLOKKMmm
        appSlogan: "Doe, be you"
        appTerms: https://doe.com/terms
        appGuid: appGuid
        appUri: doe.com/doc
        realmIdentifier: realmIdentifier
      properties:
        appGuid:
          description: The guid of an existing app (to update the uri if necessary)
          type: string
        appUri:
          description: An unique uri name of the app
          example: doe.com/doc
          type: string
        realmIdentifier:
          description: the realm identifier (Guid or handle)
          type: string
        userGuid:
          description: The guid of the public app user
          example: xLOKKMmm
          type: string
        userEmail:
          description: The email of the public app user
          example: john@doe.com
          format: email
          type: string
        appName:
          description: A shortname
          example: Doe
          type: string
        appSlogan:
          description: The app slogan
          example: "Doe, be you"
          type: string
        appHome:
          description: The url of the app
          example: https://doe.com
          format: uri
          type: string
        appLogo:
          description: The uri of a logo
          example: https://doe.com/_media/android-chrome-192x192.png
          format: uri
          type: string
        appPrimaryColor:
          description: The css primary color of the theme (rgb in hexadecimal)
          example: '#3498db'
          type: string
        appTerms:
          description: The url of the terms and conditions document
          example: https://doe.com/terms
          format: uri
          type: string
      type: object
    UserPostBody:
      description: |
        A user.
        If the guid is given, it's used to identify the user
        otherwise, it's the email
      example:
        userTitle: Chief Officer
        userAvatar: https://en.gravatar.com/userimage/john.doe.png
        userFullname: John Doe
        userEmail: john@doe.com
        userGuid: xmmmN
        userName: John
        realmIdentifier: realmIdentifier
      properties:
        userGuid:
          description: The global/string user id
          example: xmmmN
          type: string
        realmIdentifier:
          description: A realm identifier (Guid or handle)
          type: string
        userEmail:
          description: The email of the user
          example: john@doe.com
          format: email
          type: string
        userName:
          description: The short and informal name of the user (used in signature)
          example: John
          type: string
        userFullname:
          description: The long and formal name of the user (used in address)
          example: John Doe
          type: string
        userTitle:
          description: The title of the user (A short description)
          example: Chief Officer
          type: string
        userAvatar:
          description: An image avatar of a user
          example: https://en.gravatar.com/userimage/john.doe.png
          format: uri
          type: string
      title: A post to modify a user
      type: object
    OrganizationUser:
      allOf:
      - $ref: '#/components/schemas/User'
      - properties:
          organization:
            $ref: '#/components/schemas/Organization'
        type: object
      description: |
        A user in the organization
        They are the users of the Eraldy realm that own Realms
      type: object
      x-class-extra-annotation: "@com.fasterxml.jackson.annotation.JsonIdentityInfo(\
        \ generator = com.fasterxml.jackson.annotation.ObjectIdGenerators.PropertyGenerator.class,\
        \ property = \"guid\", scope = User.class)"
    JsonObject:
      additionalProperties: true
      description: A Json object
      type: object
    ListItem:
      description: |
        A list where a user can register.

        ListItem and not List because list is a language reserved word (for openapi generator and will create a ModelList class)
      example:
        ownerUser:
          disabledReason: disabledReason
          website: https://mywebsite
          creationTime: 2000-01-23T04:56:07.000+00:00
          givenName: John
          fullName: John Doe
          bio: bio
          handle: foo
          avatar: https://en.gravatar.com/userimage/john.doe.png
          title: Chief Executive Officer
          localId: 1
          modificationTime: 2000-01-23T04:56:07.000+00:00
          guid: xmmmN
          disabled: true
          location: The world
          realm:
            defaultApp: ""
            ownerUser: null
            organization:
              name: name
              guid: org-xmmmN
              localId: 1
            name: name
            guid: guid
            handle: handle
            localId: 0
          email: john@doe.com
        name: Mailing list
        guid: xmmmN
        description: The last news ....
        handle: newsletter
        realm:
          defaultApp: ""
          ownerUser: null
          organization:
            name: name
            guid: org-xmmmN
            localId: 1
          name: name
          guid: guid
          handle: handle
          localId: 0
        title: The top Newsletters
        localId: 1
        registrationUrl: https://openapi-generator.tech
        ownerApp:
          terms: https://openapi-generator.tech
          name: Doe
          primaryColor: '#3498db'
          guid: xmmmN
          logo: https://doe.com/_media/android-chrome-192x192.png
          handle: "[\"doe.com\",\"doe.com/doc\"]"
          realm:
            defaultApp: ""
            ownerUser: null
            organization:
              name: name
              guid: org-xmmmN
              localId: 1
            name: name
            guid: guid
            handle: handle
            localId: 0
          localId: 1
          slogan: "Doe, Be You"
          user:
            disabledReason: disabledReason
            website: https://mywebsite
            creationTime: 2000-01-23T04:56:07.000+00:00
            givenName: John
            fullName: John Doe
            bio: bio
            handle: foo
            avatar: https://en.gravatar.com/userimage/john.doe.png
            title: Chief Executive Officer
            localId: 1
            modificationTime: 2000-01-23T04:56:07.000+00:00
            guid: xmmmN
            disabled: true
            location: The world
            realm:
              defaultApp: ""
              ownerUser: null
              organization:
                name: name
                guid: org-xmmmN
                localId: 1
              name: name
              guid: guid
              handle: handle
              localId: 0
            email: john@doe.com
          home: https://doe.com
      properties:
        localId:
          description: "The list identifier in the realm scope. Without the realm,\
            \ this id have duplicate."
          example: 1
          format: int64
          type: integer
        guid:
          description: The global list id where the user can register
          example: xmmmN
          type: string
        handle:
          description: A handle (unique code) for the list
          example: newsletter
          type: string
        name:
          description: The name of the list
          example: Mailing list
          type: string
        title:
          description: The title of the list used in heading
          example: The top Newsletters
          type: string
        description:
          description: The description of the list
          example: The last news ....
          type: string
        ownerUser:
          $ref: '#/components/schemas/User'
        ownerApp:
          $ref: '#/components/schemas/App'
        realm:
          $ref: '#/components/schemas/Realm'
        registrationUrl:
          description: The public page where to register for this list
          format: uri
          type: string
      title: A list of users known also as audience
      type: object
      x-fields-identity:
      - guid
      x-fields-to-string:
      - guid
      - handle
    ListBody:
      description: |
        List creation and update

        If the communication channel should be personal, the publisher (guid / email) can be given.
      example:
        listTitle: The top Newsletters
        ownerUserIdentifier: "[\"john@doe.com\",\"usr-xklls\"]"
        listHandle: Newsletter
        ownerAppIdentifier: "[\"doe.com\",\"app-xkllsd\"]"
        listName: Newsletters
        listDescription: The last news ....
      properties:
        listHandle:
          description: A unique name / code for the list
          example: Newsletter
          type: string
        listName:
          description: The name of the list used in listing
          example: Newsletters
          type: string
        listTitle:
          description: The title of the list used in heading/title
          example: The top Newsletters
          type: string
        listDescription:
          description: The description of the list
          example: The last news ....
          type: string
        ownerAppIdentifier:
          description: A owner app identifier (handle or guid)
          example: "[\"doe.com\",\"app-xkllsd\"]"
          type: string
        ownerUserIdentifier:
          description: "if the communication channel is personal and not transactional,\
            \ a user identifier (email or guid) of the publisher"
          example: "[\"john@doe.com\",\"usr-xklls\"]"
          type: string
      required:
      - listHandle
      type: object
      x-fields-to-string:
      - listHandle
      x-fields-identity:
      - listHandle
    ListSummary:
      description: A list summary
      example:
        subscriberCount: 0
        guid: xmmmN
        handle: handle
        appUri: appUri
      properties:
        guid:
          description: The public list id
          example: xmmmN
          type: string
        handle:
          description: The handle of the list
          type: string
        appUri:
          description: The app uri
          type: string
        subscriberCount:
          description: The number of subscribers
          type: integer
      title: A list summary
      type: object
    ListRegistration:
      description: A registration
      example:
        confirmationIp: confirmationIp
        optInUri: https://openapi-generator.tech
        subscriber:
          disabledReason: disabledReason
          website: https://mywebsite
          creationTime: 2000-01-23T04:56:07.000+00:00
          givenName: John
          fullName: John Doe
          bio: bio
          handle: foo
          avatar: https://en.gravatar.com/userimage/john.doe.png
          title: Chief Executive Officer
          localId: 1
          modificationTime: 2000-01-23T04:56:07.000+00:00
          guid: xmmmN
          disabled: true
          location: The world
          realm:
            defaultApp: ""
            ownerUser: null
            organization:
              name: name
              guid: org-xmmmN
              localId: 1
            name: name
            guid: guid
            handle: handle
            localId: 0
          email: john@doe.com
        optInIp: optInIp
        guid: xmmmN
        confirmationTime: confirmationTime
        list:
          ownerUser:
            disabledReason: disabledReason
            website: https://mywebsite
            creationTime: 2000-01-23T04:56:07.000+00:00
            givenName: John
            fullName: John Doe
            bio: bio
            handle: foo
            avatar: https://en.gravatar.com/userimage/john.doe.png
            title: Chief Executive Officer
            localId: 1
            modificationTime: 2000-01-23T04:56:07.000+00:00
            guid: xmmmN
            disabled: true
            location: The world
            realm:
              defaultApp: ""
              ownerUser: null
              organization:
                name: name
                guid: org-xmmmN
                localId: 1
              name: name
              guid: guid
              handle: handle
              localId: 0
            email: john@doe.com
          name: Mailing list
          guid: xmmmN
          description: The last news ....
          handle: newsletter
          realm:
            defaultApp: ""
            ownerUser: null
            organization:
              name: name
              guid: org-xmmmN
              localId: 1
            name: name
            guid: guid
            handle: handle
            localId: 0
          title: The top Newsletters
          localId: 1
          registrationUrl: https://openapi-generator.tech
          ownerApp:
            terms: https://openapi-generator.tech
            name: Doe
            primaryColor: '#3498db'
            guid: xmmmN
            logo: https://doe.com/_media/android-chrome-192x192.png
            handle: "[\"doe.com\",\"doe.com/doc\"]"
            realm:
              defaultApp: ""
              ownerUser: null
              organization:
                name: name
                guid: org-xmmmN
                localId: 1
              name: name
              guid: guid
              handle: handle
              localId: 0
            localId: 1
            slogan: "Doe, Be You"
            user:
              disabledReason: disabledReason
              website: https://mywebsite
              creationTime: 2000-01-23T04:56:07.000+00:00
              givenName: John
              fullName: John Doe
              bio: bio
              handle: foo
              avatar: https://en.gravatar.com/userimage/john.doe.png
              title: Chief Executive Officer
              localId: 1
              modificationTime: 2000-01-23T04:56:07.000+00:00
              guid: xmmmN
              disabled: true
              location: The world
              realm:
                defaultApp: ""
                ownerUser: null
                organization:
                  name: name
                  guid: org-xmmmN
                  localId: 1
                name: name
                guid: guid
                handle: handle
                localId: 0
              email: john@doe.com
[...]
