# https://fly.io/docs/apps/deploy/#deployment-strategy
[deploy]
strategy = "bluegreen"


# https://fly.io/docs/reference/configuration/#services-http_checks
[[services.http_checks]]
interval = 10000
grace_period = "5s"
method = "get"
path = "/health"
protocol = "http"
timeout = 2000
tls_skip_verify = false
