# Doc
# https://certbot.eff.org/lets-encrypt/centosrhel7-other
# with the DNS plugin
#   - https://certbot-dns-ovh.readthedocs.io/en/stable/
#   - https://certbot-dns-cloudflare.readthedocs.io/en/stable/


- name: EPEL
  block:
    - name: 'Package - Add the EPEL repository'
      yum_repository:
        name: epel
        description: EPEL YUM repo
        baseurl: https://dl.fedoraproject.org/pub/epel/$releasever/$basearch/
        gpgcheck: yes
    - name: "Package - Adds the gpg key from the EPEL repo"
      rpm_key:
        state: present
        key: https://dl.fedoraproject.org/pub/epel/RPM-GPG-KEY-EPEL-7

# https://certbot-dns-ovh.readthedocs.io/en/stable/
- name: Install Certbot and the dns plugins
  yum:
    name:
      - certbot
      - python2-certbot-dns-ovh
      - python2-certbot-dns-cloudflare
    state: present
    enablerepo: epel

- name: Create secret directory
  file:
    state: directory
    path: "/root/.secrets/certbot"

# Key from https://eu.api.ovh.com/createToken/
# with the following permissions and only for the server 164.132.99.202
# GET /domain/zone/*
# PUT /domain/zone/*
# POST /domain/zone/*
# DELETE /domain/zone/*
- name: Copy Ovh Key (To manipulate DNS record)
  template:
    src: dns_provider/ovh.ini
    dest: "/root/.secrets/certbot/ovh.ini"
    backup: yes
    mode: 600

# Global key: https://dash.cloudflare.com/profile/api-tokens
# as this is the only one supported
# https://certbot-dns-cloudflare.readthedocs.io/en/stable/#credentials
- name: Copy Cloudflare Key (To manipulate DNS record)
  template:
    src: dns_provider/cloudflare.ini
    dest: "/root/.secrets/certbot/cloudflare.ini"
    backup: yes
    mode: 600

# Create one certificate with the name of the first domain
# that's why bytle.net is the first one
- name: Get the Ovh certificate
  with_items: "{{ovh_domains}}"
  include_tasks: certbot_certonly_ovh.yml
  vars:
    letsencrypt_domain: '{{ item }}'
  tags: certbot-ovh

- name: Get the Cloudflare certificate {{ item.key }}
  with_dict: "{{cloudflare_domains}}"
  include_tasks: certbot_certonly_cloudflare.yml
  vars:
    letsencrypt_domain: '{{ item.value.fqdn }}'
    letsencrypt_dir: '{{ item.value.dir }}'
  tags: certbot-cloudflare

- name: Certbot - Cert Renewal
  import_tasks: certbot_renewal.yml
  tags: certbot-renewal
