# Adapted from https://vertx.io/blog/vert-x-3-init-d-script/
[Unit]
Description={{ backend_app_name }} app
After=network.target

[Service]
Type=simple
User={{ backend_user_name }}
Group={{ backend_user_group }}
WorkingDirectory={{ backend_install_path }}
ExecStart=/bin/java -jar {{ backend_fat_jar_path }} -Dvertx.cacheDirBase={{ backend_cache_dir }}
Restart=on-failure
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target

