# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Release
# Ref: https://raw.githubusercontent.com/jreleaser/helloworld-java-jpackage/refs/heads/main/.github/workflows/release.yml

on:
  # Trigger on button click
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to checkout (vx.x.x or early-access)'
        required: true
        type: string
        default: 'early-access'
  # Trigger on tag push
  push:
    # A tag is commit name (as a branch)
    # We can't filter by default if a branch contains a tag
    tags:
      - 'v*'
      - 'early-access'

# When you create and push a tag, Git might trigger the workflow twice if you have other push triggers (like on branches).
# https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#example-only-cancel-in-progress-jobs-or-runs-for-the-current-workflow
# https://docs.github.com/en/actions/how-tos/deploy/configure-and-manage-deployments/control-deployments#using-concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  # to cancel any currently running job or workflow in the same concurrency group
  cancel-in-progress: true

# Release Token
# https://docs.github.com/en/apps/oauth-apps/building-oauth-apps/scopes-for-oauth-apps#available-scopes
# The release token should have:
#   * repo scope to create a repo (at least public_repo) to create and manage public repositories
#   * workflow to create workflow files
#   * packages to write packages

# GITHUB_TOKEN: Token permission
# https://docs.github.com/en/actions/reference/workflows-and-actions/workflow-syntax#permissions
# We publish to other repo in the same organisation
# permissions control what the GITHUB_TOKEN can do within the repository where the workflow is running.
permissions:
  packages: write # Allow creating package in the same repo
  contents: write # Allow creating/deleting a GitHub release in the same repo

# Constant for entire workflow
env:
  WORKFLOW_ID: release # the workflow name without extension
  # ###########################################
  # Below are all common release workflow env
  # ###########################################
  COMMAND: 'tabul'
  JRELEASER_JPACKAGE_ASSEMBLY_NAME: 'tabulify-installer' # The jpackage assembly name
  JRELEASER_JLINK_ASSEMBLY_NAME: 'tabulify-jre' # The jlink assembly name
  JRELEASER_JAVA_ARCHIVE_ASSEMBLY_NAME: 'tabulify-nojre'
  CLI_PROJECT: 'cli-tabul'
  # PROJECT_NAME and not TABULIFY_NAME to avoid the tabul error: The tabular env OS environment variable (TABULIFY_NAME) is unknown.
  PROJECT_NAME: 'tabulify'
  BUILD_DIRECTORY: 'cli-tabul/target'
  SNAPSHOT_TAG: 'early-access'

jobs:

  # Java Archive/JLink Distributions
  release-assemble-archive:
    uses: ./.github/workflows/release-assemble-archive.yml
    with:
      tag: ${{ github.event_name == 'workflow_dispatch' && inputs.tag || github.ref_name }}

  # Installer/JPackage Distributions
  release-assemble-installer:
    # Does not need it. It is a trick to execute serially
    needs: [ release-assemble-archive ]
    uses: ./.github/workflows/release-assemble-jpackage.yml
    with:
      runner: 'windows-latest'
      tag: ${{ github.event_name == 'workflow_dispatch' && inputs.tag || github.ref_name }}

  # Assemble artifacts except installers
  # Release all generated artifacts
  release:
    runs-on: ubuntu-latest
    needs: [ release-assemble-installer, release-assemble-archive ]
    # setup-java may be in a loop - entire job times out after 15 minutes
    timeout-minutes: 15
    environment: release
    steps:

      # Checkout
      - name: Git Checkout ${{ github.event_name == 'workflow_dispatch' && inputs.tag || github.ref_name }}
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event_name == 'workflow_dispatch' && inputs.tag || github.ref_name }}
          fetch-depth: 0

      # Homebrew is installed but not in the path
      # https://github.com/actions/runner-images/issues/6283
      - name: Homebrew Setup
        run: echo "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH
      - name: Homebrew Utility Installation
        run: brew install yq

      # Extract Props from pom.xml
      - name: Props And Version Check ${{ github.event_name == 'workflow_dispatch' && inputs.tag || github.ref_name }}
        id: props
        shell: bash
        run: |

          set -TCEeuo pipefail

          echo "Ref"
          TAG=${{ github.event_name == 'workflow_dispatch' && inputs.tag || github.ref_name }}
          echo "tag=${TAG}" >> $GITHUB_OUTPUT

          echo "Generate the effective pom"
          POM_EFFECTIVE="${{runner.temp}}/pom-effective.xml"
          ./mvnw help:effective-pom \
            --quiet \
            -pl "${{ env.CLI_PROJECT }}" \
            "-Doutput=$POM_EFFECTIVE" \
            --settings ".github/cd-maven-settings.xml"

          echo "Project version and tag"
          PROJECT_VERSION=$(yq --exit-status '.project.version' "$POM_EFFECTIVE")
          PROJECT_TAG="v$PROJECT_VERSION"
          PROJECT_VERSION_EFFECTIVE=$PROJECT_VERSION
          if [[ "$PROJECT_VERSION" =~ .*-SNAPSHOT ]]; then
            PROJECT_VERSION_EFFECTIVE=${{env.SNAPSHOT_TAG}}
            PROJECT_TAG=${{env.SNAPSHOT_TAG}}
          fi
          echo "project_version=$PROJECT_VERSION" >> $GITHUB_OUTPUT
          echo "project_version_effective=$PROJECT_VERSION_EFFECTIVE" >> $GITHUB_OUTPUT

          echo "Tag Check"
          if [ "$PROJECT_TAG" != "$TAG" ]; then
            echo "Derived Tag from pom.xml ($PROJECT_TAG) is not the same as the workflow tag $TAG"
            exit 1
          fi

          JDK_VERSION=$(yq --exit-status '.project.properties."jdk.version"' "$POM_EFFECTIVE")
          echo "jdk_version=$JDK_VERSION" >> $GITHUB_OUTPUT

          JDK_DISTRO=$(yq --exit-status '.project.properties."jdk.distribution"' "$POM_EFFECTIVE")
          echo "jdk_distro=$JDK_DISTRO" >> $GITHUB_OUTPUT


      # Cache to not download the maven dependency between matrix run
      # https://github.com/actions/cache/blob/main/examples.md#java---maven
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ steps.props.outputs.jdk_version }}
          distribution: ${{ steps.props.outputs.jdk_distro }}
          cache: maven

      - name: Download Java Archive Artifacts
        uses: actions/download-artifact@v4
        continue-on-error: false
        with:
          pattern: '*-java-archive-*'
          merge-multiple: true # download them to the same directory
          path: ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JAVA_ARCHIVE_ASSEMBLY_NAME}}/java-archive

      - name: Download Jlink Artifacts
        uses: actions/download-artifact@v4
        continue-on-error: false
        with:
          pattern: '*-jlink-*'
          merge-multiple: true # download them to the same directory
          path: ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JLINK_ASSEMBLY_NAME}}/jlink

      - name: Download Jpackage Installer Artifacts
        uses: actions/download-artifact@v4
        continue-on-error: false
        with:
          pattern: '*-jpackage-*'
          merge-multiple: true # download them to the same directory
          path: ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JPACKAGE_ASSEMBLY_NAME}}/jpackage

      - name: Display Downloaded files
        run: |
          echo "JArchive"
          ls ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JAVA_ARCHIVE_ASSEMBLY_NAME}}/java-archive
          echo ""
          echo "Jlink"
          ls ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JLINK_ASSEMBLY_NAME}}/jlink
          echo ""
          echo "Jpackage"
          ls ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JPACKAGE_ASSEMBLY_NAME}}/jpackage

      - name: Import Gpg Signing Key
        shell: bash
        run:
          gpg --batch --yes --passphrase "${{ secrets.GPG_SOFTWARE_SIGNING_PASSPHRASE }}" --import <(echo "${{ secrets.GPG_SOFTWARE_SIGNING_KEY }}")

      - name: JReleaser Full Release
        env:
          # Mandatory passphrase otherwise: gpg: signing failed: Inappropriate ioctl for device
          JRELEASER_GPG_PASSPHRASE: ${{ secrets.GPG_SOFTWARE_SIGNING_PASSPHRASE }}
          # Token
          # JRELEASER_GITHUB_TOKEN should be secrets.GITHUB_TOKEN
          # Otherwise we get another push leading to a recursive start of release workflow
          # see https://github.com/jreleaser/jreleaser/issues/2010
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          JRELEASER_DOCKER_GHCR_IO_PASSWORD: ${{ secrets.RELEASE_TOKEN }}
          JRELEASER_WINGET_GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
          JRELEASER_HOMEBREW_GITHUB_TOKEN: ${{ secrets.RELEASE_TOKEN }}
        shell: bash
        run: |
          set -TCEeuo pipefail
          ./mvnw jreleaser:full-release \
            -pl "${{ env.CLI_PROJECT }}" \
            --no-transfer-progress \
            --batch-mode \
            --settings ".github/cd-maven-settings.xml" \
            -Dorg.slf4j.simpleLogger.defaultLogLevel=warn

      - name: Logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          name: ${{env.PROJECT_NAME}}-jreleaser-logs-${{env.WORKFLOW_ID}}
          path: |
            ${{env.BUILD_DIRECTORY}}/jreleaser/trace.log
            ${{env.BUILD_DIRECTORY}}/jreleaser/output.properties
