# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Release Assemble JPackage
# Jpackage needs the original operating system (ie the installer tools and the c library) to create and compile the native package
# Inspiration: https://github.com/jreleaser/helloworld-java-jpackage/blob/main/.github/workflows/reusable-assemble.yml

# Mandatory (manual)
on:
  # Trigger on button click
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag (vx.x.x or early-access)'
        required: true
        type: string
        default: early-access
      runner:
        description: 'Runner'
        required: false
        type: choice
        default: windows-latest
        options:
          - ubuntu-latest
          - windows-latest
          - macos-latest
          - all
  workflow_call:
    # ! input have to be duplicated with workflow_dispatch
    # Limitations of GitHub: https://github.com/orgs/community/discussions/39357
    inputs:
      runner:
        description: 'Runner'
        required: true
        default: windows-latest
        type: string
      tag:
        description: 'Tag'
        required: true
        type: string


# Constant for entire workflow
env:
  WORKFLOW_ID: 'release-assemble-jpackage' # the workflow name without extension
  CLI_NAME: tabul # (ie app name)
  MSI_INSTALL_LOG_NAME: 'msi-install.log'
  BUILD_DIRECTORY_WINDOWS: 'cli-tabul\target'
  # ###########################################
  # Below are all common release workflow env
  # ###########################################
  COMMAND: 'tabul'
  JRELEASER_JPACKAGE_ASSEMBLY_NAME: 'tabulify-installer' # The jpackage assembly name
  JRELEASER_JLINK_ASSEMBLY_NAME: 'tabulify-jre' # The jlink assembly name
  JRELEASER_JAVA_ARCHIVE_ASSEMBLY_NAME: 'tabulify-nojre'
  CLI_PROJECT: 'cli-tabul'
  # PROJECT_NAME and not TABULIFY_NAME to avoid the tabul error: The tabular env OS environment variable (TABULIFY_NAME) is unknown.
  PROJECT_NAME: 'tabulify'
  BUILD_DIRECTORY: 'cli-tabul/target'
  SNAPSHOT_TAG: 'early-access'

jobs:

  # The name is used as path in GitHub
  # So we get from a release run: release-assemble / assemble-archive
  assemble-jpackage:
    # We can't put any runner context info here unfortunately
    name: 'Assemble ${{ matrix.os }}'
    strategy:
      fail-fast: false
      matrix:
        # List: https://docs.github.com/en/actions/how-tos/write-workflows/choose-where-workflows-run/choose-the-runner-for-a-job#standard-github-hosted-runners-for-public-repositories
        os: ${{ fromJSON(
          inputs.runner == 'all' && '["ubuntu-latest", "windows-latest", "macos-latest"]' ||
          format('["{0}"]', inputs.runner)
          ) }}
    runs-on: ${{ matrix.os }}
    steps:

      # Checkout
      - name: Git Checkout ${{ inputs.tag }}
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tag }}
          fetch-depth: 0

      # Cache to not download the maven dependency between matrix run
      # https://github.com/actions/cache/blob/main/examples.md#java---maven
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-


      # Extract Properties from pom.xml
      - name: Properties
        id: props
        shell: bash
        run: |

          set -TCEeuo pipefail

          # Project version and tag
          # Why not yq even if mvnw help:evaluate is fucking slow
          # Because if yq install failed (ie Download request status is not success)
          # It's more slow as we need to restart the whole archive flow and we need to install it
          PROJECT_VERSION=$(./mvnw help:evaluate -Dexpression=project.version -q -DforceStdout --settings .github/cd-maven-settings.xml)
          PROJECT_TAG="v$PROJECT_VERSION"
          PROJECT_VERSION_NUMBER="$PROJECT_VERSION"
          if [[ "$PROJECT_VERSION" =~ .*-SNAPSHOT ]]; then
            PROJECT_VERSION_NUMBER="${PROJECT_VERSION%-*}"
            PROJECT_VERSION=${{env.SNAPSHOT_TAG}}
            PROJECT_TAG=${{env.SNAPSHOT_TAG}}
          fi
          echo "project_version=$PROJECT_VERSION" >> $GITHUB_OUTPUT
          echo "project_version_number=$PROJECT_VERSION_NUMBER" >> $GITHUB_OUTPUT

          # Check
          TAG="${{ inputs.tag }}"
          if [ "$PROJECT_TAG" != "$TAG" ]; then
            echo "Derived Tag from pom.xml ($PROJECT_TAG) is not the same as the workflow tag $TAG"
            exit 1
          fi

          JDK_VERSION=$(./mvnw help:evaluate -Dexpression=jdk.version -q -DforceStdout --settings .github/cd-maven-settings.xml)
          echo "jdk_version=$JDK_VERSION" >> $GITHUB_OUTPUT

          JDK_DISTRO=$(./mvnw help:evaluate -Dexpression=jdk.distribution -q -DforceStdout --settings .github/cd-maven-settings.xml)
          echo "jdk_distro=$JDK_DISTRO" >> $GITHUB_OUTPUT

          PATH_SEP="/"
          if [ "${{ runner.os }}" = "Windows" ]; then
            PATH_SEP="\\"
          fi
          echo "path_sep=$PATH_SEP" >> $GITHUB_OUTPUT

          # Runner arch normalization
          # https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#runner-context
          case "${{ runner.arch }}" in
            ARM64)
              ARCH_JRELEASER="aarch_64"
              ARCH_ARTIFACT="arm64"
              ;;
            X64)
              ARCH_JRELEASER="x86_64"
              ARCH_ARTIFACT="x64"
              ;;
            *)
              echo "Unknown arch ${{ runner.arch }}"
              exit 1
              ;;
          esac

          # Runner os normalization
          # https://docs.github.com/en/actions/reference/workflows-and-actions/contexts#runner-context
          case "${{ runner.os }}" in
            Windows)
              OS_JRELEASER="windows"
              OS_ARTIFACT="windows"
              ;;
            Linux)
              OS_JRELEASER="linux"
              OS_ARTIFACT="linux"
              ;;
            macOS)
              OS_JRELEASER="osx"
              OS_ARTIFACT="macos"
              ;;
            *)
              echo "Unknown arch ${{ runner.arch }}"
              exit 1
              ;;
          esac
          echo "os_artifact=${OS_ARTIFACT}" >> $GITHUB_OUTPUT

          # Platform - The os and runner id
          # The name uses to download the jdk. It's unique by runner and unique by jdk
          PLATFORM_JRELEASER="${OS_JRELEASER}-${ARCH_JRELEASER}";
          echo "platform_jreleaser=${PLATFORM_JRELEASER}" >> $GITHUB_OUTPUT
          PLATFORM_ARTIFACT="${OS_ARTIFACT}-${ARCH_ARTIFACT}";
          echo "platform_artifact=${PLATFORM_ARTIFACT}" >> $GITHUB_OUTPUT


      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ steps.props.outputs.jdk_version }}
          distribution: ${{ steps.props.outputs.jdk_distro }}
          cache: maven

      # Still needed by JPackage to compile the binary
      - name: Maven Setup JDKs
        # The shell is bash on Linux and Powershell in Windows
        # The quotes are mandatory for Windows otherwise it will see -Djdk.name=xxx as powershell parameter
        run: ./mvnw -Pjdks "-Djdk.name=${{ steps.props.outputs.jdk_distro }}-${{ steps.props.outputs.platform_artifact }}" -pl "${{ env.CLI_PROJECT }}" --no-transfer-progress --batch-mode  --settings ".github${{ steps.props.outputs.path_sep }}cd-maven-settings.xml"

      # Build jar, still needed by Jpackage even with the jlink zip because it just takes the runtime, not the app
      - name: Install the jars
        shell: bash
        # We can't use maven.test.skip because maven needs to resolve all dependency
        # or maven.test.skip skips test compilation that skip the creation of the test jar tabulify-tabul-jdbc
        # To use maven.test.skip we need to move all test in a real module, not a test jar
        # -P!adhoc avoid temporary artifact
        run: ./mvnw install -DskipTests -P!adhoc --batch-mode --no-transfer-progress --settings ".github${{ steps.props.outputs.path_sep }}cd-maven-settings.xml" -Dorg.slf4j.simpleLogger.defaultLogLevel=warn

      # Build jar, still needed by Jpackage even with the jlink zip because it just takes the runtime, not the app
      - name: Maven Copy dependencies
        run: ./mvnw -Pdeps -pl "${{ env.CLI_PROJECT }}" --no-transfer-progress --batch-mode --quiet --settings ".github${{ steps.props.outputs.path_sep }}cd-maven-settings.xml"

      # Wix v3 is needed by Jpackage
      - name: Winget Install WiX v3
        if: runner.os == 'Windows'
        # silent = no GUI windows, progress bars, or installer dialogs
        # force = to avoid the error: `Found an existing package already installed`
        # https://learn.microsoft.com/en-us/windows/package-manager/winget/install
        run: winget install -e --id WiXToolset.WiXToolset -v 3.14.1.8722 --silent --accept-source-agreements --accept-package-agreements --force

      # Jlink and Jpackage assembly
      - name: JReleaser Assemble
        # The shell is bash on Linux and Powershell in Windows
        # The quotes are mandatory for Windows otherwise it will see -Djreleaser.select as powershell parameter
        run: ./mvnw jreleaser:assemble -pl "${{ env.CLI_PROJECT }}" "-Djreleaser.select.current.platform" --no-transfer-progress --batch-mode --settings ".github${{ steps.props.outputs.path_sep }}cd-maven-settings.xml"

      - name: Test Windows MSI file installation
        if: runner.os == 'Windows'
        shell: pwsh
        run: |

          # Error handling (is fucked)
          Set-StrictMode -Version Latest
          $ErrorActionPreference = "Stop"
          $PSNativeCommandUseErrorActionPreference = $true
          $PSDefaultParameterValues['*:ErrorAction'] = 'Stop'
          function ExitOnFailure { if (-not $?) { exit $LASTEXITCODE } }

          # Listing files to get the name of the created msi
          ls ${{env.BUILD_DIRECTORY_WINDOWS}}\jreleaser\assemble\${{env.JRELEASER_JPACKAGE_ASSEMBLY_NAME}}\jpackage

          # App Name is fixed, we can't change it
          Start-Process msiexec.exe `
            -ArgumentList '/i "${{env.BUILD_DIRECTORY_WINDOWS}}\jreleaser\assemble\${{env.JRELEASER_JPACKAGE_ASSEMBLY_NAME}}\jpackage\${{env.CLI_NAME}}-${{ steps.props.outputs.project_version_number }}.msi" /qn /norestart /l*v "${{env.BUILD_DIRECTORY_WINDOWS}}\${{env.MSI_INSTALL_LOG_NAME}}"' `
            -Wait -NoNewWindow
          ExitOnFailure

          # Should contains the package
          Write-Host ("User Path: "+ [System.Environment]::GetEnvironmentVariable("Path","User"))

          # Refresh PATH for current session
          $env:Path = [System.Environment]::GetEnvironmentVariable("Path","Machine") + ";" + [System.Environment]::GetEnvironmentVariable("Path","User")

          # Verify command
          ${{env.CLI_NAME}} --version
          ExitOnFailure

      - name: Upload log
        if: always()
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1 # 90 by default
          name: ${{env.PROJECT_NAME}}-logs-${{env.WORKFLOW_ID}}-${{ steps.props.outputs.project_version }}-${{ steps.props.outputs.platform_artifact }}
          path: |
            ${{env.BUILD_DIRECTORY}}/jreleaser/trace.log
            ${{env.BUILD_DIRECTORY}}/jreleaser/output.properties
            ${{env.BUILD_DIRECTORY}}/${{env.MSI_INSTALL_LOG_NAME}}

      # Upload Jpackage native package
      # Jlink artifact is not in this upload because we download them into a different directory
      # ie JReleaser expects the Jlink and Native Package in different directory
      - name: Upload Jpackage Native Package
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1 # 90 by default
          name: ${{env.PROJECT_NAME}}-jpackage-${{ steps.props.outputs.project_version }}-${{ steps.props.outputs.platform_artifact }}
          path: |
            ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JPACKAGE_ASSEMBLY_NAME}}/jpackage/*.pkg
            ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JPACKAGE_ASSEMBLY_NAME}}/jpackage/*.msi
            ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JPACKAGE_ASSEMBLY_NAME}}/jpackage/*.deb
            ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JPACKAGE_ASSEMBLY_NAME}}/jpackage/*.rpm
