# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Release Assemble Archive
# Create Jlink And Java Archive

on:
  # Trigger on button click
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to checkout (vx.x.x or early-access)'
        required: true
        type: string
  # Trigger from another workflow
  workflow_call:
    inputs:
      tag:
        description: 'Tag to checkout (vx.x.x or early-access)'
        required: true
        type: string


# Constant for entire workflow
env:
  WORKFLOW_ID: 'release-assemble-archive' # the workflow name without extension
  # ###########################################
  # Below are all common release workflow env
  # ###########################################
  COMMAND: 'tabul'
  JRELEASER_JPACKAGE_ASSEMBLY_NAME: 'tabulify-installer' # The jpackage assembly name
  JRELEASER_JLINK_ASSEMBLY_NAME: 'tabulify-jre' # The jlink assembly name
  JRELEASER_JAVA_ARCHIVE_ASSEMBLY_NAME: 'tabulify-nojre'
  CLI_PROJECT: 'cli-tabul'
  # PROJECT_NAME and not TABULIFY_NAME to avoid: The tabular env OS environment variable (TABULIFY_NAME) is unknown.
  PROJECT_NAME: 'tabulify'
  BUILD_DIRECTORY: 'cli-tabul/target'
  SNAPSHOT_TAG: 'early-access'

jobs:

  # Assemble artifacts except installers
  # Release all generated artifacts
  # The name is used as path in GitHub
  # so we get: release-assemble / assemble-archive / assemble
  assemble:
    runs-on: ubuntu-latest
    # setup-java may be in a loop - entire job times out after 15 minutes
    timeout-minutes: 15
    steps:

      # Checkout first as we do a control on the pom.xml version
      - name: Git Checkout ${{ inputs.tag }}
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tag }}
          fetch-depth: 0

      # Homebrew is installed but not in the path
      # https://github.com/actions/runner-images/issues/6283
      - name: Homebrew Setup
        run: echo "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH
      - name: Homebrew Utility Installation
        run: brew install yq

      # Extract Props from pom.xml
      - name: Props And Version Check ${{ inputs.tag }}
        id: props
        shell: bash
        run: |

          set -TCEeuo pipefail

          # Tag
          TAG=${{ inputs.tag }}
          echo "tag=${TAG}" >> $GITHUB_OUTPUT

          # Generate the effective pom
          POM_EFFECTIVE="${{runner.temp}}/pom-effective.xml"
          ./mvnw help:effective-pom \
            --quiet \
            -pl "${{ env.CLI_PROJECT }}" \
            "-Doutput=$POM_EFFECTIVE" \
            --settings ".github/cd-maven-settings.xml"

          # Project version and tag
          PROJECT_VERSION=$(yq --exit-status '.project.version' "$POM_EFFECTIVE")
          PROJECT_TAG="v$PROJECT_VERSION"
          PROJECT_VERSION_EFFECTIVE=$PROJECT_VERSION
          if [[ "$PROJECT_VERSION" =~ .*-SNAPSHOT ]]; then
            PROJECT_VERSION_EFFECTIVE=${{env.SNAPSHOT_TAG}}
            PROJECT_TAG=${{env.SNAPSHOT_TAG}}
          fi
          echo "project_version=$PROJECT_VERSION" >> $GITHUB_OUTPUT
          echo "project_version_effective=$PROJECT_VERSION_EFFECTIVE" >> $GITHUB_OUTPUT

          # Check
          if [ "$PROJECT_TAG" != "$TAG" ]; then
            echo "Derived Tag from pom.xml ($PROJECT_TAG) is not the same as the workflow tag $TAG"
            exit 1
          fi

          JDK_VERSION=$(yq --exit-status '.project.properties."jdk.version"' "$POM_EFFECTIVE")
          echo "jdk_version=$JDK_VERSION" >> $GITHUB_OUTPUT

          JDK_DISTRO=$(yq --exit-status '.project.properties."jdk.distribution"' "$POM_EFFECTIVE")
          echo "jdk_distro=$JDK_DISTRO" >> $GITHUB_OUTPUT


      # Cache to not download the maven dependency between matrix run
      # https://github.com/actions/cache/blob/main/examples.md#java---maven
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ steps.props.outputs.jdk_version }}
          distribution: ${{ steps.props.outputs.jdk_distro }}
          cache: maven

      # Build and install jars
      - name: Install the jars
        shell: bash
        # We can't use maven.test.skip because maven needs to resolve all dependency
        # or maven.test.skip skips test compilation that skip the creation of the test jar tabulify-tabul-jdbc
        # To use maven.test.skip we need to move all test in a real module, not a test jar
        # -P!adhoc avoid temporary artifact
        run: |
          ./mvnw install \
            -DskipTests \
            -P!adhoc \
            --batch-mode \
            --settings ".github/cd-maven-settings.xml" \
            -Dorg.slf4j.simpleLogger.defaultLogLevel=warn

      # Run the jdks profile default goal with maven wrapper
      - name: Maven Download JDKs
        shell: bash
        run: |
          ./mvnw -Pjdks \
            -pl "${{ env.CLI_PROJECT }}" \
            --no-transfer-progress \
            --batch-mode \
            --settings ".github/cd-maven-settings.xml" \
            -Dorg.slf4j.simpleLogger.defaultLogLevel=warn

      # Run the deps profile default goal with maven wrapper
      # Jlink packaging needs them
      - name: Maven Copy dependencies
        shell: bash
        run: |
          ./mvnw -Pdeps \
            -pl "${{ env.CLI_PROJECT }}" \
            --no-transfer-progress \
            --batch-mode \
            --settings ".github/cd-maven-settings.xml" \
            -Dorg.slf4j.simpleLogger.defaultLogLevel=warn

      # Create Java Archive
      - name: Java Archive Assemble
        shell: bash
        run: |
          ./mvnw jreleaser:assemble \
            -Djreleaser.assemblers=javaArchive \
            -pl "${{ env.CLI_PROJECT }}" \
            --no-transfer-progress \
            --batch-mode \
            --settings ".github/cd-maven-settings.xml" \
            -Dorg.slf4j.simpleLogger.defaultLogLevel=warn

      # Test Java Archive
      - name: Java Archive Test
        shell: bash
        run: |
          set -TCEeuo pipefail

          # Unzip
          ARCHIVE_NAME="${{ env.PROJECT_NAME }}-${{ steps.props.outputs.project_version_effective }}-nojre"
          JAVA_ARCHIVE=${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JAVA_ARCHIVE_ASSEMBLY_NAME}}/java-archive/${ARCHIVE_NAME}.zip
          UNZIP_TARGET="${{runner.temp}}"
          unzip -q "$JAVA_ARCHIVE" -d "$UNZIP_TARGET"

          # Version Check
          APP_ROOT="${UNZIP_TARGET}/${ARCHIVE_NAME}"
          if ! OUTPUT=$("${APP_ROOT}/bin/${{ env.COMMAND }}" --version); then
            echo "Error while running ${{ env.COMMAND }}"
            exit 1
          fi
          if [[ ! $OUTPUT =~ ${{ steps.props.outputs.project_version }} ]]; then
            echo "Version output does not contains the version (${{ steps.props.outputs.project_version }})"
            echo -e "Version output: $OUTPUT"
            exit 1
          fi

          # Resource check
          ENTITY_DIR="${APP_ROOT}/resources/entity"
          if [ ! -d  "$ENTITY_DIR" ]; then
            echo "Entity resources directory is missing ($ENTITY_DIR)"
            echo "File in archives"
            ls -R "${APP_ROOT}"
            exit 1
          fi
          HOWTO_DIR="${APP_ROOT}/resources/howto"
          if [ ! -d  "$HOWTO_DIR" ]; then
            echo "Howto resources directory is missing ($HOWTO_DIR)"
            echo "File in archives"
            ls -R "${APP_ROOT}"
            exit 1
          fi
          TPCDS_DIR="${APP_ROOT}/resources/tpcds_query"
          if [ ! -d  "$TPCDS_DIR" ]; then
            echo "TpcDsQuery resources directory is missing ($TPCDS_DIR)"
            echo "File in archives"
            ls -R "${APP_ROOT}"
            exit 1
          fi

      # Upload Java Archive
      - name: Java Archive Upload
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1 # 90 by default
          name: ${{env.PROJECT_NAME}}-java-archive-${{ steps.props.outputs.project_version_effective }}
          path: |
            ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JAVA_ARCHIVE_ASSEMBLY_NAME}}/java-archive/*.zip
            ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JAVA_ARCHIVE_ASSEMBLY_NAME}}/java-archive/*.tar.gz

      # Jlink assembly
      - name: Jlink Archive Assemble
        shell: bash
        run: |
          ./mvnw jreleaser:assemble \
            -Djreleaser.assemblers=jlink \
            -pl "${{ env.CLI_PROJECT }}" \
            --no-transfer-progress \
            --batch-mode \
            --settings ".github/cd-maven-settings.xml" \
            -Dorg.slf4j.simpleLogger.defaultLogLevel=warn

      # Test Java Archive
      # We test only the zip
      - name: Jlink Test
        shell: bash
        run: |
          set -TCEeuo pipefail

          # Unzip
          ARCHIVE_NAME="${{ env.PROJECT_NAME }}-${{ steps.props.outputs.project_version_effective }}-jre-linux-x64"
          JAVA_ARCHIVE=${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JLINK_ASSEMBLY_NAME}}/jlink/$ARCHIVE_NAME.zip
          UNZIP_TARGET="${{runner.temp}}"
          unzip -q "$JAVA_ARCHIVE" -d "$UNZIP_TARGET"

          # Version Check
          APP_ROOT="${UNZIP_TARGET}/${ARCHIVE_NAME}"
          if ! OUTPUT=$("${APP_ROOT}/bin/${{ env.COMMAND }}" --version); then
            echo "Error while running ${{ env.COMMAND }}"
            exit 1
          fi
          if [[ ! $OUTPUT =~ ${{ steps.props.outputs.project_version }} ]]; then
            echo "Version output does not contains the version (${{ steps.props.outputs.project_version }})"
            echo -e "Version output: $OUTPUT"
            exit 1
          fi

          # Resource check
          ENTITY_DIR="${APP_ROOT}/resources/entity"
          if [ ! -d  "$ENTITY_DIR" ]; then
            echo "Entity resources directory is missing ($ENTITY_DIR)"
            echo "File in archives"
            ls -R "${APP_ROOT}"
            exit 1
          fi
          HOWTO_DIR="${APP_ROOT}/resources/howto"
          if [ ! -d  "$HOWTO_DIR" ]; then
            echo "Howto resources directory is missing ($HOWTO_DIR)"
            echo "File in archives"
            ls -R "${APP_ROOT}"
            exit 1
          fi
          TPCDS_DIR="${APP_ROOT}/resources/tpcds_query"
          if [ ! -d  "$TPCDS_DIR" ]; then
            echo "TpcDsQuery resources directory is missing ($TPCDS_DIR)"
            echo "File in archives"
            ls -R "${APP_ROOT}"
            exit 1
          fi

      # Upload JLink
      - name: Upload JLink Windows
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1 # 90 by default
          name: ${{env.PROJECT_NAME}}-jlink-${{ steps.props.outputs.project_version_effective }}-windows
          path: |
            ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JLINK_ASSEMBLY_NAME}}/jlink/*windows*.zip

      - name: Upload JLink Linux
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1 # 90 by default
          name: ${{env.PROJECT_NAME}}-jlink-${{ steps.props.outputs.project_version_effective }}-linux
          path: |
            ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JLINK_ASSEMBLY_NAME}}/jlink/*linux*.zip

      - name: Upload JLink Alpine
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1 # 90 by default
          name: ${{env.PROJECT_NAME}}-jlink-${{ steps.props.outputs.project_version_effective }}-alpine
          path: |
            ${{env.BUILD_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JLINK_ASSEMBLY_NAME}}/jlink/*alpine*.zip

      - name: Upload Logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          name: ${{env.PROJECT_NAME}}-${{env.PROJECT_NAME}}-logs-${{env.WORKFLOW_ID}}
          path: |
            ${{env.BUILD_DIRECTORY}}/jreleaser/trace.log
            ${{env.BUILD_DIRECTORY}}/jreleaser/output.properties
