# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Release Assemble Archive
# Create Jlink And Java Archive

on:
  # Trigger on button click
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag to checkout (vx.x.x or early-access)'
        required: true
        type: string
  # Trigger from another workflow
  workflow_call:
    inputs:
      tag:
        description: 'Tag to checkout (vx.x.x or early-access)'
        required: true
        type: string


# Constant for entire workflow
env:
  COMMAND: tabul
  JRELEASER_JPACKAGE_ASSEMBLY_NAME: 'tabulify-installer' # The jpackage assembly name
  JRELEASER_JLINK_ASSEMBLY_NAME: 'tabulify-jre' # The jlink assembly name
  JRELEASER_JAVA_ARCHIVE_ASSEMBLY_NAME: 'tabulify-nojre'
  CLI_PROJECT: 'cli-tabul'
  ARCHIVE_PREFIX: tabulify
  TARGET_DIRECTORY: 'cli-tabul/target'
  WORKFLOW_ID: release-assemble-archive # the workflow name without extension

jobs:

  # Assemble artifacts except installers
  # Release all generated artifacts
  # The name is used as path in GitHub
  # so we get: release-assemble / assemble-archive / assemble
  assemble:
    runs-on: ubuntu-latest
    steps:

      # Checkout first as we do a control on the pom.xml version
      - name: Git Checkout ${{ inputs.tag }}
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tag }}
          fetch-depth: 0

      # Homebrew is installed but not in the path
      # https://github.com/actions/runner-images/issues/6283
      - name: Homebrew Setup
        run: echo "/home/linuxbrew/.linuxbrew/bin:/home/linuxbrew/.linuxbrew/sbin" >> $GITHUB_PATH
      - name: Homebrew Utility Installation
        run: brew install yq

      # Extract Props from pom.xml
      - name: Props And Version Check ${{ inputs.tag }}
        id: props
        shell: bash
        run: |

          set -TCEeuo pipefail

          # Tag
          TAG=${{ inputs.tag }}
          echo "tag=${TAG}" >> $GITHUB_OUTPUT

          # Generate the effective pom
          POM_EFFECTIVE="${{runner.temp}}/pom-effective.xml"
          ./mvnw help:effective-pom --quiet -pl "${{ env.CLI_PROJECT }}" "-Doutput=$POM_EFFECTIVE"

          # Project version and tag
          PROJECT_VERSION=$(yq --exit-status '.project.version' "$POM_EFFECTIVE")
          PROJECT_TAG="v$PROJECT_VERSION"
          if [[ "$PROJECT_VERSION" =~ .*-SNAPSHOT ]]; then
            PROJECT_VERSION=early-access
            PROJECT_TAG=early-access
          fi
          echo "project_version=$PROJECT_VERSION" >> $GITHUB_OUTPUT

          # Check
          if [ "$PROJECT_TAG" != "$TAG" ]; then
            echo "Derived Tag from pom.xml ($PROJECT_TAG) is not the same as the workflow tag $TAG"
            exit 1
          fi

          JDK_VERSION=$(yq --exit-status '.project.properties."jdk.version"' "$POM_EFFECTIVE")
          echo "jdk_version=$JDK_VERSION" >> $GITHUB_OUTPUT

          JDK_DISTRO=$(yq --exit-status '.project.properties."jdk.distribution"' "$POM_EFFECTIVE")
          echo "jdk_distro=$JDK_DISTRO" >> $GITHUB_OUTPUT


      # Cache to not download the maven dependency between matrix run
      # https://github.com/actions/cache/blob/main/examples.md#java---maven
      - name: Cache local Maven repository
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Setup Java
        uses: actions/setup-java@v5
        with:
          java-version: ${{ steps.props.outputs.jdk_version }}
          distribution: ${{ steps.props.outputs.jdk_distro }}
          cache: maven

      # Build and install jars
      - name: Install the jars
        shell: bash
        # maven.test.skip: skips test compilation, execution, and test dependency downloads entirely.
        run: |
          ./mvnw install \
            -Dmaven.test.skip=true \
            --batch-mode \
            -Dorg.slf4j.simpleLogger.defaultLogLevel=warn

      # Run the jdks profile default goal with maven wrapper
      - name: Maven Download JDKs
        shell: bash
        run: |
          ./mvnw -Pjdks \
            -pl "${{ env.CLI_PROJECT }}" \
            --no-transfer-progress \
            --batch-mode \
            -Dorg.slf4j.simpleLogger.defaultLogLevel=warn

      # Run the deps profile default goal with maven wrapper
      # Jlink packaging needs them
      - name: Maven Copy dependencies
        shell: bash
        run: |
          ./mvnw -Pdeps \
            -pl "${{ env.CLI_PROJECT }}" \
            --no-transfer-progress \
            --batch-mode \
            -Dorg.slf4j.simpleLogger.defaultLogLevel=warn

      # Create Java Archive
      - name: Java Archive Assemble
        shell: bash
        run: |
          ./mvnw jreleaser:assemble \
            -Djreleaser.assemblers=javaArchive \
            -pl "${{ env.CLI_PROJECT }}" \
            --no-transfer-progress \
            --batch-mode \
            -Dorg.slf4j.simpleLogger.defaultLogLevel=warn

      # Test Java Archive
      - name: Java Archive Test
        shell: bash
        run: |
          set -TCEeuo pipefail
          ARCHIVE_NAME="${{ env.ARCHIVE_PREFIX }}-${{ steps.props.outputs.project_version }}-nojre"
          JAVA_ARCHIVE=${{env.TARGET_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JAVA_ARCHIVE_ASSEMBLY_NAME}}/java-archive/${ARCHIVE_NAME}.zip
          UNZIP_TARGET="${{runner.temp}}"
          unzip "$JAVA_ARCHIVE" -d "$UNZIP_TARGET"
          if ! OUTPUT=$($UNZIP_TARGET/${ARCHIVE_NAME}/bin/${{ env.COMMAND }} --version); then
            echo "Error while running ${{ env.COMMAND }}"
            exit 1
          fi
          if [[ ! $OUTPUT =~ "${{ steps.props.outputs.project_version }}" ]]; then
            echo "Version output does not contains the version"
            echo "Version output: \n$OUTPUT"
            exit 1
          fi

      # Upload Java Archive
      - name: Java Archive Upload
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1 # 90 by default
          name: java-archive-${{ steps.props.outputs.project_version }}
          path: |
            ${{env.TARGET_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JAVA_ARCHIVE_ASSEMBLY_NAME}}/java-archive/*.zip
            ${{env.TARGET_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JAVA_ARCHIVE_ASSEMBLY_NAME}}/java-archive/*.tar.gz

      # Jlink assembly
      - name: Jlink Archive Assemble
        shell: bash
        run: |
          ./mvnw jreleaser:assemble \
            -Djreleaser.assemblers=jlink \
            -pl "${{ env.CLI_PROJECT }}" \
            --no-transfer-progress \
            --batch-mode \
            -Dorg.slf4j.simpleLogger.defaultLogLevel=warn

      # Test Java Archive
      # We test only the zip
      - name: Jlink Test
        shell: bash
        run: |
          set -TCEeuo pipefail
          ARCHIVE_NAME="${{ env.ARCHIVE_PREFIX }}-${{ steps.props.outputs.project_version }}-jre-linux-x64"
          JAVA_ARCHIVE=${{env.TARGET_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JLINK_ASSEMBLY_NAME}}/jlink/$ARCHIVE_NAME.zip
          UNZIP_TARGET="${{runner.temp}}"
          unzip "$JAVA_ARCHIVE" -d "$UNZIP_TARGET"
          if ! OUTPUT=$($UNZIP_TARGET/${ARCHIVE_NAME}/bin/${{ env.COMMAND }} --version); then
            echo "Error while running ${{ env.COMMAND }}"
            exit 1
          fi
          if [[ ! $OUTPUT =~ "${{ steps.props.outputs.project_version }}" ]]; then
            echo "Version output does not contains the version"
            echo "Version output: \n$OUTPUT"
            exit 1
          fi

      # Upload JLink
      - name: Upload JLink Windows
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1 # 90 by default
          name: jlink-${{ steps.props.outputs.project_version }}-windows
          path: |
            ${{env.TARGET_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JLINK_ASSEMBLY_NAME}}/jlink/*windows*.zip

      - name: Upload JLink Linux
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1 # 90 by default
          name: jlink-${{ steps.props.outputs.project_version }}-linux
          path: |
            ${{env.TARGET_DIRECTORY}}/jreleaser/assemble/${{env.JRELEASER_JLINK_ASSEMBLY_NAME}}/jlink/*linux*.zip

      - name: JReleaser Logs
        if: always()
        uses: actions/upload-artifact@v4
        with:
          retention-days: 1
          name: jreleaser-logs-${{env.WORKFLOW_ID}}
          path: |
            ${{env.TARGET_DIRECTORY}}/jreleaser/trace.log
            ${{env.TARGET_DIRECTORY}}/jreleaser/output.properties
